/* CSS Document */


/***************************************************************************************
        
        GENEGRAL LAYOUT GUIDELINES	
        FONT: font-family: 'Open Sans', sans-serif;
        font-family: 'sans-serif', serif;
        Available Weights:400,600,700
        ***************************************************************************************/


/***************************************************************************************

                * GENERAL STARTS

                ***************************************************************************************/

                *,
                * * {
                    margin: 0;
                    padding: 0;
                    font-size: 1em;
                    position: relative;
                    box-sizing: border-box;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    -webkit-tap-highlight-color: transparent;
                    -webkit-text-size-adjust: 100%;
                    -webkit-font-smoothing: antialiased;
                }

                body {
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 14px;
                }

                a {
                    color: #458cc9;
                }

                a.active,
                a:hover {
                    color: #1c354f;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    line-height: 18px;
                }

                p a {
                    color: #1a5ca0
                }

                p a:hover {
                    color: #1c354f;
                    border-color: #777777;
                }

                hr {
                    height: 2px;
                    background: #929292
                }

                .clear {
                    clear: both;
                }


/***************************************************************************************
        
        * HEADINGS STARTS
        
        ***************************************************************************************/


        /* All Headings */


        /* Individual Headings */

        h1,
        .page-title,
        .content-header >h1 {
            font-size: 44px;
            margin: 5px 0;
            line-height: 38px;
            font-weight: 400;
            color: #1a5ca0;
        }

        h2,
        .sub-title {
            font-size: 26px;
            margin: 10px 0;
            line-height: 26px;
            color: #a9a9a9;
        }

        h3 {
            font-size: 17px;
            margin: 10px 0;
            line-height: 18px;
            letter-spacing: 1px;
        }

        h4 {
            font-size: 17px;
            margin: 20px 0;
            line-height: 1.3em;
            font-weight: 700;
        }

        h5 {
            font-size: 15px;
            margin: 20px 0;
            line-height: 1.5em;
            text-transform: uppercase;
            color: #999999;
        }

        h6 {
            font-size: 17px;
            margin: 20px 0;
            line-height: 1.3em;
        }


/***************************************************************************************
        
        * form css STARTS
        
        ***************************************************************************************/

        label {
            letter-spacing: 1px;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            transition: background-color 5000s ease-in-out 0s;
        }

        input[type=password],
        input[type=email],
        input[type=text],
        input[type=number] {
            border-radius: 30px !important;
            box-shadow: 1px 3px 4px #cbcbcb inset !important;
            border: 1px solid #a2a2a2 !important;
        }

        textarea.form-control,
        textarea {
            border-radius: 12px !important;
            box-shadow: 1px 3px 4px #cbcbcb inset !important;
            border: 1px solid #a2a2a2 !important;
        }

        input[type=password]:focus,
        input[type=email]:focus,
        input[type=text]:focus,
        input[type=number]:focus,
        textarea:focus {
            box-shadow: 1px 3px 4px #cbcbcb inset;
        }

        .btn-without-bg {
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 100px;
            background: transparent;
            font-size: 20px;
            text-transform: uppercase;
            padding: 5px 27px;
            transition: all 0.5s ease;
        }

        .btn-without-bg:hover {
            color: #fff;
        }

        .btn {
            border-radius: 30px;
            font-size: 15px;
            text-transform: uppercase;
            padding: 5px 27px;
            transition: background 0.5s ease 0s;
        }

        .btn-blue {
            background: #1f5ca0;
            color: #fff;
        }

        .btn-blue:hover {
            background: #193048;
            color: #fff;
        }

        .btn-grey {
            background: #e6e6e6;
            color: #15589e;
        }

        .btn-grey:hover {
            background: #d8d8d8;
            color: #15589e;
        }

        .btn-primary:hover {
            background: #fff;
            border-color: #fff;
            color: #333;
        }

        .ui-widget-content .grid-icon {
            border: 1px solid #666666;
            border-radius: 50%;
            color: #999999 !important;
            display: inline-block;
            font-size: 11px;
            height: 20px;
            line-height: 12px;
            margin-right: 6px;
            padding: 3px;
            text-align: center;
            transition: background 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
            vertical-align: top;
            width: 20px;
            cursor: pointer;
        }

        .ui-widget-content .grid-icon:hover {
            background: #2a79c8;
            color: #fff !important;
            border: 1px solid #2a79c8;
        }

        .required:after {
            content: '*';
            color: red;
            padding-left: 5px;
        }


/***************************************************************************************
        
        * WRAPPER CSS STARTS
        
        ***************************************************************************************/

        .content {
            padding: 7px 15px 15px;
        }


        /*Login css*/

        .frontend-page {
            background-image: url(../images/login-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover
        }

        .login-box-msg,
        .register-box-msg {
            margin: 0;
            padding: 0 20px 12px 0;
            font-size: 20px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            margin-bottom: 28px
        }

        .form-control:focus {
            border-color: #0a69c8
        }

        .login-page,
        .register-page {
            background-color: #ccc
        }

        .btn-danger,
        .btn-success {
            background-color: #e63f24;
            border-color: #e63f24;
            color: #fff
        }

        .btn-success:hover,
        .btn-success:active,
        .btn-success.hover,
        .btn-success.active.focus,
        .btn-success.active:focus,
        .btn-success.active:hover,
        .btn-success:active.focus,
        .btn-success:active:focus,
        .btn-success:active:hover,
        .open>.dropdown-toggle.btn-success.focus,
        .open>.dropdown-toggle.btn-success:focus,
        .open>.dropdown-toggle.btn-success:hover,
        .btn-success.focus,
        .btn-success:focus {
            background-color: #d73925;
            border-color: #d73925
        }

        .page-heading{
         background-color:#0e539d;
         margin:0;
         color:#fff;
         font-size:24px;
         font-weight:300;
     }
     /*Accordion CSS start*/

     #accordion .panel-heading { padding: 0;}


     #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
        content:"\f107";
        float: right;
        font-family: 'FontAwesome';
        color:#4585c0;
        font-size: 22px;
    }
    #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before{
        content:"\f106";

    }

    .accordion-section .panel-heading{
     border-radius:0;

     color:#fff;
     border:0;
 }
 .nested a::before{
     color:#000;
 }
 .accordion-section .panel-group .panel{
     border-radius:0;
     border:0;
     -webkit-box-shadow:inherit;
     box-shadow: inherit;

 }
 .accordion-section .panel-title > a {
     display: block;
     padding:9px 15px;
     outline: none;
     font-weight:400;
     text-decoration: none;
     background-color: #0e447a;
     color: #fff;
     font-size:14px;
 }

 .accordion-section .panel-title > a.collapsed {
     background-color:#0d447a;
     color:#fff;
 }
 .accordion-section .nested a{
     background-color:#d5d5d5 !important;
     color:#404040 !important;
     font-size: 14px !important;
 }
 .accordion-section .nested a[data-toggle="collapse"]::before{
     color:#000 !important;
 }
 .accordion-section .panel-group .panel+.panel {
    margin-top: 2px;
}
.accordion-section .panel-default>.panel-heading+.panel-collapse>.panel-body p{
	font-size:14px;
	line-height:18px;
	color:#969696;
}
.img-color{
	background-color:#999999;
	height:256px;
	width:100%;
}
.nested{
	margin-top:2px;
	margin-bottom:0;
}
.team-member{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
.member-images{
	border:3px solid #cccccc;
	padding:5px;
	display:inline-block;
	border-radius:50%;
	width: 115px;
    height: 115px;
    vertical-align: middle;
}
.member-name{
	display:inline-block;
	margin-left:10px;
	color:#11559c;
	font-size:14px;
 vertical-align: middle;
}
.member-name span{
	display:block;
	color:#999999;
}
.member-arrow{
	display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 15px;
    margin-top: 39px;
    font-size: 26px;
}
.team-member:last-child{
	margin-bottom:0;
	border:0;
	padding-bottom:0;
}
.accordion-section .nested a.email-o2h {
    background-color: transparent !important;
    color:#11559c !important;
    background-image:url(http://192.192.6.15/o2h/public/images/email-icon.png);
    background-position:left;
    background-repeat:no-repeat;
    padding: 8px 0 8px 40px;
    font-weight:500;
}
.center-name{
	font-weight:500;
	color:#333333;
}


/*Accordion CSS start*/