/* CSS Document */


/***************************************************************************************
        
        GENEGRAL LAYOUT GUIDELINES	
        FONT: font-family: 'Roboto', sans-serif;
        Available Weights:400,600,700
        ***************************************************************************************/


/***************************************************************************************

                * GENERAL STARTS

                ***************************************************************************************/
                @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

                *,
                * * {
                    margin: 0;
                    padding: 0;
                    font-size: 1em;
                    position: relative;
                    box-sizing: border-box;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    -webkit-tap-highlight-color: transparent;
                    -webkit-text-size-adjust: 100%;
                    -webkit-font-smoothing: antialiased;
                }

                body {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color:#707070
                }

                a {
                    color: #ed1c24;
                }

                a.active,
                a:hover {
                    color: #00aae4;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    line-height: 18px;
                }

                p a {
                    color: #1a5ca0
                }

                p a:hover {
                    color: #1c354f;
                    border-color: #777777;
                }

                hr {
                    height: 2px;
                    background: #929292
                }

                .clear {
                    clear: both;
                }


/***************************************************************************************

* HEADINGS STARTS

***************************************************************************************/


/* All Headings */


/* Individual Headings */

h1,
.page-title,
.content-header >h1 {
    font-size: 32px;
    margin: 5px 0;
    line-height: 38px;
    font-weight: 300;
    color: #707070;
    text-transform: uppercase;
}

.page-title,
.content-header >h1 strong{
    color: #ed1c24;
    font-weight: 900;
}

h2,
.sub-title {
    font-size: 26px;
    margin: 10px 0;
    line-height: 26px;
    color: #a9a9a9;
}

h3 {
    font-size: 17px;
    margin: 10px 0;
    line-height: 18px;
    letter-spacing: 1px;
}

h4 {
    font-size: 17px;
    margin: 20px 0;
    line-height: 1.3em;
    font-weight: 700;
}

h5 {
    font-size: 15px;
    margin: 20px 0;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #999999;
}

h6 {
    font-size: 17px;
    margin: 20px 0;
    line-height: 1.3em;
}


/***************************************************************************************
        
        * form css STARTS
        
        ***************************************************************************************/

        label {
           color:#444444;
       }

       input:-webkit-autofill,
       input:-webkit-autofill:hover,
       input:-webkit-autofill:focus input:-webkit-autofill,
       textarea:-webkit-autofill,
       textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
       select:-webkit-autofill,
       select:-webkit-autofill:hover,
       select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type=password],
    input[type=email],
    input[type=text],
    input[type=number] {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: 1px solid #d7d7d7 !important;
        padding: 6px 11px;
        height: 40px;
    }

    textarea.form-control,
    textarea {
        border-radius:0 !important;
        box-shadow: none !important;
        border: 1px solid #d7d7d7 !important;
    }

    input[type=password]:focus,
    input[type=email]:focus,
    input[type=text]:focus,
    input[type=number]:focus,
    textarea:focus {
        box-shadow: 1px 3px 4px #cbcbcb inset;
    }

    .form-control {border-radius: 0; color:#444444; padding: 6px 11px;  border: 1px solid #d7d7d7}

    .btn-without-bg {
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 100px;
        background: transparent;
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px 27px;
        transition: all 0.5s ease;
    }

    .btn-without-bg:hover {
        color: #fff;
    }

    .btn {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 5px 27px;
        transition: background 0.5s ease 0s;
    }

    .btn-red {
        background: #ed1c24;
        color: #fff;
    }

    .btn-red:hover, .btn-red:active, .btn-red:focus {
        background: #D51920;
        color: #fff;
    }

    .btn-grey-border {
        background: #fff;
        border: 1px solid #e1e1e1;
        color: #969696;
        font-size: 14px;
        padding-bottom: 5px;
        padding-top: 4px;

    }

    .btn-grey-border:hover, .btn-grey-border:active, .btn-grey-border:focus {
        border-color: #ed1c24;
        color: #ed1c24;
    }

    .btn-blue {
        background: #1f5ca0;
        color: #fff;
    }

    .btn-blue:hover {
        background: #193048;
        color: #fff;
    }

    .btn-grey {
        background: #e6e6e6;
        color: #15589e;
    }

    .btn-grey:hover {
        background: #d8d8d8;
        color: #15589e;
    }

    .btn-primary:hover {
        background: #fff;
        border-color: #fff;
        color: #333;
    }

    .ui-widget-content .grid-icon {
        border: 1px solid #ed1c24;
        border-radius: 50%;
        color: #ed1c24 !important;
        display: inline-block;
        font-size: 11px;
        height: 20px;
        line-height: 12px;
        margin-right: 6px;
        padding: 3px;
        text-align: center;
        transition: background 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
        vertical-align: top;
        width: 20px;
        cursor: pointer;
    }

    .ui-widget-content .grid-icon:hover {
        background: #ed1c24;
        color: #fff !important;
        border: 1px solid #ed1c24;
    }

    .required:after {
        content: '*';
        color: red;
        padding-left: 5px;
    }


/***************************************************************************************
        
        * WRAPPER CSS STARTS
        
        ***************************************************************************************/

        .content {
            padding: 7px 15px 15px;
        }


        /*Login css*/

        .frontend-page {
            background-image: url(../images/login.png);
            background-repeat: no-repeat;
            background-size: cover
        }

        .login-box-msg,
        .register-box-msg {
            margin: 0;
            padding: 0 20px 12px 0;
            font-size: 20px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            margin-bottom: 28px
        }

        .form-control:focus {
            border-color: #0a69c8
        }

        .login-page,
        .register-page {
            background-color: #ccc
        }

        .btn-danger,
        .btn-success {
            background-color: #e63f24;
            border-color: #e63f24;
            color: #fff
        }

        .btn-success:hover,
        .btn-success:active,
        .btn-success.hover,
        .btn-success.active.focus,
        .btn-success.active:focus,
        .btn-success.active:hover,
        .btn-success:active.focus,
        .btn-success:active:focus,
        .btn-success:active:hover,
        .open>.dropdown-toggle.btn-success.focus,
        .open>.dropdown-toggle.btn-success:focus,
        .open>.dropdown-toggle.btn-success:hover,
        .btn-success.focus,
        .btn-success:focus {
            background-color: #d73925;
            border-color: #d73925
        }

        .login-logo {
            background:#303d53;
            text-align: center;
            width: 100%;
            padding: 21px 0;
        }

        .login-box,
        .register-box {
            width: 472px;
            margin: 12% auto;
        }

        .cloud-logo p {
            font-size: 18px;
            color: #fff;
            color: #feffff;
            letter-spacing: 2px;
            margin: 24px 0 30px 0;
        }

        .login-box-body,
        .register-box-body {
            background: rgba(255, 255, 255, 0.95);
            padding:24px;
            margin-bottom: 50px;
            border-radius: 3px;
            border-top: 3px solid #c04348;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }

        .login-box-body input[type="password"],
        .login-box-body input[type="email"] {   
            box-shadow: none !important;  
        }

        .form-group-last { margin-bottom:0;}

        .form-control-feedback { top: 4px;}

        .has-feedback .form-control-feedback {
            left: 0;
            right: inherit;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff;
        }

        .has-feedback {
            margin-bottom: 25px;
        }

        .has-feedback .checkbox { margin-top:0;  margin-bottom:0} 

        .has-feedback .form-control {
            padding: 6px 11px;
            height: 40px;
        }

        .has-feedback span {
            color: #fff !important;
            font-size: 21px;
            text-align: left;
            padding: 5px 0;
        }

        .has-feedback .form-control:focus {
            outline: 0;
            box-shadow: none;
        }

        .has-feedback input.form-control::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #bdbdbd;
        }

        .has-feedback input.form-control::-moz-placeholder {
            /* Firefox 19+ */
            color: #dbdbdb;
        }

        .has-feedback input.form-control:-ms-input-placeholder {
            /* IE 10+ */
            color: #dbdbdb;
        }

        .has-feedback input.form-control:-moz-placeholder {
            /* Firefox 18- */
            color: #dbdbdb;
        }

        .has-client select {
            background: rgba(6, 17, 48, 0.5);
            border-radius: 30px;
            border: 0;
        }

        .has-client .select2-container--default .select2-selection--single {
            border-radius: 20px;
            background: rgba(6, 17, 48, 0.5);
            border: 0;
            font-size: 18px;
            padding: 5px 17px;
            height: 40px;
        }

        .has-client .select2-container--default .select2-selection--single span {
            color: #fff;
        }
        .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
            color: #00aae4;
            text-transform: uppercase;
        }

        .has-client .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px;
            top: 0px;
            right: 8px;
            width: 20px;
        }

        .has-client .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: transparent;
            border-style: initial;
            display: inline-block;
            width: 14px;
            height: 14px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
            margin-right: 0.5em;
            left: -6px;
            top: 11px;
        }

        .has-client .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: #fff;
            border-width: 3px 2px 2px 3px;
        }

        .has-client .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
            border-radius: 20px;
        }

        .link-password {
            font-size: 16px;
        }

        .link-password a {
            color: #c04348; font-style:italic;
            font-size: 14px;
        }

        .link-password a:hover {
          color: #08ade6;	
      }

      .login-btn {
        color: #fff;
        border:0;
        border-radius:0;
        background-color:#08ade6;
        font-size: 18px;
        text-transform:capitalize;
        height: 40px;
    }

    .login-btn:hover, .login-btn:focus, .login-btn.focus {color: #fff; outline: none ; box-shadow:none; border-color: #ed1c24 ; background-color: #ed1c24 ; }

    .cloud-logo img {
        margin: auto;
    }

    .navbar-nav > li > a {
        padding-top: 27px;
        padding-bottom: 27px;
        height: 81px;
    }

    .user-menu {
        font-size: 16px;
        letter-spacing: 0.2px;
    }

    .user-menu img.setting-icon {
        width: 24px;
        margin-right: 10px;
        height: 24px;
    }

    .user-menu img.logout-icon {
        width: 16px;
        margin-right: 10px;
        height: 16px;
    }

    ul.sidebar-menu li img {
        width: 25px;
        margin-right: 12px;
    }

    .skin-purple .sidebar-menu > li:hover > a,
    .skin-purple .sidebar-menu > li.active > a {
        background: rgba(0, 0, 0, 0.1) ;
        border-left-color: rgba(0, 0, 0, 0.1) ;
    }

    .skin-purple .sidebar a {
        color: #fff;
    }

    .skin-purple .sidebar-menu > li > .treeview-menu {
        background: rgba(0, 0, 0, 0.2) ;
    }

    .skin-purple .sidebar-menu > li > .treeview-menu > li > a {
        color:#DBDBDB;
    }

    .skin-purple .sidebar-menu > li > .treeview-menu > li > a:hover {
        color:#fff;
    }

    .skin-purple .main-sidebar {
        background-color: #273140;
    }

    .sidebar-menu > li > a {
        padding: 12px 5px 12px 8px;
    }

    .profile-image {
        border-radius: 50%;
        height: 35px;
        overflow: hidden;
        width: 35px;
    }

    .profile-image img {
        max-width: 35px;
    }

    .user-panel > .info {
        padding: 5px 5px 5px 10px
    }

    .sidebar-menu,
    .main-sidebar .user-panel,
    .sidebar-menu > li.header {
        white-space: normal !important;
    }


    /*header css starts*/

    .main-header > a span {
        width: 100%;
        transition: width 0.3s ease 0s;
    }

    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        margin: 0;
    }

    .logo-mini > img {
        width: 37px;
    }

    .main-header {
        background-color: #ed1c24;
    }

    .skin-purple .main-header .navbar,
    .skin-purple .main-header .logo {
        background-color: transparent;
    }

    .main-header .logo {
        height: 78px;
        width: 230px;
        padding: 5px;
    }

    .main-sidebar,
    .left-side {
        padding-top: 78px;
    }

    .logo span {
        font-size: 18px;
        letter-spacing: 0.8px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        top: 4px;
        position: relative;
    //margin-left: 10px;
    margin-left: 0px;
}

.main-header .sidebar-toggle {
    padding: 29px 15px;
    background: rgba(0, 0, 0, 0.1);
}

.main-header .label-warning {
    background: #ebb716;
}

.bell-badge {
    position: absolute;
    right: -7px;
    top: 1px;
    z-index: 999;
    background-color: #f5b800;
    width: 26px;
    padding: 3px 0;
    text-align: center;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 2px 2px -1px #333;
}

.sidebar-menu {
    overflow: initial;
}

.skin-purple .main-header .logo:hover,
.skin-purple .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}


/*JQ grid css*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #ededed;
    border: 1px solid #e1e1e1;
    color: #666666;
    font-weight: 400;
    border-radius: 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #e1e1e1;
    background: #f4f4f4;
    color: #999999;

}

.ui-jqgrid {
    border-radius: 0;
    border: 1px solid #e1e1e1;
}

.ui-widget-content {
    border: 1px solid #e1e1e1;
}

.ui-jqgrid tr.ui-search-toolbar td > input {
    border-radius: 4px;
    box-shadow: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #e1e1e1;
    background: #eaeaea;
}

.ui-widget {
    font-family: 'Lato', sans-serif;
}

.ui-jqgrid tr td {
    color: #999999;
}

.ui-jqgrid .ui-jqgrid-view {
    font-size: 13px;
}

.ui-search-table input {
    padding: 4px 10px;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 28px;
}

.box.box-success {
    border-top-color: #ed1c24;
}

.label.label-success {
    background-color: #66cc99 !important;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
}

.label.label-danger {
    font-weight: normal;
    min-width: 37px;
    font-size: 13px;
    background-color: #f98d80 !important;
    display: inline-block;
}


/*right content section*/

.content-wrapper,
.right-side {
    background-color: #f7f7f7;
}


/*page right control dropdown*/

.box-tools {
    margin-bottom: 10px;
}


/*Sweet Alert Css*/

.sweet-alert {
    border-radius: 0;
}


/*footer css*/

.main-footer {
    background-color: #232323;
    color: #707070;
    position: relative;
    z-index: 820;
    margin: 0;
    border: 0;
    padding: 34px 15px;
    font-size: 11px;
    text-align: center;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Lato', sans-serif;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #00aae4;
}

.icheckbox {border: 1px solid #d7d7d7;}
.icheckbox.checked::after {border-color:#00abe5;}





@media all and (max-width:767px) {
    .login-box,
    .register-box {
        width: 100%;
    }
    .login-box-body,
    .register-box-body {
        padding: 46px 30px 15px 30px;
        margin: 0 15px;
    }
    .cloud-logo {
        margin: 0 15px;
    }
}


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 768px STARTS
        
        ***************************************************************************************/

        @media screen and (min-width:768px) {
            .main-header > .navbar {
                /*margin-left: 304px;*/
                margin-left: 230px;
            }
            .ui-jqgrid .ui-jqgrid-view {
                font-size: 14px;
            }

            .link-password { text-align:right;}
        }


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 992 STARTS
        
        ***************************************************************************************/

        @media screen and (min-width:992px) {}


/***************************************************************************************
        
    *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1024 STARTS
        
    ***************************************************************************************/

    @media screen and (min-width:1024px) {}


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
        
        ***************************************************************************************/

        @media screen and (min-width:1280px) {
            .ui-jqgrid tr.jqgrow td {
                padding: 5px;
            }
        }


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
        
        ***************************************************************************************/

        @media screen and (min-width:1500px) {
            .ui-widget-content .grid-icon {
                font-size: 12px;
                height: 24px;
                line-height: 15px;
                width: 24px;
                font-size: 12px;
            }
            .ui-jqgrid .ui-jqgrid-view {
                font-size: 16px;
            }
            .ui-jqgrid tr.jqgrow td {
                padding: 13px 8px;
            }
        }