@charset "utf-8";
 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 768px STARTS
	
    ***************************************************************************************/

    @media screen and (min-width:768px) {
        /*login page start from here*/
        .company-wrapper-info {
            width: 50%;
        }
        .login-user {
            width: 50%;
            display: table-cell;
            vertical-align: middle;
            padding-top: 0;
            margin-top: 120px;
        }
        .login-page-container, .copyright-login {
            padding: 0 30px;
        }
        .copyright-login {
            position: absolute;
            bottom: 49px;
        }
        .login-wrapper {
            padding-bottom: 30px;
            margin-top: 60px;
        }
        .title-wrapper {
            margin-bottom: 42px;
            padding-bottom: 30px;
        }
        .title-wrapper h3 {
            font-size: 30px;
        }
        .login-form {
            margin-bottom: 60px;
        }
        .copyright-login {
            text-align: left;
        }
        /*.logo-images {position: absolute;margin-left: 10%;margin-top: -305px;}*/
        .logo-images {
            left: 15%;
            margin-left: 0;
            margin-top: 0;
            padding: 20px;
            position: absolute;
            top: 15%;
        }
        /*login page end from here*/
        .forgot-password-button .login-btn {
            margin-bottom: 0;
        }
        .send-username-success {
            margin-bottom: 60px;
        }
        /* register start form here */
        .page-wrapper {
            height: 100%;
        }
        .register-page-wrapper.page-wrapper {
            height: auto;
        }
        .title-left-content {
            display: table-cell;
        }
        .title-right-content {
            display: table-cell;
            vertical-align: bottom;
            text-align: right;
        }
        .title-right-content a {
            display: inline-block;
            font-weight: bold;
        }
        .logo-wrapper {
            margin-bottom: 27px;
        }
        .select-user-type h6 {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 23px;
            margin-top: 0;
        }
        .box-radio-user {
            position: relative;
        }
        .box-radio-user input {
            opacity: 0;
            position: absolute;
        }
        .box-radio-user label {
            margin-bottom: 0;
        }
        .user-detail-section {
            border-bottom: 0;
            margin-bottom: 38px;
        }
        .user-detail-section.nav-tabs>li {
            padding-left: 0;
            margin-right: 3%;
            width: 31.33%;
        }
        .user-detail-section.nav-tabs>li:last-child {
            margin-right: 0;
        }
        .user-detail-section.nav-tabs>li>a {
            border-radius: 0;
            margin-right: 0;
            text-align: center;
            border-bottom: 3px solid #828282;
            padding: 19px 15px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
            font-size: 14px;
            color: #2f2f2f;
            -webkit-transition: box-shadow 0.3s linear, border 0.3s linear;
            transition: box-shadow 0.3s linear, border 0.3s linear;
            -moz-transition: box-shadow 0.3s linear, border 0.3s linear;
        }
        .user-detail-section.nav-tabs>li.active>a, .user-detail-section.nav-tabs>li.active>a:focus, .user-detail-section.nav-tabs>li.active>a:hover {
            font-weight: bold;
            color: #2f2f2f;
            border-bottom: 3px solid #ffcb40;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
        }
        .user-detail-section.nav>li>a:focus, .user-detail-section.nav>li>a:hover {
            background: transparent;
        }
        /*register end form here*/


        .action-button a {
            margin-bottom: 0;
        }
        .custom-radio {
            margin-bottom: 0;
        }
        .total-curriculum {
            display: inline-block;
            float: right;
        }
        .curriculum-record dt {
            display: inline-block;
        }
        .curriculum-record dl {
            display: inline-block;
        }
        .box-radio-user label {
            padding: 25px 25px 25px 50px;
        }
        .has-error-text {
            position: absolute;
        }
        .tutor-image {
            height: 120px;
            width: 120px;
            margin: 0 15px;
        }
        .search-tutor-detail {
            margin-left: 150px;
            float: none;
            width: auto;
        }
        .tutor-pearsonal-detail {
            padding: 0;
        }
        .landing-page-header .logo.navbar-brand {
            margin-left: 0;
        }
        .landing-page-header .logo.navbar-brand {
            max-width: 105px;
        }
        .landing-page .mid-section {
            margin-top: 82px;
            padding-top: 20px;
        }
        .search-tutor-basic-detail-wrapper {
            width: 50%;
        }
        .rating-wrapper {
            width: 25%;
        }
        .punctual-rating-wrapper {
            width: 25%;
        }
        .register-button-wrapper {
            float: left;
            margin-top: 5px;
            margin-bottom: 15px;
            width: 100%;
        }
        .search-tutor-basic-detail dt {
            display: inline-block;
        }
        .search-tutor-basic-detail dd {
            display: inline-block;
        }
        .filter-search-result-box {
            margin: 0 0 55px 0;
        }
        .footer-logo-wrapper{
            float: left;
        }
        .footer-logo-wrapper a{
            max-width: 161px;
        }
        .copyright{
            float: right;
            text-align: right;
            margin-left: 25px;
            margin-right: 15px;
            margin-top: 32px;
            margin-bottom: 27px;
        }
        .footer-menu{
            float: left;
            width: 50%;
            text-align: left;
        }
        .footer-social-media-wrapper{
            float: right;
            text-align: right;
            width:50%;
        }
        .landing-page-header .nav>li>a.home{
            padding-top: 15px; 
        }

    }
 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 992 STARTS

    ***************************************************************************************/

    @media screen and (min-width:992px) {
        .user-image-wrapper {
            margin: 0;
            text-align: left;
        }
        .login-page-container, .copyright-login {
            padding: 15px 60px;
        }
        .company-wrapper h1 {
            font-size: 50px;
            margin-bottom: 25px;
        }
        .company-wrapper span {
            font-size: 18px;
        }
        .company-wrapper-info {
            width: 60%;
        }
        .login-user {
            width: 40%;
        }
        .full-size-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100vh;
            padding-top: 0;
            padding-bottom: 0;
            -webkit-transition: width .5s ease!important;
            transition: width .5s ease!important;
            background: #fff;
            box-shadow: 0 0 50px 0 rgba(0,0,0,.05);
            background-image: url(../images/register.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .full-size-image:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: -webkit-linear-gradient(rgba(223, 28, 77, 0.8) 0%, rgba(247, 146, 55, 0.8) 100%);
            background-image: linear-gradient(rgba(223, 28, 77, 0.8) 0%, rgba(247, 146, 55, 0.8) 100%);
        }
        .register-page-wrapper {
            width: calc(100% - 280px);
            margin-left: auto;
        }
        .fluid-content-section {
            padding-right: 40px;
            padding-left: 0
        }
        .basic-image-upload-wrapper {
            margin: 0 0 20px 0;
        }
        .filter-mobile {
            display: none;
        }

        .search-tutor-basic-detail-wrapper {
            width: 50%;
        }
        .rating-wrapper {
            width: 50%;
        }
        .punctual-rating-wrapper {
            width: 100%;
        }
        .register-button-wrapper {
            float: left;
            margin-top: 5px;
            margin-bottom: 15px;
            width: 100%;
        }
        .rating-wrapper .rating{
            float: right;
            padding-right: 15px;
        }
        .left-aside .affix {
            width: 41.66666667%;
            padding-right: 30px;
            /*        top:10px;*/
        }
        .touchevents .left-aside .affix.affix-top {
         top:10px;
     }
     .footer-logo-wrapper{
      float: none;
      display: inline-block;
      vertical-align: middle;
      /* margin-bottom: 0; */
      text-align: left;
      width: 19%;
  }
  .copyright{
     display: inline-block;
     float: none;
     margin: 0 15px 0 15px;
     width: 50%;
     text-align: center;
 }
 .footer-menu{
   display: inline-block;
   width: auto;
   float: right;
   text-align: left;
   width: 27%;
   text-align: right;
   margin-top: 28px;
}
.footer-social-media-wrapper{
    float: none;
    text-align: center;
    width: 100%;
}
.landing-page footer{
  padding: 30px 0; 
}
.sm-font-title{
    padding-left: 15px;
}
.custom-search .custom-search{
    font-size: 22px;
}
.filter-wrapper .select-accordion{
    padding-left: 20px;
}
.red-title{
    margin-bottom: 28px;
}
}

 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
	
    ***************************************************************************************/

    @media screen and (min-width:1201px) {
        /*login page start from here*/
        .company-wrapper-info {
            width: 66%;
        }
        .login-user {
            width: 34%;
        }
        .company-wrapper {
            padding: 0;
        }
        .company-wrapper h1 {
            font-size: 60px;
        }
        .company-wrapper span {
            font-size: 19px;
        }
        /*login page end from here*/
        .logo-images {
            margin-left: 0;
            margin-right: 20px;
            margin-top: -305px;
            top: 50%;
            left: 50%;
            padding: 0;
        }
        .has-error-text {
            color: #f00;
            position: absolute;
            right: 0;
            padding-right: 15px;
        }
        .search-tutor-basic-detail-wrapper {
            width: 50%;
            padding-left: 0px;
            padding-right: 0px;
        }
        .rating-wrapper {
            width: 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .punctual-rating-wrapper {
            width: 25%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .register-button-wrapper {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .register-button-wrapper .tutee-dashboard-btn {
            margin: 10px auto 0 auto;
            width: 100%;
        }
        .rating-wrapper .rating{
            float: none;
            padding-right: 0;
        }
        .left-aside .affix {
            width: 33.33333333%;
            padding-right: 30px;
        }
        .footer-logo-wrapper{
           width: 173px;
           text-align: left;
       }
       .footer-logo-wrapper a{
        margin:0;
    }
    .copyright{
        width: 41%;
        text-align: center;
    }
    .footer-menu{
        width: 22%;
        text-align: left;
        float: none;
        display: inline-block;
    }
    .footer-social-media-wrapper{
        float: right;
        text-align: center;
        width: 19%;
        display: inline-block;
        text-align: right;
        margin-top: 28px;
    }
    
    .footer-social-media-wrapper ul li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 0;
    }
    
    
    
}
@media screen and (max-width:991px){
    .affix {
        position: static;
    }
    .left-aside{
        position: fixed;
        width:100%;
        left:-100%;
        z-index: 99;
        top:0;
        background: rgba(0,0,0,0.5);
        height: 100%;
        overflow: auto;
        transition:position 0.3s linear 0s , left 0.3s linear 0s;
        -moz-transition:position 0.3s linear 0s, left 0.3s linear 0s;
        -webkit-transition:position 0.3s linear 0s, left 0.3s linear 0s;
    }
    body.open-drawar{
        overflow: hidden;
    }
    .open-drawar .filter-mobile{
        z-index: 99999;
        visibility: hidden;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top{
        position: relative !important;    
    }
    .landing-page .mid-section{
        margin-top: 0;
        padding-top: 0;
    }
    .affix-bottom {
        position: relative;
        top: 0 !important;
    }
    .open-drawar .left-aside{
        padding-top: 15px;   
    }    
}

@media screen and (min-width:1600px) {
    .logo-images {
        margin-left: 7%;
        margin-top: -305px;
    }
    .company-wrapper {
        margin: 0 0 0 13%;
    }
    .box-radio-user label {
        padding: 25px 25px 25px 80px;
    }
    .custom-radio label::before {
        left: 26px;
    }
    .custom-radio label::after {
        left: 32px;
    }
    .box-radio-user img {
        margin-right: 25px;
    }
    .fluid-content-section {
        padding-right: 125px;
    }
    .register-page-wrapper {
        width: calc(100% - 714px);
    }
    .full-size-image {
        width: 530px;
    }
    .user-detail-section.nav-tabs>li>a {
        font-size: 18px;
    }
    .tutor-image {
        margin-right: 30px;
    }
    .search-tutor-detail {
        margin-left: 165px;
    }
    .search-tutor-basic-detail-wrapper {
        width: 41.6667%;
        padding-right: 15px;
    }
    .rating-wrapper {
        width: 16.6667%;
    }
    .punctual-rating-wrapper {
        width: 16.6667%;
    }
    .register-button-wrapper {
        width: 25%;
    }
    .landing-page-header {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        padding-top: 18px;
        padding-bottom: 18px;
        background: #ffffff;
    }
    .landing-page-header .logo.navbar-brand {
        max-width: 126px;
    }
    .landing-page-header .navbar-collapse.collapse {
        padding-top: 11px;
    }
    .landing-page .mid-section {
        margin-top: 112px;
        padding-top: 25px;
    }
}

