 @charset "utf-8";
 /* CSS Document */
 /***************************************************************************************
	
	GENEGRAL LAYPOUT GUIDELINES
	
	LAYOUT WIDTH :1366px
	
	FONT: sans-serif
		font-family: 'sans-serif', serif;
		Available Weights: 400, 400Italic, 700

	
***************************************************************************************/
 .clear {
     clear: both;
 }
 
 .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
 }
 
 .clearfix {
     display: block;
 }
 
 .mrg-0 {
     margin: 0 !important
 }
 
 .pad-0 {
     padding: 0 !important
 }
 
 .text-center {
     text-align: center !important;
 }
 
 .text-left {
     text-align: left !important;
 }
 
 .text-right {
     text-align: right !important;
 }
 
 .fullheight {
     height: 100%;
 }
 
 .display-block {
     display: block
 }
 
 .floatleft,
 .alignleft {
     float: left;
 }
 
 .floatright,
 .alignright {
     float: right;
 }
 
 .aligncenter {
     margin: 0 auto;
     display: block
 }
 
 .border-none {
     border: none !important
 }
 
 img {
     margin: 0 auto;
     max-width: 100%;
     height: auto;
     display: inline-block;
     border: none;
 }
 
 figure {
     max-width: 100%;
 }
 
 iframe {
     width: 100%;
     margin: 0 auto;
 }
 
 ::-webkit-input-placeholder {
     color: #cfcfcf;
     opacity: 1;
 }
 
 :-moz-placeholder {
     /* Firefox 18- */
     color: #cfcfcf;
     opacity: 1;
 }
 
 ::-moz-placeholder {
     /* Firefox 19+ */
     color: #cfcfcf;
     opacity: 1;
 }
 
 :-ms-input-placeholder {
     color: #cfcfcf;
     opacity: 1;
 }
 
 .paddingTp10 {
     padding-top: 10px;
 }
 
 
 
 .color-white {
     color: #fff !important;
 }

 
 header {
     box-shadow: none;
 }


/*login page start form here*/
.login-page .page-wrapper {height:100%;}
.company-wrapper-info {width:66%;position:fixed;top:0;left:0;right: 0;bottom: 0;}
.login-user {width:100%;position: relative;padding-bottom: 70px;padding-top:15px;}
.login-user.table-cell {text-align:left;}
.company-section-wrapper { background-image: url('../images/login-background.png');background-repeat: no-repeat;position: absolute;background-size: cover;top:0;bottom:0;right:0;left:0;}
.company-section-wrapper:before{position: absolute;content:"";left:0;right:0;top: 0;bottom: 0;
 background-image: -webkit-linear-gradient( 0deg, rgba(223, 28, 77, 0.8) 0%, rgba(247, 146, 55, 0.8) 100%);
  background-image: -ms-linear-gradient( rgba(223, 28, 77, 0.8) 0%, rgba(247, 146, 55, 0.8) 100%)}
.company-section-wrapper .table-cell{text-align: left;}
.company-wrapper {z-index: 1;position: relative;max-width:690px;margin:0 auto;text-align:left;padding: 20px;display: table;width: 100%;height: 100%;}
.company-wrapper .company-content{display: table-cell;vertical-align: middle;}
.company-wrapper h1{ text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);color:#fff;line-height:1.2;}
.company-wrapper span{display: inline-block;vertical-align: top;font-size:16px; text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);color:#fff;line-height: 1.2;}
.login-page-container {padding: 0 15px;}
.login-page-container .logo {display: inline-block;width:144px;}
.login-wrapper{margin-top:20px;padding-bottom:30px; }
/*title wrapper start from here*/
.title-wrapper{ padding-bottom: 10px;border-bottom: 1px solid #e5e5e5; margin-bottom: 10px;display: table;width: 100%;}
.title-wrapper h3{font-size: 26px;margin-bottom: 0;margin-top: 0;}
.title-wrapper h3 + small {font-size: 16px;line-height: 1.2;}
/*title-wrapper end form here*/
.login-form {margin-bottom: 30px;}
.login-form a{color:#989898;}
.login-form a:hover,.login-form a:focus {color:#989898;text-decoration: underline;}
.login-btn{background:#df1c4d;color:#fff;border-radius: 0;border:0;padding:18px 20px;text-transform: uppercase;}
.sign-up span {font-weight: 600;}
.sign-up a{font-weight: 600;text-transform: uppercase;color:#df1c4d;}
.sign-up a:hover , .sign-up a:focus {color:#989898;}
.copyright-login {padding: 0 15px;text-align:center;}
.login-btn.focus , .login-btn:focus {color:#fff;}
.copyright-login{color:#989898;}

/*login page end form here*/
 .logo {
        display: inline-block;
        max-width: 144px;
    }
.logo-wrapper{
        margin-bottom: 15px;
    }
.forgot-password-button .login-btn{margin-bottom:15px;}
.send-username-success{display:table;height:100%;width:100%;margin-bottom:30px;}
.success-icon{display:table-cell;vertical-align:middle;padding-right:20px;width:60px;}
.success-content {display:table-cell;vertical-align:middle;}
.success-content p{margin-bottom:0;}
.fluid-content-section{
        height: 100%;
       padding:15px;
    }
.box-radio-user label{
    border:1px solid #989898;
    display: block;
    padding:15px 15px 15px 50px ;
    position: relative;
    margin-bottom: 5px;
    -webkit-transition: border 0.3s linear , color 0.3s linear;
    transition: border 0.3s linear , color 0.3s linear;
    -moz-transition: border 0.3s linear , color 0.3s linear;
    
}
/*registration page start form here*/
.basic-image-upload-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    margin:0 auto 20px;
}
.basic-image-upload-wrapper img{
    height: 144px;
    width: 144px;
    margin:0 auto;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -72px;
    margin-left: -72px;
    border-radius: 50%;
}
.upload-button{
    display: inline-block;
    color:#fff;
    background: #f79237;
    border-radius: 15px;
    text-align: center;
    padding: 7px 21px;
    margin-left: 5px;
}
.upload-button:hover , 
.upload-button:focus {
    text-decoration: none;
    color:#fff;
}

.form-control:focus{
    background: #ffffff;
    color: #2f2f2f;
    box-shadow: none !important;
    border-color: #2f2f2f;
    font-weight: 600;
}

.user-detail-tab .arrow-primary-btn{
   float:right;
}
.disabled{
   background: #e0e0e0;
 cursor: no-drop;
}
.disabled:focus , 
.disabled:hover {
    background: #e0e0e0;
}
.user-image-wrapper{
    margin-bottom: 15px;
    text-align: center;
}
.action-button a{
        margin-bottom: 15px;
}
.custom-radio{
    margin-bottom: 15px;
}

.label-title{
    margin-top: 7px;
    font-weight: normal;
}
.custom-select{
    
}
.select-accordion{
   border:1px solid #989898;
    border-top:0;
    padding-top:15px;
    padding-bottom: 15px;
    position: relative;
    display: none;
}
.add-curriculum-wrapper .select-accordion{
      padding-bottom: 40px;
}
.select-accordion-wrapper .custom-select{
   background: #efefef;
    color: #2f2f2f;
    font-size: 15px;
    line-height: 1.2;
    padding: 5px 15px 5px 10px !important;
    height: auto;
    border:0;
}
.add-curriculum-wrapper{
    
}
.add-curriculum-wrapper .add-curriculum{
    position: absolute;
    bottom:0;
    text-align: center;
    left: 0;
    right: 0;
}

.add-curriculum-wrapper .add-curriculum a{
       background: #efefef;
    display: block;
    color: #2f2f2f;
    font-size: 15px;
    line-height: 1.2;
    padding: 11px 0;
}
.add-curriculum-wrapper .add-curriculum a:hover , 
.add-curriculum-wrapper .add-curriculum a:focus{
    text-decoration: none;
}
.form-group .bootstrap-select.btn-group{
       padding: 0 !important;
}
.form-group label{
    font-weight: normal;
}
.blank-label{
    min-height: 18px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder{
    background: #efefef;
    color: #2f2f2f;
    font-size: 15px;
    border: 0;
    border-radius: 0;
    padding: 6px 25px 6px 14px;
    line-height: 1.2;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
   right: 5px;
    background-image: url(../images/downarrow-default.png) !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    border: 0;
    width: 10px;
    height: 5px;
    padding-right: 20px;
}
.bootstrap-select.btn-group.open .dropdown-toggle .caret{
    background-image: url(../images/downarrow.png) !important;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
    color:#2f2f2f;
    outline: none !important;
    background: #efefef;
    box-shadow: none !important;
}
.bootstrap-select .dropdown-toggle:focus , 
.open>.dropdown-toggle.btn-default:focus{
   color:#2f2f2f;
    outline: none !important;
    background: #efefef;
    box-shadow: none !important; 
}
.bootstrap-select.btn-group .dropdown-menu li{
        padding-left: 0;
}
.bootstrap-select>.dropdown-toggle{
    background: #efefef;
    border: 0;
    border-radius: 0;
    padding: 5px 25px 5px 14px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    font-size: 15px;
}

.curriculum-list-wrapper{
   height: 218px;
   overflow: auto;
   border:1px solid #989898;
   padding: 15px 20px 15px 10px;
    position: relative;
}
.curriculum-list{
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
}

.curriculum-record{
    margin-bottom: 10px;
}
.curriculum-record dl{
    padding-left:0;
    margin: 0;
    display: block;
}
.curriculum-record dt{
    font-weight: 400;
    padding-left: 0;
    margin: 0 11px 0 0;
    text-align: left;
    width:auto;
    display: block;
    vertical-align: middle;
    float: none;
}
.curriculum-record dd{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 10px;
}
.dl-inline-block{
    display: inline-block;
    
}
.curriculum-record-wrapper{
    width: 80%;
    float: left;
}
.curriculum-record-delete{
    float: right;
    width: 20%;
    text-align: right;
}
.curriculum-record-delete a{
    display: inline-block;
    margin-top: 12px;
}
curriculum-record-delete img{
    display: block;
}
.help-text-bottom{
    display: block;
    text-align: right;
    color:#007eb0;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 1px;
}
.help-text-bottom a{
    display: inline-block;
    color:#007eb0;
}
.help-text-bottom a:hover,
.help-text-bottom a:focus {
    color:#007eb0;
    text-decoration: none;
}
.captcha-image .input-group-addon {
    width: 26%;
}
.box-radio-user img {
    margin-right: 15px;
}
.select-accordion-wrapper{
    margin-bottom: 15px;
}
#userDetail-accordion.panel-group .panel{
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    border:1px solid #828282;
    
}
#userDetail-accordion .panel-default > .panel-heading{
    background: #df1c4d;
    color: #fff;
    border-radius: 0;
}
#userDetail-accordion.panel-group .panel .js-tabcollapse-panel-heading:focus ,
#userDetail-accordion.panel-group .panel .js-tabcollapse-panel-heading:hover{
    text-decoration: none;
     font-weight: bold;
    color: #fff;
}


/*Landing page start form here*/
.landing-page-header{
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffffff;
}
.landing-page-header .navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.logo-wrapper-find-tutor {
    float: left;
}
.right-side-menu{
    float: right;
    text-align: right;
}
.landing-page-header .logo.navbar-brand{
   height: auto;
    padding: 0;
    max-width: 80px;
    margin-left: 15px;
    
}
.landing-page-header .nav>li>a{
    color: #4a4a4a;
}

.landing-page-header .nav>li>a:focus, .landing-page-header .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color:#df1c4d;
}
.landing-page-header .sign-up-button{
    display: inline-block;
}
.sign-up-button{
    border-radius: 50px;
    background: #df1c4d;
    color:#f9d2db !important;
    padding: 12px 29px;
    margin-left: 15px;
}
.landing-page-header .nav>li>a.sign-up-button:hover , .landing-page-header .nav>li>a.sign-up-button:focus {
     background: #b6183f;
    color:#fff !important;
}
.landing-page-header .sign-up-button:hover , .sign-up-button:focus{
    background: #b6183f;
}
.landing-page-header .nav>li>a.home{
    font-size: 22px;
}
.landing-page-header .navbar-collapse.collapse {
        padding-top: 3px;
}
.navbar-nav>li{
    margin-bottom: 0;
}
.page-wrapper.landing-page{
    background: #f8f8f8;
}
.landing-page .mid-section{
    margin-top: 71px;
    padding-top: 15px;
}
.filter-wrapper{
    background: #fff;
    padding-top: 31px;
/*    padding-bottom: 31px;*/
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.red-title{
    margin-top: 0;
    margin-bottom: 15px;
    color:#df1c4d;
}

.custom-search{
    position: relative;
}
.custom-search .custom-search{
    border:0;
    border-bottom:2px solid #df1c4d;
    padding-left: 38px;
    padding-bottom: 9px;
    box-shadow: none;
    font-size: 16px;
}
.custom-search .custom-search:focus{
    border-bottom:2px solid #df1c4d;
}
.custom-search .search-submit{
    position: absolute;
    top: 50%;
    background-image: url(../images/search_icon.svg);
    height: 21px;
    width: 21px;
        left: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    border: 0;
    padding: 0;
    text-indent: -99999px;
    margin-top: -8.5px;
}
select.flat-select{
    background: transparent;
    font-size: 15px;
    line-height: 1.2;
    padding: 5px 15px 5px 0 !important;
    height: auto;
    border: 0;
    box-shadow: none;
}
.label-top-spacing{
    padding-top: 3px;
}
.flat-select-wrapper{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
    position: relative;
}
.filter-wrapper .select-accordion-wrapper {
    border-bottom: 1px solid #d8d8d8;
}

.filter-wrapper .select-accordion-wrapper label{
    font-weight: normal;
}
.filter-wrapper .select-accordion{
    border:0;
    padding-left: 5px;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect{
    padding:inherit;
}
.find-tutor{
    height: auto;
}
.filter-reset{
    color:#1d1d1d;
}
.filter-reset:focus,
.filter-reset:hover {
    text-decoration: none;
    color:#b6183f;
}
.filter-wrapper .tutee-primary-btn{
    min-width: 0;
    padding:17px 78px;
    border-radius: 0;
    border:0;
}
.filter-wrapper .tutee-primary-btn:hover , 
.filter-wrapper .tutee-primary-btn:focus ,
.filter-wrapper .tutee-primary-btn:active:focus{
    color:#fff;
    box-shadow: none;
    background: #b6183f;
}
.total-result{
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 18px;
    border-bottom: 1px solid #d8d8d8;
}
.filter-search-result-box {
    padding: 0;
    margin: 0 0 30px 0;
}
.filter-search-result-box li{
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 0;
    border-bottom: 1px solid #d8d8d8;
    transition:background 0.3s ease 0s;
    -webkit-transition:background 0.3s ease 0s;
    -moz-transition:background 0.3s ease 0s;
}
.filter-search-result-box li:last-child{
    border-bottom: 1px solid #d8d8d8;
}

.tutor-image{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin:0 auto 15px auto;
    float: left;
   }
.tutor-image img{
    display: block;
    border-radius: 50%;
}
.tutor-pearsonal-detail{
    padding:0 15px;
}
.search-tutor-detail {
    float: left;
    margin-left: 0;
    width: 100%;
}
.search-tutor-detail h3{
    margin-top: 0;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
}
 .search-tutor-detail .degree{
    margin-bottom: 15px;
    margin-bottom: 15px;
}
.search-tutor-basic-detail dl{
        margin: 0;
}
.search-tutor-basic-detail dt{
    display: block;
    width: 85px;
    font-weight: normal;
    color:#686868;
}
.search-tutor-basic-detail dd{
    display: block;
    color:#2f2f2f;
}
.rating img{
    margin-left: 0;
    margin-bottom: 11px;
}
.rating-input{
    color:#f79237;
}
.rating-input i{
    margin-right: 5px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
.rating-input i:last-child{
    margin-right: 0;
}

.star-rating-count{
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
    position: relative;
    padding-left:10px ;
    display: block;
    text-decoration: underline;
    color:#2f2f2f;
}
.star-rating-count:hover ,
.star-rating-count:focus{
    color:#2f2f2f;
}
.star-rating-count:before {
    position: absolute;
    content: "";
    left: 0;
    height: 4px;
    width: 4px;
    background: #2f2f2f;
    border-radius: 50%;
    top:50%;
    margin-top: -2px;
}

.punctual-rating-block{
    background:#36ae52;
    color:#fff;
    display: inline-block;
    padding:8px 14px;
    margin-top: 5px;
}
.out-of{
    font-size:22px;
    line-height: 1.2;
}
.out{
    font-size: 16px;
    line-height: 1.2;
    color:#afdfba;
}
.search-tutor-detail .tutee-dashboard-btn{
    background: transparent;
    max-width: 240px;
    margin:10px 0;
}
.search-tutor-detail .tutee-dashboard-btn:hover, 
.search-tutor-detail .tutee-dashboard-btn:focus {
	background: #df1c4d;
    text-decoration: none;
}

.filter-search-result-box li:hover{
    background: #fff;
}
.filter-search-result-box li:hover .search-tutor-detail .tutee-dashboard-btn{
    background: #df1c4d;
    text-decoration: none;
    color:#fff;
}

.search-tutor-basic-detail-wrapper{
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.rating-wrapper{
    float: left;
   margin-bottom: 15px;
    width: 100%;
 }
 .punctual-rating-wrapper{
     float: left;
     margin-bottom: 15px;
     width: 100%;
 }
 .register-button-wrapper{
     float: left;
     margin-top: 5px;
     margin-bottom: 15px;
     width: 100%;
 }

/*Landing page end form here*/

/*filter bottom start form here*/


.touchevents .navbar-fixed-bottom, 
.touchevents .navbar-fixed-top{
/*    position: relative !important;*/
}
.touchevents .landing-page .mid-section{
/*
    margin-top: 0;
    padding-top: 0;
*/
}
.filter-mobile{
    display: block;
    position: fixed;
    left:0;
    top:120px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color:#fff;
    background: #df1c4d;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.5;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s linear 0s , left 0.3s linear 0s;
    -moz-transition: opacity 0.3s linear 0s , left 0.3s linear 0s;
    -webkit-transition: opacity 0.3s linear 0s , left 0.3s linear 0s;
}
.filter-mobile:hover ,
.filter-mobile:focus {
    opacity: 1;
}
.filter-mobile i{
    display: block;
    line-height: 60px;
    text-align: center;
}
/*
.left-aside{
    position: fixed;
    left:-100%;
    z-index: 99;
    transition:position 0.3s linear 0s , left 0.3s linear 0s;
    -moz-transition:position 0.3s linear 0s, left 0.3s linear 0s;
    -webkit-transition:position 0.3s linear 0s, left 0.3s linear 0s;
    
    overflow: auto;
    padding-bottom: 31px;
}
*/
.close-drawer{
    position: absolute;
    top:-25px;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    color:#fff;
    background: #df1c4d;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.close-drawer i{
    display: block;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
}


.open-drawar .left-aside{
    left:0;
}
/*
.open-drawar .filter-mobile {
    left: 86%;
    z-index: 99;
    opacity: 1;
}
*/
.open-drawar .filter-mobile i:before{
        content: "\f00d";
}
/*filter bottom end from hree*/

   
/*navbar toggle*/
.navbar-toggle{
    background: #df1c4d;
    color:#fff;
    border-radius: 0;
}
.navbar-toggle .icon-bar{
    background: #fff;
}

/*landing page footer*/
.landing-page footer{
   padding:15px 0;
   box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.06);
   background: #fff;
}
.affix-bottom {
      position: relative;
}

.footer-logo-wrapper{
    display: block;
    margin-bottom: 5px;
}
.footer-logo-wrapper a{
    display: block;
    max-width: 120px;
    margin:0 auto;
}
.copyright{
    text-align: center;
    display: block;
    color:#9d9d9d;
    font-size: 14px;
    margin-bottom: 5px;
}
.copyright a{
    display: inline-block;
    color:#9d9d9d;
}
.copyright a:hover,
.copyright a:focus{
    color:#df1c4d;
    text-decoration: none;
}
.footer-menu{
    display:block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.footer-menu li{
    text-align: center;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
}
.footer-menu li a{
    color:#9d9d9d;
    text-decoration: none;
    font-size: 14px;
}
.footer-menu li a:hover,
.footer-menu li a:focus{
    color:#df1c4d;
}
.footer-social-media-wrapper{
    text-align: center;
}
.footer-social-media-wrapper ul{
    margin-top: 0;
    margin-bottom: 0;
}
.footer-social-media-wrapper ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0;
}
.footer-social-media-wrapper ul li:last-child{
    margin-right: 0;
}
.footer-social-media-wrapper ul li a{
    color:#9d9d9d;
    transition:color 0.3s linear 0s;
    -moz-transition:color 0.3s linear 0s;
    -webkit-transition:color 0.3s linear 0s;
    transition:color 0.3s linear 0s;
}
.footer-social-media-wrapper ul li a:hover ,
.footer-social-media-wrapper ul li a:focus{
    color:#df1c4d;
}
.navbar-fixed-bottom,
.navbar-fixed-top{
        z-index: 99;    
}
.back-link-btn{
    display: inline-block;
    color:#2f2f2f;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.back-link-btn:focus ,
.back-link-btn:hover {
    color:#df1c4d;
    text-decoration: none;
}

.back-link-btn i{
    display: inline-block;
    margin-right: 5px;
}
.title-detail{
    padding-bottom: 15px;
}
.title-detail h2{
    margin-bottom: 0;
    font-size: 18px;
}
/*tutor detail start from here*/
.tutor-detail-wrapper{
    padding-top:15px;
      padding-bottom:15px;
    background: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
}
.tutor-detail-wrapper .tutor-image{
     margin-left: 15px; 
    float: left;
}
.tutor-detail{
    float: left;
    width:calc(100% - 165px);
    padding-left: 15px;
    padding-right: 15px;
}
.tutor-detail h2{
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: bold;
}

.tutee-review-wrapper{
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
   padding:15px;
}
.tutee-review-title h3{
    color:#df1c4d;
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0;
}
.tutee-review-tutor-title h4{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.tutee-review-tutor-title .rating-input{
    display: inline-block;
     vertical-align: middle;
}
.review-post-time{
    color:#828282;
    font-size: 15px;
    line-height: 1.2;
}

/*tutor detail end form here*/