 @charset "utf-8";
/***************************************************************************************
	
	* Reset
	
	***************************************************************************************/
 /***************************************************************************************
	
	* GENERAL STARTS
	
	***************************************************************************************/
	
	*, * * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
	}
	* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;}
	input{box-shadow: none;}
	html, body {
		height: 100%;
	}
	body {
		font-size: 16px;
		color: #2f2f2f;
		padding: 0;
		font-family: 'Lato', sans-serif;
		margin: 0;
		background: #ffffff;
	}
	a {
		color: #df1c4d;
		-webkit-transition: color 0.3s linear 0s;
		transition: color 0.3s linear 0s;
		-moz-transition: color 0.3s linear 0s;
	}
	a.active, a:hover {
		color: #989898;
		border-color: #989898;
	}
	p {
		font-size: 16px;
		line-height: 1.3;
	}
	hr {
		height: 2px;
		background: #929292
	}
	:focus {
		outline: 0 !important; 
	}
/***************************************************************************************
	
	* HEADINGS STARTS
	
	***************************************************************************************/
	/* All Headings */
	/* Individual Headings */
	
	h1, .page-title {
		font-size: 45px;
		margin: 10px 0;
		line-height: 65px;
		line-height: 1;
	}
	h2, .sub-title {
		font-size: 22px;
		margin:0 0 20px 0;
		line-height: 1.25;
		color: #2f2f2f;
		
	}
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 1.4;
		letter-spacing: 1px;
		font-weight: 700;
		margin-top: 0;
	}
	h4 {
		font-size: 17px;
		margin: 20px 0;
		line-height: 1.3;
		font-weight: 700;
		text-transform: uppercase;
	}
	h5 {
		font-size: 15px;
		margin: 20px 0;
		line-height: 1.5;
		text-transform: uppercase;
		color: #999999;
	}
	h6 {
		font-size: 17px;
		margin: 20px 0;
		line-height: 1.3;
	}
/***************************************************************************************
	
	* LISTS STARTS
	
	***************************************************************************************/
	/* All Lists */
	
	dl, ol, ul {
		padding-left: 0;
		/*	margin: 22px 0 22px 0;*/
	}
	/* Ordered Lists */
	
	ol {
		list-style-type: decimal;
	}
	ol li {
		/*	padding-left: 10px;*/
		margin-bottom: 10px;
		line-height: 1.6;
		font-size: 16px;
	}
	ol ol li {
	}
	/* Unordered Lists */
	
	ul li {
		/*padding-left: 20px;*/
		margin-bottom: 5px;
		line-height: 1.6;
		font-size: 16px;
		list-style: none;
	}
	ul ul li {
	}
/***************************************************************************************
	
	* form css STARTS
	
	***************************************************************************************/
	
	input[type="text"], 
	input[type="email"], 
	input[type="tel"], 
	input[type="number"], 
	input[type="url"], 
	input[type="password"], 
	textarea.form-control , 
	select.form-control{
		
		border: 0;
		padding: 14px 10px;
		color: #989898;
		width: 100%;
		font-size: 16px;
		font-weight: 400;
		outline: none;
		background-color:#ffffff;
		border: 1px solid #989898;
		font-family: 'Lato', sans-serif;
	}
	input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus, input[type="password"]:focus {
		background-color: #ffffff;
		color: #2f2f2f;
		box-shadow: none !important;
		border-color: #2f2f2f;
		font-weight: 600;
	}
	select {
		padding: 10px;
		border: none;
		border: 1px solid #d1dae3;
		appearance: none; 
		-moz-appearance: none; 
		-webkit-appearance: none; 
		-ms-appearance: none; 
		position: relative; 
		background-image: url(../images/downarrow-default.png) !important;
		background-position: 98% 50% !important;
		background-repeat: no-repeat !important; 
		padding-right: 20px !important;
	}
	select:focus{
		
		background-image: url(../images/downarrow.png) !important;
	}

	select::-ms-expand{display: none;}
	.input-group-addon {
		border: 1px solid #989898;
		background: transparent;
		cursor: pointer;
		border-radius: 0;
	}
/***************************************************************************************
	
	* TABLES STARTS
	
	***************************************************************************************/
	
	table {
		width: 100% !important;
		/*	margin-bottom: 30px !important;*/
	}
	table tr th {
	}
	table tr td, table tr td {
	}
	/*header css starts*/
 /***************************************************************************************
	
	* COMMON CSS STARTS
	
	***************************************************************************************/
	
	.wrapper {
		margin: 0 auto;
		max-width: 1366px;
		padding: 10px;
	}
/*
.btn {
	background-color: #ef4b4b;
	transition: background .3s ease 0s;
	-ms-transition: background .3s ease 0s;
	-o-transition: background .3s ease 0s;
	-webkit-transition: background .3s ease 0s;
	-moz-transition: background .3s ease 0s;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	min-width: 200px;
	padding: 6px 20px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: none;
	margin: 0 auto;
}
.btn:hover {
	background-color: #c44646;
	color: #fff;
	
}
*/
.table-display {
	display: table;
	height: 100%;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.form-control {
	height: 54px !important;
	border-radius: 0 !important;
	font-size: 16px !important;
}
/*
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], textarea, input[type="password"] {
	padding-left: 21px;
	padding-right: 21px;
}
*/
.astrick {
	font-style: 12px;
	color: #ff0000;
	display: inline-block;
	vertical-align: top;
}
.checkbox {
	padding-left: 20px;
}
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 4px;
	padding-top: 3px;
	font-size: 11px;
	color: #555555;
}
.checkbox input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
	border-color: #df1c4d;
}
.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}
.checkbox.checkbox-inline {
	margin-top: 0;
}
.checkbox.checkbox-single label {
	height: 17px;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: #428bca;
	border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
	/*	background-color: #d9534f;*/
	border-color: #df1c4d;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
	color: #d9534f;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
	/*	background-color: #f0ad4e;*/
	border-color: #f79237;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
	color: #f79237;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.radio {
	padding-left: 20px;
}
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}
.radio.radio-inline {
	margin-top: 0;
}
.radio.radio-single label {
	height: 17px;
}
.radio-primary input[type="radio"] + label::after {
	background-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::before {
	border-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::after {
	background-color: #428bca;
}
.radio-danger input[type="radio"] + label::after {
	background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
	border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
	background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
	background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
	border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
	background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
	background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
	border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
	background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
	background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: #5cb85c;
}
.checkbox, .radio {
	margin-top: inherit;
	margin-bottom: inherit;
}
/*grey button start from here*/
.btn-grey, .login-btn {
	min-width: auto;
}
.btn-grey {
	background: #989898;
	color: #fff;
	border-radius: 0;
	border: 0;
	padding: 18px 20px;
}
.btn.btn-grey:hover, .btn.btn-grey:focus {
	background: #2f2f2f;
	color: #fff;
}
.login-btn:hover, .login-btn:focus,
.login-btn:active:focus, .login-btn:active:hover{
	background-color: #b6183f;
	color: #fff;
}
/*grey button end from here*/

.custom-radio label {
	cursor: pointer;
	margin-bottom: 0;
}
.custom-radio input[type="radio"] {
	opacity: 0;
	position: absolute;
	top: 50%;
}
.custom-radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 15px;
	margin-left: 0;
	border: 2px solid #989898;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 50%;
	margin-top: -10px;
}
.custom-radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 8px;
	height: 8px;
	left: 21px;
	margin-left: 0;
	border-radius: 50%;
	background-color: #df1c4d;
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), 
	-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	top: 50%;
	margin-top: -4px;
}

.custom-radio input[type="radio"]:checked + label {
	color: #df1c4d;
	border-color: #df1c4d;
	box-shadow: inset 0 0 0 2px #df1c4d;
}
.custom-radio input[type="radio"]:focus + label::before {
	border-color: #df1c4d
}
.main-panel .custom-radio label:hover:before{
	border-color: #df1c4d
}
.custom-radio input[type="radio"]:checked + label:before {
	border-color: #df1c4d;
}
.custom-radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.custom-radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}
.custom-radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}
/*tutee button start from here*/
.tutee-primary-btn {
	color: #fff;
	text-transform: uppercase;
	background: #df1c4d;
	text-align: center;
	font-weight: 600;
	min-width: 420px;
	padding-top: 22px;
	padding-bottom: 22px;
}
.tutee-primary-btn:hover, .tutee-primary-btn:focus {
	background: #b6183f;
	text-decoration: none;
	color:#fff;
}
.tutee-secondry-btn {
	color: #fff;
	background: #989898;
	text-transform: uppercase;
	max-width: 420px;
	text-align: center;
	font-weight: 600;
	padding-top: 22px;
	padding-bottom: 22px;
}
.tutee-secondry-btn:hover, .tutee-secondry-btn:focus {
	background: #2f2f2f;
}
.tutee-dashboard-btn {
	background: #fff;
	border: 2px solid #df1c4d;
	text-transform: uppercase;
	font-weight: 600;
	color: #df1c4d;
	display: block;
	padding: 20px 34px;
	text-align: center;
	transition: background 0.3s linear 0s , color 0.3s linear 0s;
	-moz-transition: background 0.3s linear 0s , color 0.3s linear 0s;
	-webkit-transition: background 0.3s linear 0s , color 0.3s linear 0s;
}
.tutee-dashboard-btn:hover, .tutee-dashboard-btn:focus {
	background: #df1c4d;
	color: #fff;
	border-color: #df1c4d;
	text-decoration: none;
}
.left-arrow-btn {
}
/*tutor button start from here*/
.tutor-primary-btn {
	color: #fff;
	text-transform: uppercase;
	background: #f79237;
	text-align: center;
	font-weight: 600;
	min-width: 420px;
	padding-top: 22px;
	padding-bottom: 22px;
}
.tutor-primary-btn:hover, .tutor-primary-btn:focus {
	background: #d36e14;
	color: #fff;
}
.tutor-secondry-btn {
	color: #fff;
	background: #989898;
	text-transform: uppercase;
	max-width: 420px;
	text-align: center;
	font-weight: 600;
	padding-top: 22px;
	padding-bottom: 22px;
}
.tutor-secondry-btn:hover, 
.tutor-secondry-btn:focus {
	background: #2f2f2f;
	text-decoration: none;
}
.tutor-dashboard-btn {
	background: #fff;
	border: 2px solid #f79237;
	text-transform: uppercase;
	font-weight: 600;
	color: #f79237;
	display: block;
	padding: 20px 34px;
}
.tutor-dashboard-btn:hover, 
.tutor-dashboard-btn:focus {
	background: #f79237;
	color: #fff;
	border-color:#f79237;
	text-decoration:none	
}
.tutor-dashboard-trash-btn{
	border-radius: 0px;
	font-size: 20px;
	padding: 4px 8px;
	background-color: #f8f8f8;
	border: 1px solid #f79237;
	text-transform: uppercase;
	font-weight: 600;
	color: #f79237;
}
.tutor-dashboard-trash-btn:hover, .tutor-dashboard-trash-btn:focus {
	background: #f79237;
	color: #fff;
	border-color: #f79237;
	text-decoration: none;
}
/*tutor button end from here*/

.arrow-secondry-btn{
	background: #989898;
	color:#fff;
	font-weight: 600;
	padding:17px 73px;
	display: inline-block;
}
.arrow-secondry-btn:hover ,
.arrow-secondry-btn:focus
{
	background: #2f2f2f;
	color:#fff;
	text-decoration: none;
}

.arrow-primary-btn{
	background: #df1c4d;
	color:#fff;
	font-weight: 600;
	padding:17px 73px;
	display: inline-block;
}
.arrow-primary-btn:hover ,
.arrow-primary-btn:focus
{
	background: #b6183f;
	color:#fff;
	text-decoration: none;
}

.left-arrow-tutee-primary-btn{
	background: #df1c4d;
	color:#fff;
	font-weight: 600;
	padding:23px 0;
	max-width: 100%;
}
.left-arrow-tutee-primary-btn:hover ,
.left-arrow-tutee-primary-btn:focus
{
	background: #b6183f;
}



.left-arrow-tutor-primary-btn{
	background: #f79237;
	color:#fff;
	font-weight: 600;
	padding:23px 0;
	max-width: 100%;
}
.left-arrow-tutor-primary-btn:hover ,
.left-arrow-tutor-primary-btn:focus
{
	background: #d36e14;
}

textarea.form-control {
	height: auto;
	min-height: 140px;
	resize: none;
}


.has-error-text{
	color:#f00;
	position: relative;
	right: 0;
}
.display-block{
	display: block;
}
.has-error .form-control{
	border-color: #f00;
	box-shadow: none !important;
}
.has-error .form-control-feedback{
	color:#f00;
	
}
.has-feedback label~.form-control-feedback{
	top:38px;
}
.has-error .form-control:focus{
	border-color: #f00;
	box-shadow: none !important;
}
.block{
	display: block;
}

/*pagination*/
.pagination{
	margin-bottom: 60px;
	padding-left: 15px;
	padding-right: 15px;
}
.pagination>li{
	display: inline-block;
	margin-right: 5px;
}
.pagination>li>a, .pagination>li>span{
	font-size: 14px;
	color:#646464;
	border:1px solid #d8d8d8;
	transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-webkit-transition: 0.3s linear all;
}
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover{
	background: #eea0b4;
	border-color:#df1c4d;
	color:#ffffff;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;   
}
.pagination>li:last-child>a, 
.pagination>li:last-child>span{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	background: #eea0b4;
	border-color:#df1c4d;
	color:#ffffff;
}
/*datetimepicker start from here*/
/*
.daterangepicker .calendar th, 
.daterangepicker .calendar td {
    color:#df1c4d;    
}
*/
/*datetime picker end from here*/


/*round images start form here*/
.round-200{
	height: 200px;
	width:200px;
	border-radius: 50%;
}
.round-160{
	height: 160px;
	width:160px;
	border-radius: 50%;
}

.round-120{
	height: 120px;
	width:120px;
	border-radius: 50%;
}
.round-80{
	height: 80px;
	width:80px;
	border-radius: 50%;
}
.round-60{
	height: 60px;
	width:60px;
	border-radius: 50%;
}

.back-button{
	padding-bottom: 15px;
	display: block;
	border-bottom: 1px solid #d8d8d8;
}
.back-button a{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color:#2f2f2f;
}
.back-button a:hover ,
.back-button a:focus{
	color:#df1c4d;
	text-decoration: none;
}

.bottom-border{
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
}

/*round images end from here*/

.sm-pull-left-none{
	float: left !important;
}
.sm-pull-right-none{
	float: right !important;
}
