.session-popup-modal .modal-dialog{box-shadow:none;-webkit-box-shadow:none;background: rgba(0,0,0,0);border:0;}
.calendar-modal{background: #fff;}
#success_session_modal .glyphicon{font-size: 14px !important;}
.dropdown-menu-sent-mail-to-all{right: 0;    left: auto;}
.selected-time-section-scroll {
	max-height: 475px;
}
.add-curriculum-wrapper .add-curriculum input {
	background: #efefef;
	display: block;
	color: #2f2f2f;
	font-size: 15px;
	line-height: 1.2;
	padding: 11px 0;
	width: 100%;
	border: none; 
}
.language-drop .dropdown-toggle{
	padding: 17px !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	border: 1px solid #989898 !important;
	background: none !important;
}
.register-gender{
	min-height: 97px; 
}    
.ui-dialog{
	z-index: 950;
}
.login-wrapper .forgot-btn-grey{
	color: #fff;
}
.login-wrapper .forgot-btn-grey:hover{
	text-decoration: none;
}
.tutee-review-wrapper .img-round img{
	height: 80px;
	width: 80px;
}
.tutor-dashboard .left-aside-dashboard ul li.menu-active a i {
	color: #f79237;
}
.tutor-dashboard .select-user select {
	color: #f79237;
	background-color: #fff;
}
.tutee-dashboard .select-user select {
	color: #df1c4d;
	background-color: #fff;
}
.session-detail-month select {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	background-position: 92% 50% !important;
	width: 135px;
}
.tuteme-nav-toggle .navbar-toggle{
	right: 0;
	height: 68px;
	background: #df1c4d;
}
.dropdown-menu .tutee-primary-btn {
	min-width: 100%;
}
select{
	border-radius: 0;
}
.payment-bottom .schedule-list span{
	display: block;
}
.filter-mobile {
	top: 200px;
	z-index: 99;
}
.free-sessions-section ul li a:hover{
	text-decoration: none;
}
.save-cancel-block a:hover{
	text-decoration: none;
}
.send-card-requests .decline-btn-tutor{
	margin-left: 0;
}
.new-test-modal .select-accordion-wrapper .custom-select {
	margin-top: 10px;
}
.select-user-type .arrow-primary-btn{
	border: none;
	border-radius: 0px;
}
/*
.ajax-loader {    display: none;    background-color: rgba(255,255,255,0.7);    position: fixed;    z-index: 102 !important;    width: 100%;    height: 100%;}.ajax-loader img {    position: relative;    top: 43%;    left: 0;    right: 0;    bottom: 0;    width: 100px;}
*/
.list-radio-btn li:before {
	margin-right: 1em;
	content: counter(listStyle, upper-alpha)" . ";
	float: left;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
}
.list-radio-btn li {
	position: relative;
}
.dashboard-copyright {
	bottom: -25px;
}
.ajax-loader {  
	display: none;
	background-color: rgba(255,255,255,0.7);
	position: fixed;
	z-index: 102 !important;
	width: 100%;
	height: 100%;
}
.ajax-loader img {
	position: relative;
	top: 43%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100px;
}
.login-form .forgot-password-button a {
	color: #fff;
}
.landing-modal-dropdown .language-drop{
	background: none;
}
.landing-modal-dropdown .language-drop .dropdown-toggle{
	color: #fff !important;
	border: solid 1px #fff !important;
}
.flat-select-wrapper .flat-select .dropdown-toggle{
	border: none;
}
.find-tutor-dropdown-lan{
	height: 30px;
}
.find-tutor-dropdown-lan .dropdown-toggle{
	padding: 5px 20px 5px 0px !important;
	border: none !important;
	background: #fff !important;
}
.find-tutor-dropdown-lan .dropdown-toggle .caret {
	right: 6px !important;
}
.flat-padd-lan{
	padding-bottom: 3px;
}

.findtutor-mid-section{
	min-height: 885px;
}
.user-basic-tab .action-button{
	margin-top: 20px;
}
#rating_tutor_modal .rating-input{
	display: inline-block;
	vertical-align: middle;
}
.forgot-password-button .login-btn {
	background: #df1c4d;
	color: #fff;
	border-radius: 0 ;
	border: 0 ;
	padding: 18px 20px ;
	text-transform: uppercase;
}
.forgot-password-button .login-btn:hover, .login-btn:focus{
	color: #fff !important;
}
.forgot-password-button .btn-grey {
	background: #989898;
	color: #fff;
	border-radius: 0;
	border: 0 ;
	padding: 18px 20px ;
}
.forgot-password-button .btn-grey:hover, .btn-grey:focus{
	text-decoration: none !important;
}
.login-wrapper .input-group-addon{
	border-radius: 0;
}
.forgot-password-button{
	margin-top: 30px;
}
.rating_tutor{cursor: pointer !important;}
.report_tutee{cursor: pointer !important;}
.report_tutor{cursor: pointer !important;}

/* 09/05/2017 */

.suggested-tutor-image .pancutal-rating-wrapper {
	max-width: 115px;
	left: 130px;
	right: inherit !important;
}
.rating-input i{
	cursor: inherit;
}
.tutor-dashboard .upload-profile-image{
	background-color: #f79237;
}
.tutor-dashboard .login-btn{
	background: #f79237;
}
.tutor-dashboard .login-btn:hover{
	background: #df7e26 !important;
}
.tutor-dashboard .login-btn:focus{
	background: #f79237;
}
.tutor-dashboard .color-title {
	color: #f79237;
}
.tutee-dashboard .upload-profile-image{
	background-color: #df1c4d;
}
.notification_tutor a {color: #f79237 !important;}

.left-side-expand .page-wrapper{
	overflow-x: hidden;
	position: relative;
	height: 100%;   
}

.important_notification a {color: green !important;}

.error {color: red;}

#upcomming_session_modal .glyphicon {
	font-size: 14px !important;
}
.session_feedback{cursor: pointer !important;}
.navbar-custom-menu .select-user select{
	width: 85px;
	background-position: 84% 50% !important;
}

.landing-page .landing-page-header .navbar-toggle{
	height: 50px;
}
.landing-page .filter-mobile {
	top: 113px;
}
.btn-grey {
	width: 100%;
}
.arrow-secondry-btn{
	width: 100%;
	text-align: center;
}
.arrow-primary-btn{
	width: 100%;
}
.modal-content {
	max-height: 560px;
	overflow-x: auto;
}

.with-become-tutor .select-user .become-tutor{
	margin-top: 17px;
}
/* hide this style because create a issue in homepage find tutor popup datepickers
.transparent-modal {
	z-index: 99999; 
}*/
.landing-submit.btn-block {
	width: 100%;
}
.modal-content-box .btn{
	width: 100%;
	font-size: 14px;
	border: 0;
	font-weight: 600;
}
.tutor-detail-wrapper .btn-default.login-btn{
	width: initial !important;
}

.custom_error_msg{color: red;display: none;}
.custom_success_msg{color: green;display: none;}

.become-tutor-dashboard .select-accordion{
	border: 0;
}
.back-link-btn {
	display: block;
	clear: both;
}
.suggested-tutor-info dt{
	text-align: left;
}

