
.icon-search:before { content: '\e001'; } /* '' */
.icon-eye:before { content: '\e002'; } /* '' */
.icon-arrow-left:before { content: '\e003'; } /* '' */
.icon-line-clock:before { content: '\e004'; } /* '' */
.icon-arrow-right:before { content: '\e005'; } /* '' */
.icon-study:before { content: '\e006'; } /* '' */
.icon-line-glob:before { content: '\e007'; } /* '' */
.icon-man-1:before { content: '\e008'; } /* '' */
.icon-message:before { content: '\e009'; } /* '' */
.icon-session_req:before { content: '\e010'; } /* '' */
.icon-error:before { content: '\e011'; } /* '' */
.icon-line-arrow-right:before { content: '\e012'; } /* '' */
.icon-tick-mark:before { content: '\e013'; } /* '' */
.icon-notify:before { content: '\e014'; } /* '' */
.icon-calendar-fill:before { content: '\e015'; } /* '' */
.icon-event:before { content: '\e016'; } /* '' */
.icon-clock:before { content: '\e017'; } /* '' */
.icon-calendar:before { content: '\e018'; } /* '' */
.icon-flag:before { content: '\e019'; } /* '' */
.icon-call:before { content: '\e020'; } /* '' */
.icon-book:before { content: '\e021'; } /* '' */
.icon-play:before { content: '\e022'; } /* '' */
.icon-pin:before { content: '\e023'; } /* '' */
.icon-delete:before { content: '\e024'; } /* '' */
.icon-globe:before { content: '\e025'; } /* '' */
.icon-building:before { content: '\e026'; } /* '' */
.icon-fill-calendar:before { content: '\e027'; } /* '' */
.icon-phone:before { content: '\e028'; } /* '' */
.icon-emoji:before { content: '\e029'; } /* '' */
.icon-my_free_session:before { content: '\e030'; } /* '' */
.icon-dashboard:before { content: '\e031'; } /* '' */
.icon-my_preferences:before { content: '\e032'; } /* '' */
.icon-mail-fill:before { content: '\e033'; } /* '' */
.icon-my_profile:before { content: '\e034'; } /* '' */
.icon-share_exp:before { content: '\e035'; } /* '' */
.icon-my_session:before { content: '\e036'; } /* '' */
.icon-line-arrow-left:before { content: '\e037'; } /* '' */
.icon-payment:before { content: '\e038'; } /* '' */
.icon-line-mail:before { content: '\e039'; } /* '' */
.icon-setting:before { content: '\e040'; } /* '' */
.icon-logout:before { content: '\e041'; } /* '' */
.icon-man:before { content: '\e042'; } /* '' */
.icon-user:before { content: '\e043'; } /* '' */
.icon-tutors:before { content: '\e044'; } /* '' */
.icon-location:before { content: '\e045'; } /* '' */
.icon-group:before { content: '\e046'; } /* '' */
.icon-free-session:before { content: '\e047'; } /* '' */
.icon-preference:before { content: '\e048'; } /* '' */