@charset "utf-8";
 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 768px STARTS
	
	***************************************************************************************/
	@media screen and (min-width:320px) {
		.payment-bottom .schedule-list li span {
			display: inline-block ;
		}
		.schedule-list li div i {
			margin-right: 4px;
		}
		.schedule-list li div {
			margin-right: 3px;
		}
		.box-header .session-detail-month{
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 15px;
		}

	}

	@media screen and (max-width:320px) {
		.become-tutor{max-width: 100px;}
	}

	@media screen and (min-width:568px) {
		.dashboard-header .navbar-custom-menu { float: right; position: relative; right: 15px; }
		.dashboard-header .navbar-left { float: left; }
		.dashboard-page .navbar-toggle { height: 80px; left: 120px; right: auto; }
		.suggested-tutor-list { padding-left: 35px; padding-right: 35px; width: 325px; }
		.suggested-tutor-review a { padding: 20px 34px; }
		.button-wrapper-group button.login-btn { margin-right: 30px; }
		.button-wrapper-group button { padding: 18px 53px; width: auto; margin-bottom: 0; }
		.button-wrapper-group button.btn-grey { margin-left: 5px !important; }
		.with-become-tutor .select-user { padding: 0; margin-left: 15px; }
		/*My-Availability page Start from here kaushik*/
		.save-cancel-block button{display: inline;width: auto;}
		.button-wrapper a:first-child { float: left;}
		.button-wrapper a {margin-right: 30px;}
		.button-wrapper a:last-child { margin-right: 0;padding:12px 35px;    display: inline-block;}
		/*My-Availability page end from here*/
		.new-test-profile .navbar-collapse.collapse{
			display: block !important;
			margin: 0px 6px;
			width: auto;
		}
		.schedule-list li div {
			margin-right: 10px;
		}
		.schedule-list li div i {
			margin-right: 7px;
		}
		.select-user {
			padding: 0;
		}
		.btn-orange {
			width: inherit;
		}
	}    
	@media screen and (min-width:768px) {
		/*login page start from here*/
		.company-wrapper-info { width: 50%; }
		.login-user { width: 50%; display: table-cell; vertical-align: middle; padding-top: 0; margin-top: 120px; }
		.login-page-container, .copyright-login { padding: 0 30px; }
		.copyright-login { position: absolute; bottom: 49px; }
		.login-wrapper { padding-bottom: 30px; margin-top: 60px; }
		.title-wrapper { margin-bottom: 42px; padding-bottom: 30px; }
		.title-wrapper h3 { font-size: 30px; }
		.login-form { margin-bottom: 60px; }
		.copyright-login { text-align: left; }
		/*.logo-images {position: absolute;margin-left: 10%;margin-top: -305px;}*/
		.logo-images { left: 15%; margin-left: 0; margin-top: 0; padding: 20px; position: absolute; top: 15%; }
		/*login page end from here*/
		.forgot-password-button .login-btn { margin-bottom: 0; }
		.send-username-success { margin-bottom: 60px; }
		/* register start form here */
		.page-wrapper { height: 100%; }
		.register-page-wrapper.page-wrapper { height: auto; }
		.title-left-content { display: table-cell; }
		.title-right-content { display: table-cell; vertical-align: bottom; text-align: right; }
		.title-right-content a { display: inline-block; font-weight: bold; }
		.logo-wrapper { margin-bottom: 27px; }
		.select-user-type h6 { font-size: 20px; line-height: 1.2; margin-bottom: 23px; margin-top: 0; }
		.box-radio-user { position: relative; }
		.box-radio-user input { opacity: 0; position: absolute; }
		.box-radio-user label { margin-bottom: 0; }
		.user-detail-section { border-bottom: 0; margin-bottom: 38px; }
		.user-detail-section.nav-tabs>li { padding-left: 0; margin-right: 3%; width: 31.33%; }
		.user-detail-section.nav-tabs>li:last-child { margin-right: 0; }
		.user-detail-section.nav-tabs>li>a { border-radius: 0; margin-right: 0; text-align: center; border-bottom: 3px solid #828282; padding: 19px 15px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08); font-size: 14px; color: #2f2f2f; -webkit-transition: box-shadow 0.3s linear, border 0.3s linear; transition: box-shadow 0.3s linear, border 0.3s linear; -moz-transition: box-shadow 0.3s linear, border 0.3s linear; }
		.user-detail-section.nav-tabs>li.active>a, .user-detail-section.nav-tabs>li.active>a:focus, .user-detail-section.nav-tabs>li.active>a:hover { font-weight: bold; color: #2f2f2f; border-bottom: 3px solid #ffcb40; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16); }
		.user-detail-section.nav>li>a:focus, .user-detail-section.nav>li>a:hover { background: transparent; }
		/*register end form here*/
		.action-button a { margin-bottom: 0; }
		.custom-radio { margin-bottom: 0; }
		.total-curriculum { display: inline-block; float: right; }
		.curriculum-record dt { display: inline-block; }
		.curriculum-record dl { display: inline-block; padding-right: 15px;}
		.box-radio-user label { padding: 25px 25px 25px 50px; }
		.has-error-text { position: absolute; padding-right: 15px;}
		.tutor-image { height: 120px; width: 120px; margin: 0 15px; }
		.search-tutor-detail { margin-left: 150px; float: none; width: auto; }
		.tutor-pearsonal-detail { padding: 0; }
		.landing-page-header .logo.navbar-brand { margin-left: 0; }
		.landing-page-header .logo.navbar-brand { max-width: 105px; }
		.navbar-fixed-top + .mid-section { margin-top: 82px; padding-top: 20px; }
		.landing-page .mid-section { margin-top: 82px; padding-top: 20px; }
		.search-tutor-basic-detail-wrapper { width: 50%; }
		.rating-wrapper { width: 25%; }
		.punctual-rating-wrapper { width: 25%; }
		.register-button-wrapper { float: left; margin-top: 5px; margin-bottom: 15px; width: 100%; }
		.search-tutor-basic-detail dt { display: inline-block; }
		.search-tutor-basic-detail dd { display: inline-block; }
		.filter-search-result-box { margin: 0 0 55px 0; }
		.footer-logo-wrapper { float: left; }
		.footer-logo-wrapper a { max-width: 161px; }
		.copyright { float: right; text-align: right; margin-left: 25px; margin-right: 15px; margin-top: 32px; margin-bottom: 27px; }
		.footer-menu { float: left; width: 50%; text-align: left; }
		.footer-social-media-wrapper { float: right; text-align: right; width: 50%; }
		.landing-page-header .nav>li>a.home { padding-top: 15px; }
		/*tute-detail left side part start form here*/
		.tutor-detail-wrapper { float: left; }
	.tutor-detail { float: left; width: calc(100% - 165px); padding-left: 15px; padding-right: 15px; margin: 0;/*margin-bottom: 39px;*/ }
	.tutor-detail-wrapper .tutor-image { float: left; }
	/*tute-detail end from here*/
	.sm-pull-left-none { float: left !important; }
	.sm-pull-right-none { float: left !important; }
	/*dashboard*/

	/*dashboard*/
	/*landing page start form here*/
	.header-landing-page .navbar-nav { float: right; margin: 0; }
	/*dashboard end frm here*/
	.header-landing-page { padding-top: 15px; padding-bottom: 15px; z-index: 2; position: absolute; left: 0; right: 0; }
	.header-landing-page .navbar { padding-top: 16px; }
	.header-landing-page .navbar li a:hover,
	.header-landing-page .navbar li a:focus {background-color: #f79237; color: #fff;}
	.header-landing-page .sign-up-button { transition: background .3s ease-in-out 0s; -moz-transition: background .3s ease-in-out 0s; -webkit-transition: background .3s ease-in-out 0s; }
	.banner-section { background-image: none; }
	.banner-content { padding: 200px 0 85px; }
	.character img { width: 300px; }
	.second-character { left: -4%; }
	.third-character { left: 26%; }
	.about-us-section h2 { font-size: 40px; line-height: 1.2; color: #2f2f2f; }
	/*landing page end form here*/
	.header-notification-list { right: 0; left: auto; }
	.with-become-tutor .select-user .become-tutor { font-size: 16px; }
	.select-user { padding: 17px 0; margin-left: 30px; }
	.select-user label { display: inline-block; text-align: left; }
.dashboard-page .navbar-custom-menu .navbar-right { /*        margin: 7.5px -15px;*/ }
.user-detail { padding-left: 30px !important; }
.notifications-menu { margin-left: 30px; }
.navbar-nav .open .dropdown-menu.header-notification-list { right: 0; left: auto; }
.dashboard-header .navbar-custom-menu { float: none; right: 0; }
.session-detail-month { float: right; width: auto; }
.session-detail { float: left; margin-bottom: 0; }
.session-detail-month { margin-top: -3px; margin-bottom: 0; }
.join-session { float: right; margin-top: 30px; }
.box-left-title { float: left; }
.box-right-title { float: right; margin-bottom: 0; }
.notification-list-page { }
.notification-list-page .notification-detail { text-align: right; margin-top: 8px; }
.dashboard-page .notification-message-wrapper { margin-bottom: 0; }
.notification-status { text-align: right; margin-bottom: 0; }
.notification-status a.older { margin-right: 80px; }
.unread { margin: 0; }
/*free-session start form here*/
.free-sessions-section ul{width: auto;}
.free-sessions-section ul li { vertical-align: middle; text-align: center; padding-right: 30px;width: auto; }
.free-sessions-section .well { margin: 0; }
/*free-session end form here*/

/*MCQ section start form here*/
.mcq li { display: inline-block; vertical-align: top; margin-right: 30px; padding-right: 30px; border-right: 1px solid #d3d3d3; }
.list-radio-btn li { counter-increment: listStyle; width: auto; position: relative;}
/*MCQ section end form here*/
.pro-padd-section { padding-left: 15px; } 
/*Landing Page Start from here*/
.contact-us-wrapper h2 { font-size: 32px; margin-bottom: 36px; }
.contact-us-wrapper { padding: 95px 0; }
/*Landing Page end from here*/

/* Tutee payment page css start here */
.payment-tabs .nav-tabs>li>a { padding: 21px 15px; }
.schedule-list li div { font-size: 13px; margin-right: 7px; }
.schedule-list li label { font-size: 13px; }
.session-fee-rate { display: inline-block; text-align: left; padding-left: 15px;}
.payment-box .payment-user-info { border-left: 1px solid #dadada; }
.schedule-list li { display: inline-block; margin-bottom: 0px; }
.schedule-list li:first-child { margin-right: 10px; }
.schedule-list li:first-child:after { content: ""; background: #2f2f2f; position: absolute; top: 8px; width: 4px; height: 4px; border-radius: 50%; right: 0px; }
.amount-refunded-right { float: none; }
.cancel-tutee-tab .amount-block { margin-top: 10px; }
.session-fee-rate.amount-refund { padding: 0 20px; border-right: 1px solid #dadada; }
.session-fee-rate.penalty-amount { padding: 0 20px; border-right: 1px solid #dadada; }
.curriculam-list li { font-size: 14px; }
.subject-list li { font-size: 14px; }
/* Tutee payment page css start here */    

/* Tutor payment page css start here */
.session-fee-rate.amount-credit { border-right: 1px solid #dadada; padding: 0px 20px 0px 0px; }
.payment-date { float: right; }
.payment-date-padd{padding: 0;}
/* Tutor payment page css end here */
/*Tutor dashboard end from here*/
.tutor-tutee-review .rating-total { float: left; margin-right: 15px; margin-bottom: 0; margin-left: 15px; text-align: center; }
.tutor-tutee-review .rating-breakdown-wrapper { width: calc(100% - 270px); float: left; }
.tutor-tutee-review .teach span { padding-left: 0; }
.transparent-modal .modal-header h2 { font-size: 28px; }
/*tutor dashboard start from here*/
.box-legend-calender li { display: inline-block; }
.fc button.fc-today-button { min-width: inherit; margin: 0; display: inline-block; vertical-align: middle; }
th.fc-day-header { font-size: 16px; }
/* My Test page css start here */
.my-test-tabs .curriculam-list li { font-size: 15px; }
.my-test-tabs .subject-list li { font-size: 15px; }
.my-test-tabs .amount-block { margin-top: 0px; text-align: center; }
.my-test-tabs .amount-refunded-right { float: right; }
.result-status label { margin-right: 15px; }
.result-status span, .result-percentage span { font-size: 24px; }
.result-status span i { font-size: 30px; }
.btn-give-test { margin-top: 0; padding: 10px 50px; }
.date-block { margin-top: 5px; float: left; width: 58%; margin-bottom: 0; }
.date-block label { font-size: 13px; }
.btn-appear-block { float: right; }
.my-test-subject-section p{
	font-size: 16px;
	padding-right: 8px;
}
.my-test-subject-section span{
	font-size: 16px;
}
/* My Test page css start here */     

/* My Sesion page start here */
.calendar-modal { width: 400px; }
.modal-green { width: 450px; }
.modal-light-brown { width: 484px; }
.calendar-schedule-right { text-align: right; }
.calendar-arrow:after, .calendar-arrow:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.modal-orange .calendar-arrow:after { border-left-color: #fff; border-width: 10px; margin-top: -10px; }
.modal-orange .calendar-arrow:before { border-left-color: #ff8a00; border-width: 11px; margin-top: -11px; }
.modal-red .calendar-arrow:after, .modal-red .calendar-arrow:before { left: inherit; right: 100%; }
.modal-red .calendar-arrow:after { border-right-color: #fff; border-width: 10px; margin-top: -10px; }
.modal-red .calendar-arrow:before { border-color: rgba(194, 225, 245, 0); border-right-color: #f82617; border-width: 11px; margin-top: -11px; }
.modal-green .calendar-arrow:after { border-color: rgba(255, 255, 213, 0); border-left-color: #fff; border-width: 10px; margin-top: -10px; }
.modal-green .calendar-arrow:before { border-color: rgba(194, 225, 245, 0); border-left-color: #499f0f; border-width: 11px; margin-top: -11px; }
.modal-light-brown .calendar-arrow:after { border-color: rgba(255, 255, 213, 0); border-left-color: #fff; border-width: 10px; margin-top: -10px; }
.modal-light-brown .calendar-arrow:before { border-color: rgba(194, 225, 245, 0); border-left-color: #ab8b50; border-width: 11px; margin-top: -11px; }
.modal-orange:before { border-left: 8px solid #ffdcb2; top: 0; bottom: inherit; border-bottom: 0;width: auto;height:100%;}
.modal-red:before { border-right: 8px solid #fdbdb9; top: 0; bottom: inherit; border-bottom: 0;width: auto;height:100%;}
.modal-green:before {border-left: 8px solid #c8e2b7; top: 0; bottom: inherit;border-bottom: 0; width: auto;height:100%;}
.modal-light-brown:before { border-right: 8px solid #e6dcca; top: 0; bottom: inherit; }
/* My Sesion page start here */    
/*My-Availability page Start from here*/
.plus-btn{margin-top: 0;}
.select-time-to { padding-top: 15px;}
.tutor-box-radio-box label span {font-size: 16px;}
/*My-Availability page end from here*/
/*** Benefits section css starts here ***/   
.benefits-section{padding: 80px 0;}     
.benefits-left-hero{position: absolute;left:0;bottom: 0;height: 150px; width: 180px;}
.benefits-right-hero{position: absolute;right:0;bottom: 0;height: 150px; width: 180px;}     
.benefits-circle-item{margin-bottom: 0;}
.benefits-circle-item p{font-size: 16px;}
.benefits-circle-item .benefits-circle{ height: 110px;width: 110px;margin:20px auto 20px;}
.benefits-circle-item .benefits-circle:after{height: 130px;width: 130px;}
.benefits-circle-item .benefits-circle img{margin-top: 30px;width:55px;}
.benefits-circle i {font-size: 60px;line-height: 110px;}
.how-it-work-section{padding-top: 80px;
	background: rgb(247,146,55);background: -moz-linear-gradient(left, rgba(247,146,55,1) 50%, rgba(247,146,55,1) 50%, rgba(223,28,77,1) 50%, rgba(223,28,77,1) 50%);
	background: -webkit-linear-gradient(left, rgba(247,146,55,1) 50%,rgba(247,146,55,1) 50%,rgba(223,28,77,1) 50%,rgba(223,28,77,1) 50%);
	background: linear-gradient(to right, rgba(247,146,55,1) 50%,rgba(247,146,55,1) 50%,rgba(223,28,77,1) 50%,rgba(223,28,77,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79237', endColorstr='#df1c4d',GradientType=1 );
}
.how-it-work-section:after{background-position: center center;}
.work-circle{
	height: 150px;
	width: 150px;
	position: absolute;
	margin:0;
	z-index: 2;
}
.work-circle:before{
	height: 190px;
	width: 190px;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
}
.circle-place-wrapper{
	height: 297px;
}
.how-it-work-section p{font-size: 18px;}
.line-wrapper{display: block;}

.circle-1 {
	left: 30px;
	top: 380px;
}
.circle-2 {
	left: 53px;
	top: 153px;
}
.circle-3 {
	left: 301px;
	top: 30px;
}
.circle-4 {
	right: 43px;
	top: 156px;
}
.circle-5 {
	right: 30px;
	top: 378px;
}
.line-1 {
	position: absolute;
	left: 152px;
	bottom: -214px;
	z-index: 0;
}
.line-1 img{width: 330px;}
.line-2 {
	position: absolute;
	left: 162px;
	top: 268px;
}
.line-2 img{width: 220px;}
.line-3 {
	position: absolute;
	left: 372px;
	top: 170px;
}

.line-4{    position: absolute;
	left: 343px;
	top: 224px;}
	.line-4 img {width: 269px;}

	.line-5 {
		position: absolute;
		right: 149px;
		bottom: -213px;
	}
	.line-5 img{width: 290px;}
	.circle-wrapper{width: 750px;}
	#aboutUsVideo .modal-dialog{width: 600px;}
	/*find-tutor start here*/
	.tuteme-nav-bar .navbar-collapse.collapse{
		display: block !important;
	}   
	.tuteme-nav-bar .navbar-toggle{
		display: none;
	}
	/*find-tutor end here*/

	.new-test-profile .navbar-brand{
		margin-top: 0;
	}
	.banner-content h1{font-size: 40px;}
	.banner-content h5 { font-size: 20px;}
	.landing-page .navbar-toggle {
		height: 79px;
		right: 0;
	}
	.landing-page .logo {
		display: inline-block; 
		max-width: 144px;
	}
	.how-it-work-section h2 , .benefits-section h2{
		font-size: 40px;}
		.find-tutor-modal button.close{
			right: -35px;
			position: absolute;

		}
		.modal-close-btn{
			position: relative;
			top: -10px;
			z-index: 10;
		}
		.tuteme-nav-toggle .navbar-toggle{
			display: none;
		}

		.box-header .session-detail-month{
			display: inline-block;
			margin-bottom: 15px;
			margin-right: 0;
		}
		.list-radio-btn li:before {
			margin-top: -15px !important;
		}
		.ajax-loader img {
			position: relative;
			top: 35%;
			left: 0;
			bottom: 0;
			right: 0;
		}

		.ajax-loader img {    position: relative;    top: 35%;    left: 0;    bottom: 0;    right: 0;}
		.filter-mobile {
			top: 85px !important;
			z-index: 99;
		}
		.with-become-tutor .select-user {
			padding: 17px 0;
		}
		.tuteme-md-btn {
			width: inherit !important;
		}
		.new-test-modal .btn-orange{
			width: inherit !important
		}
		.new-test-modal .btn-grey {
			width: inherit !important;
		}
		.btn-grey {
			width: inherit !important;
		}
		.login-btn { width: inherit ;}
		.setting-btn-pad{ width: initial;}
		.tutor-dashboard .login-btn {
			width: 225px;
		}
		.tuteme-md-btn {
			width: inherit;
		}
		.arrow-secondry-btn{
			width: inherit;
		}
		.arrow-primary-btn{
			width: inherit;
		}
		.with-become-tutor .select-user .become-tutor{
			margin-top: 0 !important;
		}
		.modal-content {
			max-height: inherit !important;
			overflow-x: inherit !important;
		}
		.modal-content-box .btn{
			width: inherit !important;
			font-size: 14px !important;
			border: 0;
		}

	}
 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 992 STARTS

	***************************************************************************************/

	@media screen and (min-width:992px) {

		/*menu display */
		.landing-page .navbar-toggle {
			display: none;
		}
		.landing-page-main .fixed_header .logo {
			padding-top: 10px;
		}
		.landing-page .navbar-collapse.collapse{
			display: block !important;
		}
		.landing-page .navbar-nav>li {
			float: left;
			display: inline-block;
		}
		.landing-page  .header-landing-page .navbar-nav {
			float: right;
			margin: 0;
			width:inherit;
		}
		.landing-page-main .fixed_header .fix-logo{display: block;}
		.landing-page-main .fixed_header .unfix-logo{display: none;}
		.landing-page-main .fix-logo{display: none;}
		.landing-page-main .header-landing-page{
			padding-top: 15px;
			padding-bottom: 15px;
			z-index: 2;
			position: absolute;
			left: 0;
			right: 0;
			box-shadow: none;
			background: transparent;
		}

		.about-us-section{padding-top: 100px;padding-bottom: 100px;}
		/*menu display */

		.user-image-wrapper { margin: 0; text-align: center; }
		.login-page-container, .copyright-login { padding: 15px 60px; }
		.company-wrapper h1 { font-size: 50px; margin-bottom: 25px; }
		.company-wrapper span { font-size: 18px; }
		.company-wrapper-info { width: 60%; }
		.login-user { width: 40%; }
		.full-size-image { position: fixed; top: 0; left: 0; width: 250px; height: 100vh; padding-top: 0; padding-bottom: 0; -webkit-transition: width .5s ease!important; transition: width .5s ease!important; background: #fff; box-shadow: 0 0 50px 0 rgba(0,0,0,.05); background-image: url(../images/bg.jpg); background-repeat: no-repeat; background-size: cover; }
		.full-size-image:before { position: absolute; content: ""; left: 0; right: 0; top: 0; bottom: 0; background-image: -webkit-linear-gradient(rgba(223, 28, 77, 0.85) 0%, rgba(247, 146, 55, 0.85) 100%); background-image: linear-gradient(rgba(223, 28, 77, 0.85) 0%, rgba(247, 146, 55, 0.85) 100%); }
		.register-page-wrapper { width: calc(100% - 280px); margin-left: auto; }
		.fluid-content-section { padding-right: 40px; padding-left: 0 }
		.basic-image-upload-wrapper { margin: 0 auto 20px; }
		.filter-mobile { display: none; }
		.search-tutor-basic-detail-wrapper { width: 63%; }
		.rating-wrapper { width: 37%; }
		.punctual-rating-wrapper { width: 40%; }
		.register-button-wrapper { float: right; margin-top: 5px; margin-bottom: 15px; width: 40%; }
		.rating-wrapper .rating { float: right; padding-right: 15px; }
		.left-aside .affix { width: 41.66666667%; padding-right: 30px; }
		.touchevents .left-aside .affix.affix-top { top: 10px; }
		.footer-logo-wrapper { float: none; display: inline-block; vertical-align: middle; /* margin-bottom: 0; */ text-align: left; width: 19%; }
		.copyright { display: inline-block; float: none; margin: 0 15px 0 15px; width: 50%; text-align: center; }
		.footer-menu { display: inline-block; width: auto; float: right; text-align: left; width: 27%; text-align: right; margin-top: 28px; }
		.footer-social-media-wrapper { float: none; text-align: center; width: 100%; }
		.landing-page footer { padding: 30px 0; }
		.sm-font-title { padding-left: 15px; }
		.custom-search .custom-search { font-size: 22px; }
		.filter-wrapper .select-accordion { padding-left: 20px; }
		.red-title { margin-bottom: 28px; }
		/*media tute detail start from here*/
		.tutee-review-wrapper .media-body, .tutee-review-wrapper .media-left, .tutee-review-wrapper .media-right { display: table-cell; width: auto; }
		.tutee-review-wrapper .media-body { width: 10000px; }
		.img-round { margin: 0 10px 0 0; }
		/*media tute detail end from here*/
		.tutee-title { margin-bottom: 0; }
		.tutee-title { float: left; width: calc(100% - 163px); }
		.reserve-place { float: right; }
		/* rating start form here*/
		.rating-breakdown-wrapper { float: left; width: calc(100% - 180px); margin-top: 20px; }
		.rating-total { float: left; width: 170px; margin-right: 10px; }
		.dropdown-menu { left: inherit; right: 0; min-width: 396px; }
		.second-character { left: 0; }
		.third-character { left: 33.33%; }
		.fourth-character { left: 66.66%; }
		.character img { width: 300px; } 
		.send-card-requests .btn-small-pad { float: right; }
		/*Session-request Start from here*/
		.send-card-requests .btn-small-pad { float: right; }
		.decline-btn-tutor { margin-right: 20px; }
		.subject-section { display: block; padding-right: 10px; }
		.punctual-reating { float: none; }
		.pro-padd-section { padding-left: 35px; padding-right: 0px;} 
		/*Session-request end from here*/
		/* Tutee payment page css start here */
		.payment-tabs .nav-tabs>li>a { padding: 21px 30px; }
		.schedule-list li div { font-size: 14px; margin-right: 10px; }
		.schedule-list li label { font-size: 14px; }
		.cancel-tutee-tab .payment-box .session-fee-rate { padding: 0 9px; }
		.session-fee-rate.amount-refund { padding: 0 9px; }
		.session-fee-rate.penalty-amount { padding: 0 9px; }
		.cancel-tutee-tab .payment-box .session-fee-rate span { font-size: 13px; }
		.amount-block { float: right; margin-top: 0; }
		.session-fee-rate { text-align: center; }
		/* Tutee payment page css start here */    

		/* Tutor payment page css start here */
		.session-fee-rate.amount-credit { padding: 0 8px; }
		.session-fee-rate.amount-credit span { font-size: 13px; }
		.tutor-dashboard .success-tab .payment-box .session-fee-rate { padding: 0 8px; }
		.tutor-dashboard .success-tab .payment-box .session-fee-rate { font-size: 13px; }
		/* Tutor payment page css end here */

		/*landing page contact us section start */

		.contact-help p { font-size: 16px; }
		.landing-input input { font-size: 18px; }
		/*landing page contact us end start*/

		/*My-Availability page Start from here*/

		.selected-time-list dt { text-align: left; width: 100px; color: #898989; font-size: 15px; }
		.select-time-spacing { margin-bottom: 30px; }
		.tutor-availability-b { margin-bottom: 50px; }

		/*My-Availability page end from here*/


		.tutor-tutee-review .media-left, .tutor-panctual-rating .media-left { display: table-cell; }
		.left-aside-dashboard { top: 20px; }
		.box-legend-calender { text-align: center; margin-bottom: 21px; }
		/* My Test page css start here */
		.result-status, .result-percentage { padding: 0 20px; }
		.my-test-tabs .curriculam-list li { font-size: 12px; }
		.my-test-tabs .subject-list { margin-left: 10px; }
		.my-test-tabs .subject-list li { font-size: 12px;}
		.my-test-tabs .amount-block { margin-top: 0px; text-align: left; }
		/* My Test page css start here */

		/*** Benefits section css starts here ***/   
/*.benefits-left-hero {height: 200px; width: 240px;}
.benefits-right-hero{height: 200px; width: 240px;} */
.benefits-circle-item p{font-size: 18px;}    
.benefits-circle-item .benefits-circle{ height: 150px;width: 150px;margin:20px auto 40px;}
.benefits-circle-item .benefits-circle:after{height: 170px;width: 170px;}
.benefits-circle-item .benefits-circle img{margin-top: 38px;width: 80px;}
.benefits-circle i{font-size: 70px;line-height: 148px;}
.circle-wrapper{width: 970px;}

.work-circle{
	height: 180px;
	width: 180px;
	font-size: 16px;
}
.work-circle:before{
	height: 220px;
	width: 220px;
}

.line-1 {
	position: absolute;
	left: 92px;
	bottom: -244px;
}
.line-1 img{ width: 380px;}
.line-2 {
	position: absolute;
	left: 272px;
	top: 318px;
}
.line-2 img{width: 240px;}
.line-3 {
	position: absolute;
	left: 481px;
	top: 230px;
}
.line-4 {
	position: absolute;
	left: 453px;
	top: 311px;
}
.line-4 img{width: 230px;}
.line-5 {
	position: absolute;
	right: 167px;
	bottom: -249px;
}
.line-5 img{width: 330px;}
.circle-1 {
	left: 50px;
	top: 420px;
}
.circle-2 {
	left: 153px;
	top: 183px;
}
.circle-3 {
	left: 393px;
	top: 30px;
}
.circle-4 {
	right: 143px;
	top: 182px;
}
.circle-5 {
	right: 48px;
	top: 418px;
}

.how-it-work-section{padding-top: 119px;}
.landing-page-main .fixed_header .logo{padding-top: 20px;}

.landing-page-main .fixed_header .fix-logo{display: block;}
.landing-page-main .fixed_header .unfix-logo{display: none;}
.landing-page-main .fix-logo{display: none;}
.header-landing-page .navbar li a {
	color: #e4eded;
}
.landing-page-main .logo {
	padding-bottom: 0;
}
.landing-page-main .fixed_header.header-landing-page .navbar li a {color: #6c6c6c;}


.landing-page-main .fixed_header.header-landing-page  .navbar li a:hover,
.landing-page-main .fixed_header.header-landing-page  .navbar li a:focus{
	background-color: rgba(0,0,0,0);
	color:#df1c4d;
}
.landing-page-main .fixed_header.header-landing-page  .navbar li a.sign-up-button:hover,
.landing-page-main .fixed_header.header-landing-page  .navbar li a.sign-up-button:focus{
	background: #f79237;color:#fff;
}

.landing-page-main .fixed_header.header-landing-page .navbar li.active a{color:#df1c4d;}
.with-become-tutor .select-user .become-tutor{
	margin-right: 15px;
}
.back-link-btn {
	display: inline-block !important;
}



}

 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
	
	***************************************************************************************/

	@media screen and (min-width:1201px) {
		/*landing page start form here*/
		.tute-me-dashboard-image {     width: 680px; }
		.about-us-section{padding-bottom: 250px;}
		.how-it-work-section:before {
			position: absolute;
			content: "";
			right: 0;
			background: url(../images/how-gear.png) no-repeat;
			width: 375px;
			top: -60px;
			z-index: 1;
			height: 364px;
		}
		/*landing page end form here*/
		/*login page start from here*/
		.company-wrapper-info { width: 66%; }
		.login-user { width: 34%; }
		.company-wrapper { padding: 0; }
		.company-wrapper h1 { font-size: 60px; }
		.company-wrapper span { font-size: 19px; }
		/*login page end from here*/
		.logo-images { margin-left: 0; margin-right: 20px; margin-top: -305px; top: 50%; left: 50%; padding: 0; }
		.has-error-text { color: #f00; position: absolute;}
		.search-tutor-basic-detail-wrapper { width: 50%; padding-left: 0; padding-right: 0; }
		.rating-wrapper { width: 50%; padding-left: 15px; padding-right: 15px; }
		.punctual-rating-wrapper { width: 52%; padding-left: 0; padding-right: 15px; }
		.register-button-wrapper { width: 48%; padding-left: 0; padding-right: 15px; }
		.register-button-wrapper .tutee-dashboard-btn { margin: 0; width: 100%; }
		.rating-wrapper .rating { float: none; padding-right: 0; }
		.left-aside .affix { width: 33.33333333%; padding-right: 30px; z-index: 99;}
		.footer-logo-wrapper { width: 173px; text-align: left; }
		.footer-logo-wrapper a { margin: 0; }
		.copyright { width: 41%; text-align: center; }
		.footer-menu { width: 22%; text-align: left; float: none; display: inline-block; }
		.footer-social-media-wrapper { float: right;  width: 19%; display: inline-block; text-align: right; margin-top: 28px; }
		.footer-social-media-wrapper ul li { display: inline-block; vertical-align: middle; margin-right: 25px; font-size: 22px; line-height: 1.2; margin-bottom: 0; }
		/*dashboard start frm here*/
		.dashboard-page .navbar-toggle { display: none; height: 81px; }
		.left-side-expand .left-aside-dashboard { width: 230px; white-space: normal; overflow: visible;padding-right: 0; }
		.left-side-expand .left-aside-dashboard ul span { visibility: visible; transition-delay: 0.3s; }
		.left-aside-dashboard ul span { visibility: hidden; }
		.character img { width: 300px;}
		.second-character { left: 16%; }
		.third-character { left: 34%; }
		.fourth-character { left: 60%; }
		/*MCQ section start form here*/
		.timer { position: absolute; width: 231px; height: 75px; left: 0; background: #f79237; top: -25px; color: #fff; text-align: center; line-height: 60px; right: 0px; }
		/*MCQ section end form here*/

		/*Session-request Start from here*/
		.btn-small-pad { padding: 10px 10px; font-size: 14px; display: inline-block; }
		.subject-section { display: inline-block; padding-right: 10px; }
		.punctual-reating { float: left; padding-top: 7px; }
		/*Session-request End from here*/
		/* Tutee payment page css start here */
		.cancel-tutee-tab .payment-box .session-fee-rate { padding: 0 20px; }
		.session-fee-rate.amount-refund { padding: 0 20px; }
		.session-fee-rate.penalty-amount { padding: 0 20px; }
		.cancel-tutee-tab .payment-box .session-fee-rate span { font-size: 14px; }
		.amount-refunded-right { float: right; }
		/* Tutee payment page css start here */    

		/* Tutor payment page css start here */
		.session-fee-rate.amount-credit { padding: 0 16px; }
		.tutor-dashboard .success-tab .payment-box .session-fee-rate { padding: 0 16px; }
		.success-tab .payment-box .session-fee-rate { padding: 0 20px; }
		/* Tutor payment page css end here */    
		/* My Test page css start here */
		.result-status, .result-percentage { padding: 0 30px; }
		.date-block .label-top-spacing { font-size: 15px; }
		.my-test-tabs .curriculam-list li { font-size: 16px; }
		.my-test-tabs .subject-list li { font-size: 16px; }
		.my-test-tabs .subject-list { margin-left: 20px; }
		.result-status label { margin-right: 15px; }
		.result-status span, .result-percentage span { font-size: 24px; }
		.result-status span i { font-size: 30px; }
		.my-test-tabs .amount-block { margin-top: 0px; }
		.my-payment-pera p{
			margin-bottom: 0px;
		}
		.pending-test-vline .subject-section{
			vertical-align: bottom;
			padding-top: 10px;
		}
		/* My Test page css start here */    

		.tutor-tutee-review .media-left, .tutor-panctual-rating .media-left { display: block; }
		.dashboard-page .navbar-fixed-top + .mid-section { margin-top: 112px; padding-top: 0; }
		.left-aside-dashboard { top: 0; }
		/*My-Availability page Start from here*/
		.right-side-time-section { position: absolute; right: 0; height: 100%; top: 0px; padding-top: 55px; background: #fff; padding-left: 0px; padding-right: 0; margin-bottom: 0px; min-width: 300px;}
		.tutor-box-radio-box label{
			padding: 25px 10px 25px 45px;
		}
		.tutor-box-radio-box label span{
			font-size: 14px;
		}
		/*My-Availability page end from here*/
		/*tutee-profile-edit Start here */
		.personal-details-left{
			padding-left: 50px;
		}
		/*tutee-profile-edit End here*/
		.tutor-tutee-review .rating-breakdown-wrapper {width: calc(100% - 230px);}
		/*** Benefits section css starts here ***/   
		.benefits-section{padding: 80px 0;}   
		.benefits-circle-item{margin-bottom: 20px;width: 18%;float: none;display: inline-block;}   
		.benefits-left-hero {height: 180px; width: 220px;display:inline-block;}
		.benefits-right-hero{height: 180px; width: 220px;display:inline-block;}   

		.left-aside-dashboard { white-space: nowrap; overflow: hidden; width: 90px;padding-right: 10px; position: absolute; top: 0; left: 15px; min-height: 100%; transition: width 0.3s linear 0s; -webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);}
			.left-side-expand .left-aside-dashboard { width: 230px; white-space: normal; overflow: visible; }
			.left-side-expand .left-aside-dashboard ul li a:hover, .left-side-expand .left-aside-dashboard ul li a:focus { font-weight: 700; text-decoration: none; }
			.left-side-expand .left-aside-dashboard ul li a:hover:after { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-left: 10px solid #fff; }
			.content-wrapper { margin-left: 90px; transition: margin 0.3s linear 0s; }
			.content { min-height: 250px; padding: 0 0 15px 15px; margin-right: auto; margin-left: auto; }
			.left-side-expand .content-wrapper { margin-left: 245px; }
			/*    .left-aside-dashboard { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }*/
			.content-wrapper { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
			.circle-wrapper{width: 970px;}
			.curriculum-record dt { display: inline-block; }
			.curriculum-record dl {
				display: inline-block;
			}

		}
		@media screen and (max-width:991px) {
			.affix { position: static; }
			.left-aside { position: fixed; width: 100%; right: -100%; z-index: 99; top: 0; background: rgba(0,0,0,0.5); height: 100%; overflow: auto; transition: position 0.3s linear 0s, right 0.3s linear 0s; -moz-transition: position 0.3s linear 0s, right 0.3s linear 0s; -webkit-transition: position 0.3s linear 0s, right 0.3s linear 0s; }
			body.open-drawar { overflow: hidden; }
			.open-drawar .filter-mobile { z-index: 99999; visibility: hidden; }
			.navbar-fixed-bottom, .navbar-fixed-top { position: relative !important; }
			.navbar-fixed-top + .mid-section { margin-top: 0; padding-top: 0; }
			.landing-page .mid-section { margin-top: 0; padding-top: 0; }
			.affix-bottom { position: relative; top: 0 !important; }
			.open-drawar .left-aside { padding-top: 15px; }
			.navbar-nav .open .dropdown-menu.header-notification-list { min-width: 310px; }
			.subject-section { display: block; padding-right: 10px; }

			.content-wrapper {
				-webkit-transform: inherit;
				-ms-transform: translate(0, 0);
				-o-transform: translate(0, 0);
				transform: inherit;
			}
			.filter-mobile{
				right: 10px;
				left: inherit; 
			}
			.open-drawar .left-aside {
				left: inherit;
				right: 0;
			}

		}
		@media screen and (max-width:767px) {
			.left-side-expand .content-wrapper { margin-left: 0; }
			.left-side-expand .left-aside-dashboard { -webkit-transform: translate(0px, 0); -ms-transform: translate(0px, 0); -o-transform: translate(0px, 0); transform: translate(0px, 0); }
			.left-aside-dashboard { -webkit-transform: translate(-260px, 0); -ms-transform: translate(-260px, 0); -o-transform: translate(-260px, 0); transform: translate(-260px, 0); }
			.left-side-expand .content-wrapper { -webkit-transform: translate(260px, 0); -ms-transform: translate(260px, 0); -o-transform: translate(260px, 0); transform: translate(260px, 0); }
			/* Tutor payment page css start here */
			.payment-date { padding-left: 0; }
			.payment-date label { padding-left: 0; }
			/* Tutor payment page css end here */

			/* My Sesion page start here */
			.calendar-arrow:after, .calendar-arrow:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
			.modal-orange .calendar-arrow:after { border-bottom-color: #fff; border-width: 10px; margin-left: -10px; }
			.modal-orange .calendar-arrow:before { border-bottom-color: #ff8a00; border-width: 11px; margin-left: -11px; }
			.modal-red .calendar-arrow:after { border-bottom-color: #fff; border-width: 10px; margin-left: -10px; }
			.modal-red .calendar-arrow:before { border-bottom-color: #f82617; border-width: 11px; margin-left: -11px; }
			.modal-green .calendar-arrow:after { border-bottom-color: #fff; border-width: 10px; margin-left: -10px; }
			.modal-green .calendar-arrow:before { border-bottom-color: #499f0f; border-width: 11px; margin-left: -11px; }
			.modal-light-brown .calendar-arrow:after { border-bottom-color: #fff; border-width: 10px; margin-left: -10px; }
			.modal-light-brown .calendar-arrow:before { border-bottom-color: #ab8b50; border-width: 11px; margin-left: -11px; }
			/* My Sesion page start here */    

			.session-detail-month select {
				margin-left: 0 !important;
			}

			.tutor-pearsonal-detail .search-tutor-basic-detail dt{
				display: inline-block;
				width: 40%;
			}
			.tutor-pearsonal-detail .search-tutor-basic-detail dd{
				display: inline-block;
			}



		}
		@media screen and (max-width:1201px) {
			.left-side-expand .content-wrapper { margin-left: 0; }
			.left-side-expand .left-aside-dashboard { -webkit-transform: translate(0px, 0); -ms-transform: translate(0px, 0); -o-transform: translate(0px, 0); transform: translate(0px, 0); }
			.left-aside-dashboard { -webkit-transform: translate(-260px, 0); -ms-transform: translate(-260px, 0); -o-transform: translate(-260px, 0); transform: translate(-260px, 0); }
			.left-side-expand .content-wrapper { -webkit-transform: translate(260px, 0); -ms-transform: translate(260px, 0); -o-transform: translate(260px, 0); transform: translate(260px, 0); }
		}

		@media screen and (max-width:1366px) {


		}

		@media screen and (min-width:1440px) {
			.tutor-tutee-review .rating-breakdown-wrapper {width: calc(100% - 270px);}
			/* Tutee payment page css start here */
			.cancel-tutee-tab .payment-box .session-fee-rate { padding: 0 30px; }
			.session-fee-rate.amount-refund { padding: 0 30px; }
			.session-fee-rate.penalty-amount { padding: 0 30px; }
			/* Tutee payment page css start here */ 
			/* Tutor payment page css start here */
			.session-fee-rate.amount-credit { padding: 0 25px; }
			.tutor-dashboard .success-tab .payment-box .session-fee-rate { padding: 0 25px; }
			.success-tab .payment-box .session-fee-rate { padding: 0 30px; }
			/* Tutor payment page css end here */   
			/* My Test page css start here */
			.result-status, .result-percentage { padding: 0 40px; }
			/* My Test page css start here */    

			/*My-Availability page Start from here */
			.tutor-box-radio-box label span{
				font-size: 16px;
			}
			/*My-Availability page End from here*/
			/*tutee-profile-edit Start here kaushik*/
			.personal-details-left{
				padding-left: 15px;
			}

			/*tutee-profile-edit End here*/
			/*** Benefits section css starts here ***/   
			.benefits-section .benefits-circle-item p{margin-bottom: 0;}
			.benefits-circle-item{margin-bottom: 0;}
			.benefits-section p{margin-bottom: 60px;}
			.benefits-left-hero {height: 250px; width: 300px;}
			.benefits-right-hero{height: 250px; width: 300px;}     

		}
		@media screen and (min-width:1600px) {
			.logo-images { margin-left: 7%; margin-top: -305px; }
			.company-wrapper { margin: 0 0 0 13%; }
			.box-radio-user label { padding: 25px 25px 25px 80px; }
			.custom-radio label::before { left: 26px; }
			.custom-radio label::after { left: 32px; }
			.box-radio-user img { margin-right: 25px; }
			.fluid-content-section { padding-right: 125px; }
			.register-page-wrapper { width: calc(100% - 714px); }
			.full-size-image { width: 530px; }
			.user-detail-section.nav-tabs>li>a { font-size: 18px; }
			.tutor-image { margin-right: 30px; }
			.search-tutor-detail { margin-left: 165px; }
			.search-tutor-basic-detail-wrapper { width: 35%; padding-right: 15px; }
			.rating-wrapper { width: 21%; }
			.punctual-rating-wrapper { width: 19%; padding-left: 0;}
			.register-button-wrapper { width: 25%; }
			/*landing page start from here*/
			.tute-me-dashboard-image { width: 50%; }
			.about-us-content-wrapper { padding-top: 99px;}

			.landing-page-header { box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); padding-top: 18px; padding-bottom: 18px; background: #ffffff; }
			.landing-page-header .logo.navbar-brand { max-width: 126px; }
			.landing-page-header .navbar-collapse.collapse { padding-top: 11px; }
			.navbar-fixed-top + .mid-section { margin-top: 112px; padding-top: 25px; }
			.landing-page .mid-section { margin-top: 112px; padding-top: 25px; }
			.tutee-review-tutor-title h4 { display: inline-block; vertical-align: middle; margin-right: 15px; }
			.header-landing-page .container { width: 1300px; }
			.character img { width: 90%; }
			.left-round-baloons { display: block; }
			.list-radio-btn li label { border: none; padding: 0 15px 0 55px; margin-left: 0; }
			/*tutor dashboard start form here*/
			.tutor-tutee-review .media-left, .tutor-panctual-rating .media-left { display: table-cell; }
			.tutor-tutee-review { padding-top: 40px; }
			.tutor-panctual-rating { padding-top: 50px; }
			.tutor-tutee-review .rating-total { margin-right: 40px; margin-left: 55px; }
			.tutor-panctual-rating .basic-answer { margin-right: 210px; text-align: center; margin-top: 0; }
			/*tutor dashboard end fomr here*/
			/*** Benefits section css starts here ***/   
			.benefits-left-hero,.benefits-right-hero {height: 280px; width: 330px;}
			.benefits-section{padding: 120px 0;}   
			.benefits-circle-item{width: 22%;}
			.benefits-circle-item .benefits-circle img{margin-top: 50px;}
			.benefits-circle-item .benefits-circle{ height: 180px;width: 180px;}
			.benefits-circle-item .benefits-circle:after{height: 200px;width: 200px;}
			.benefits-circle i{font-size: 100px;line-height: 179px;}
			.circle-wrapper{max-width:1560px;width:100%;margin:50px auto 0 auto;}

			.circle-1{left: 50px;top: 420px;}
			.circle-2{left: 293px;top: 153px;}
			.circle-3{left: 693px;top: 80px;}
			.circle-4{right: 293px;top: 156px;}
			.circle-5{right: 48px;top: 418px;}

			.line-1{position: absolute;left: 232px;bottom: -284px;}
			.line-1 img ,
			.line-2 img,
			.line-3 img,
			.line-4 img,
			.line-5 img{
				width:100%;}
				.line-2{position: absolute;left: 432px;top: 298px;}
				.line-3{position: absolute;left: 777px;top: 230px;}
				.line-4{position: absolute;left: 833px;top: 274px;}
				.line-5{position: absolute;right: 169px;bottom: -273px;}
				.how-it-work-section:before {
					right: 147px;
				}

			}
