@charset "utf-8";
/* CSS Document */
 /***************************************************************************************
	
	GENEGRAL LAYPOUT GUIDELINES
	
	LAYOUT WIDTH :1366px
	
	FONT: sans-serif
		font-family: 'sans-serif', serif;
		Available Weights: 400, 400Italic, 700

	
		***************************************************************************************/

		.clear { clear: both; }
		.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
		.clearfix { display: block; }
		.mrg-0 { margin: 0 !important; }
		.pad-0 { padding: 0 !important; }
		.text-center { text-align: center !important; }
		.text-left { text-align: left !important; }
		.text-right { text-align: right !important; }
		.fullheight { height: 100%; }
		.display-block { display: block }
		.floatleft, .alignleft { float: left; }
		.floatright, .alignright { float: right; }
		.aligncenter { margin: 0 auto; display: block; }
		.border-none { border: none !important }
		img { margin: 0 auto; max-width: 100%; height: auto; display: inline-block; border: none; }
		figure { max-width: 100%; }
		iframe { width: 100%; margin: 0 auto; }

		::-webkit-input-placeholder {
			color: #cfcfcf;
			opacity: 1;
		}

		:-moz-placeholder {
			/* Firefox 18- */
			color: #cfcfcf;
			opacity: 1;
		}

		::-moz-placeholder {
			/* Firefox 19+ */
			color: #cfcfcf;
			opacity: 1;
		}

		:-ms-input-placeholder {
			color: #cfcfcf;
			opacity: 1;
		}
		.paddingTp10 { padding-top: 10px; }
		.color-white { color: #fff !important; }
		header { box-shadow: none; }
		/*login page start form here*/
		.login-page .page-wrapper { height: 100%; }
		.company-wrapper-info { width: 66%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; }
		.login-user { width: 100%; position: relative; padding-bottom: 70px; padding-top: 15px; }
		.login-user.table-cell { text-align: left; }
		.company-section-wrapper { background-image: url('../images/bg.jpg'); background-repeat: no-repeat; position: absolute; background-size: cover; top: 0; bottom: 0; right: 0; left: 0; }
		.company-section-wrapper:before { position: absolute; content: ""; left: 0; right: 0; top: 0; bottom: 0; background-image: -moz-linear-gradient( -45deg, rgba(223,28,77,0.85) 0%, rgba(247,146,55,0.85) 100%); background-image: -webkit-linear-gradient( -45deg, rgba(223,28,77,0.85) 0%, rgba(247,146,55,0.85) 100%); background-image: -ms-linear-gradient( -45deg, rgba(223,28,77,0.85) 0%, rgba(247,146,55,0.85) 100%); }
		.company-section-wrapper .table-cell { text-align: left; }
		.company-wrapper { z-index: 1; position: relative; max-width: 690px; margin: 0 auto; text-align: left; padding: 20px; display: table; width: 100%; height: 100%; }
		.company-wrapper .company-content { display: table-cell; vertical-align: middle; }
		.company-wrapper h1 { text-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); color: #fff; line-height: 1.2; }
		.company-wrapper span { display: inline-block; vertical-align: top; font-size: 16px; text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1); color: #fff; line-height: 1.2; }
		.login-page-container { padding: 0 15px; }
		.login-page-container .logo { display: inline-block; width: 144px; }
		.login-wrapper { margin-top: 20px; padding-bottom: 30px; }
		/*title wrapper start from here*/
		.title-wrapper { padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px; display: table; width: 100%; }
		.title-wrapper h3 { font-size: 26px; margin-bottom: 0; margin-top: 0; }
		.title-wrapper h3 + small { font-size: 16px; line-height: 1.2; }
		/*title-wrapper end form here*/
		.login-form { margin-bottom: 30px; }
		.login-form a { color: #989898; }
		.login-form a:hover, .login-form a:focus { color: #989898; text-decoration: underline; }
		.login-btn { background: #df1c4d; width: 100%; color: #fff; border-radius: 0; border: 0; padding: 18px 20px; text-transform: uppercase; }
		.sign-up span { font-weight: 600; }
		.sign-up a { font-weight: 600; text-transform: uppercase; color: #df1c4d; }
		.sign-up a:hover, .sign-up a:focus { color: #989898; }
		.copyright-login { padding: 0 15px; text-align: center; }
		.login-btn.focus, .login-btn:focus { color: #fff; }
		.copyright-login { color: #989898; }
		/*login page end form here*/
		.logo { display: inline-block; max-width: 144px; }
		.logo-wrapper { margin-bottom: 15px; }
		.forgot-password-button .login-btn { margin-bottom: 15px; }
		.send-username-success { display: table; height: 100%; width: 100%; margin-bottom: 30px; }
		.success-icon { display: table-cell; vertical-align: middle; padding-right: 20px; width: 60px; }
		.success-content { display: table-cell; vertical-align: middle; }
		.success-content p { margin-bottom: 0; }
		.fluid-content-section { height: 100%; padding: 15px; }
		.box-radio-user label { border: 1px solid #989898; display: block; padding: 15px 15px 15px 50px; position: relative; margin-bottom: 5px; -webkit-transition: border 0.3s linear, color 0.3s linear; transition: border 0.3s linear, color 0.3s linear; -moz-transition: border 0.3s linear, color 0.3s linear; }
		/*registration page start form here*/
		.basic-image-upload-wrapper { width: 160px; height: 160px; border-radius: 50%; background: #fff; box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12); position: relative; margin: 0 auto 20px; }
		.basic-image-upload-wrapper img { height: 144px; width: 144px;  display: block; position: absolute; top: 50%; left: 50%; margin: 0 auto;  margin-top: -72px; margin-left: -72px; border-radius: 50%; }
		.upload-button { display: inline-block; color: #fff; background: #f79237; border-radius: 15px; text-align: center; padding: 7px 21px; margin-left: 5px; }
		.upload-button:hover, .upload-button:focus { text-decoration: none; color: #fff; }
		.form-control:focus { background: #ffffff; color: #2f2f2f; box-shadow: none !important; border-color: #2f2f2f; font-weight: 600; }
		.user-detail-tab .arrow-primary-btn { float: right; }
		.disabled { background: #e0e0e0; cursor: no-drop; }
		.disabled:focus, .disabled:hover { background: #e0e0e0; }
		.user-image-wrapper { margin-bottom: 15px; text-align: center; }
		.action-button a { margin-bottom: 15px; }
		.custom-radio { margin-bottom: 15px; }
		.label-title { margin-top: 7px; font-weight: normal; }
		.user-detail-section { margin-top: 20px; }
		.custom-select { }
		.select-accordion { border: 1px solid #989898; border-top: 0; padding-top: 15px; padding-bottom: 15px; position: relative; display: none; }
		.add-curriculum-wrapper .select-accordion { padding-bottom: 40px; }
		.select-accordion-wrapper .custom-select { background: #efefef; color: #2f2f2f; font-size: 15px; line-height: 1.2; padding: 5px 15px 5px 10px !important; height: auto; border: 0; }
		.add-curriculum-wrapper { }
		.add-curriculum-wrapper .add-curriculum { position: absolute; bottom: 0; text-align: center; left: 0; right: 0; }
		.add-curriculum-wrapper .add-curriculum a { background: #efefef; display: block; color: #2f2f2f; font-size: 15px; line-height: 1.2; padding: 11px 0; }
		.add-curriculum-wrapper .add-curriculum a:hover, .add-curriculum-wrapper .add-curriculum a:focus { text-decoration: none; }
		.form-group .bootstrap-select.btn-group { padding: 0 !important; }
		.form-group label { font-weight: normal; }
		.blank-label { min-height: 18px; }
		.bootstrap-select>.dropdown-toggle.bs-placeholder { background: #efefef; color: #2f2f2f; font-size: 15px; border: 0; border-radius: 0; padding: 6px 25px 6px 14px; line-height: 1.2; }
		.bootstrap-select.btn-group .dropdown-toggle .caret { right: 5px; background-image: url(../images/downarrow-default.png) !important; background-position: 98% 50% !important; background-repeat: no-repeat !important; border: 0; width: 10px; height: 5px; padding-right: 20px; }
		.bootstrap-select.btn-group.open .dropdown-toggle .caret { background-image: url(../images/downarrow.png) !important; }
		.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover { color: #2f2f2f; outline: none !important; background: #efefef; box-shadow: none !important; }
		.bootstrap-select .dropdown-toggle:focus, .open>.dropdown-toggle.btn-default:focus { color: #2f2f2f; outline: none !important; background: #efefef; box-shadow: none !important; }
		.bootstrap-select.btn-group .dropdown-menu li { padding-left: 0; }
		.bootstrap-select>.dropdown-toggle { background: #efefef; border: 0; border-radius: 0; padding: 5px 25px 5px 14px; }
		.bootstrap-select.btn-group .dropdown-toggle .filter-option { font-size: 15px; }
		.curriculum-list-wrapper { height: 218px; overflow: auto; border: 1px solid #989898; padding: 15px 20px 15px 10px; position: relative; }
		.curriculum-list { border-bottom: 1px solid #f2f2f2; margin-bottom: 10px; }
		.curriculum-record { margin-bottom: 10px; }
		.curriculum-record dl { padding-left: 0; margin: 0; display: block; }
		.curriculum-record dt { font-weight: 400; padding-left: 0; margin: 0 11px 0 0; text-align: left; width: auto; display: block; vertical-align: middle; float: none; }
		.curriculum-record dd { display: inline-block; vertical-align: middle; margin-left: 0; margin-right: 0px; }
		.dl-inline-block { display: inline-block; }
		.curriculum-record-wrapper { width: 80%; float: left; }
		.curriculum-record-delete { float: right; width: 20%; text-align: right; }
		.curriculum-record-delete a { display: inline-block; margin-top: 12px; }
		.curriculum-record-delete img { display: block; }
		.help-text-bottom { display: block; text-align: right; color: #007eb0; font-size: 14px; line-height: 1.2; margin-top: 1px; }
		.help-text-bottom a { display: inline-block; color: #007eb0; }
		.help-text-bottom a:hover, .help-text-bottom a:focus { color: #007eb0; text-decoration: none; }
		.captcha-image .input-group-addon { width: 26%; }
		.box-radio-user img { margin-right: 15px; }
		.select-accordion-wrapper { margin-bottom: 15px; }
		#userDetail-accordion.panel-group .panel { border-radius: 0; box-shadow: none; margin-bottom: 0; border: 1px solid #828282; }
		#userDetail-accordion .panel-default > .panel-heading { background: #df1c4d; color: #fff; border-radius: 0; }
		#userDetail-accordion.panel-group .panel .js-tabcollapse-panel-heading:focus, #userDetail-accordion.panel-group .panel .js-tabcollapse-panel-heading:hover { text-decoration: none; font-weight: bold; color: #fff; }
		/*Landing page start form here*/
		.landing-page-header { box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); padding-top: 10px; padding-bottom: 10px; background: #ffffff; }
		.landing-page-header .navbar { margin-bottom: 0; border-radius: 0; }
		.logo-wrapper-find-tutor { float: left; }
		.right-side-menu { float: right; text-align: right; }
		.landing-page-header .logo.navbar-brand { height: auto; padding: 0; max-width: 80px; margin-left: 15px; }
		.landing-page-header .nav>li>a { color: #4a4a4a; }
		.landing-page-header .nav>li>a:focus, .landing-page-header .nav>li>a:hover { text-decoration: none; background-color: transparent; color: #df1c4d; }
		.landing-page-header .sign-up-button { display: inline-block; }
		.sign-up-button { border-radius: 50px; background: #df1c4d; color: #f9d2db !important; padding: 12px 29px; margin-left: 15px; }
		.landing-page-header .nav>li>a.sign-up-button:hover, .landing-page-header .nav>li>a.sign-up-button:focus { background: #b6183f; color: #fff !important; }
		.landing-page-header .sign-up-button:hover, .sign-up-button:focus { background: #b6183f; }
		.landing-page-header .nav>li>a.home { font-size: 22px; }
		.landing-page-header .navbar-collapse.collapse { padding-top: 3px; }
		.navbar-nav>li { margin-bottom: 0; }
		.page-wrapper.landing-page { background: #f8f8f8; }
		.navbar-fixed-top + .mid-section { margin-top: 71px; padding-top: 15px; }
		.landing-page .mid-section { margin-top: 71px; padding-top: 15px; }
		.filter-wrapper { background: #fff; padding-top: 31px; /*    padding-bottom: 31px;*/ box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1); }
		.red-title { margin-top: 0; margin-bottom: 15px; color: #df1c4d; }
		.custom-search { position: relative; }
		.custom-search .custom-search { border: 0; border-bottom: 2px solid #df1c4d; padding-left: 38px; padding-bottom: 9px; box-shadow: none; font-size: 16px; }
		.custom-search .custom-search:focus { border-bottom: 2px solid #df1c4d; }
		.custom-search .search-submit { position: absolute; top: 50%; background-image: url(../images/search_icon.svg); height: 21px; width: 21px; left: 8px; background-color: transparent; background-repeat: no-repeat; background-position: left center; border: 0; padding: 0; text-indent: -99999px; margin-top: -8.5px; }
		select.flat-select { background: transparent; font-size: 15px; line-height: 1.2; padding: 5px 15px 5px 0 !important; height: auto; border: 0; box-shadow: none; }
		.label-top-spacing { padding-top: 3px; }
		.flat-select-wrapper { border-bottom: 1px solid #d8d8d8; padding-bottom: 10px; position: relative; }
		.filter-wrapper .select-accordion-wrapper { border-bottom: 1px solid #d8d8d8; }
		.filter-wrapper .select-accordion-wrapper label { font-weight: normal; }
		.filter-wrapper .select-accordion { border: 0; padding-left: 5px; }
		.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect { padding: inherit; }
		.find-tutor { height: auto; }
		.filter-reset { color: #1d1d1d; }
		.filter-reset:focus, .filter-reset:hover { text-decoration: none; color: #b6183f; }
		.filter-wrapper .tutee-primary-btn { min-width: 0; padding: 17px 78px; border-radius: 0; border: 0; }
		.filter-wrapper .tutee-primary-btn:hover, .filter-wrapper .tutee-primary-btn:focus, .filter-wrapper .tutee-primary-btn:active:focus { color: #fff; box-shadow: none; background: #b6183f; }
		.total-result { font-size: 16px; line-height: 1.2; padding-bottom: 18px; border-bottom: 1px solid #d8d8d8; }
		.filter-search-result-box { padding: 0; margin: 0 0 30px 0; }
		.filter-search-result-box li { padding-top: 27px; padding-bottom: 27px; margin-bottom: 0; border-bottom: 1px solid #d8d8d8; transition: background 0.3s ease 0s; -webkit-transition: background 0.3s ease 0s; -moz-transition: background 0.3s ease 0s; }
		.filter-search-result-box li:last-child { border-bottom: 1px solid #d8d8d8; }
		.tutor-image { border-radius: 50%; height: 120px; width: 120px; margin: 0 auto 15px auto; float: left; }
		.tutor-image img { display: block; border-radius: 50%; }
		.tutor-pearsonal-detail { padding: 0 15px; }
		.search-tutor-detail { float: left; margin-left: 0; width: 100%; }
		.search-tutor-detail h3 { margin-top: 0; font-weight: bold; line-height: 1.2; margin-bottom: 0; }
		.search-tutor-detail .degree { margin-bottom: 15px;}
		.search-tutor-basic-detail dl { margin: 0; }
		.search-tutor-basic-detail dt { display: block; width: 85px; font-weight: normal; color: #686868; }
		.search-tutor-basic-detail dd { display: block; color: #2f2f2f; }
		.search-tutor-basic-detail dd span { display: inline-block; cursor: pointer; }
		.rating img { margin-left: 0; margin-bottom: 11px; }
		.rating-input { color: #f79237; white-space: nowrap;}
		.rating-input i { margin-right: 5px; display: inline-block; font-size: 20px; cursor: pointer; }
		.rating-input i:last-child { margin-right: 0; }
		.star-rating-count { font-size: 15px; line-height: 1.2; font-weight: normal; position: relative; padding-left: 10px; display: block; text-decoration: underline; color: #2f2f2f; }
		.star-rating-count:hover, .star-rating-count:focus { color: #2f2f2f; }
		.star-rating-count:before { position: absolute; content: ""; left: 0; height: 4px; width: 4px; background: #2f2f2f; border-radius: 50%; top: 50%; margin-top: -2px; }
		.punctual-rating-block { background: #36ae52; color: #fff; display: inline-block; padding: 8px 14px; margin-top: 5px; }
		.out-of { font-size: 22px; line-height: 1.2; }
		.out { font-size: 16px; line-height: 1.2; color: #afdfba; }
		.search-tutor-detail .tutee-dashboard-btn { background: transparent; max-width: 240px; margin: 10px 0; }
		.search-tutor-detail .tutee-dashboard-btn:hover, .search-tutor-detail .tutee-dashboard-btn:focus { background: #df1c4d; text-decoration: none; }
		.filter-search-result-box li:hover { background: #fff; }
		.search-tutor-basic-detail-wrapper { float: left; margin-bottom: 15px; width: 100%; }
		.rating-wrapper { float: left; margin-bottom: 15px; width: 100%; }
		.punctual-rating-wrapper { float: left; margin-bottom: 15px; width: 100%; }
		.register-button-wrapper { float: left; margin-top: 5px; margin-bottom: 15px; width: 100%; }
		.list-xs-inline-b li{
			display: inline-block !important;
		}
		/*Landing page end form here*/

		/*filter bottom start form here*/


		.filter-mobile { display: block; position: fixed; left: 0; top: 120px; height: 60px; width: 60px; border-radius: 50%; overflow: hidden; white-space: nowrap; color: #fff; background: #df1c4d; font-size: 25px; cursor: pointer; opacity: 0.5; box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); transition: opacity 0.3s linear 0s, left 0.3s linear 0s; -moz-transition: opacity 0.3s linear 0s, left 0.3s linear 0s; -webkit-transition: opacity 0.3s linear 0s, left 0.3s linear 0s; }
		.filter-mobile:hover, .filter-mobile:focus { opacity: 1; }
		.filter-mobile i { display: block; line-height: 60px; text-align: center; }
/*.left-aside{position: fixed;left:-100%;z-index: 99;transition:position 0.3s linear 0s , left 0.3s linear 0s;-moz-transition:position 0.3s linear 0s, left 0.3s linear 0s;-webkit-transition:position 0.3s linear 0s, left 0.3s linear 0s;overflow: auto;padding-bottom: 31px;}
*/
.close-drawer { position: absolute; top: -25px; right: 0; height: 40px; width: 40px; border-radius: 50%; overflow: hidden; white-space: nowrap; color: #fff; background: #df1c4d; font-size: 18px; cursor: pointer; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.close-drawer i { display: block; line-height: 40px; text-align: center; font-weight: normal; }
.open-drawar .left-aside { left: 0; }
/*.open-drawar .filter-mobile {left: 86%;z-index: 99;opacity: 1;}*/
.open-drawar .filter-mobile i:before { content: "\f00d"; }
/*filter bottom end from hree*/
/*navbar toggle*/
.navbar-toggle { background: #df1c4d; color: #fff; border-radius: 0; width: 60px; position: absolute; margin: 0; right: 0; height: 68px; top: 0; margin-top: 0; }
.navbar-toggle .icon-bar { background: #fff; margin: 0 auto; }
.dashboard-page .navbar-toggle{background: transparent;}
/*landing page footer*/
.landing-page footer { padding: 15px 0; box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.06); background: #fff; }
.affix-bottom { position: relative; }
.footer-logo-wrapper { display: block; margin-bottom: 5px; }
.footer-logo-wrapper a { display: block; max-width: 120px; margin: 0 auto; }
.copyright { text-align: center; display: block; color: #9d9d9d; font-size: 14px; margin-bottom: 5px; }
.copyright a { display: inline-block; color: #9d9d9d; }
.copyright a:hover, .copyright a:focus { color: #df1c4d; text-decoration: none; }
.footer-menu { display: block; text-align: center; margin-top: 0; margin-bottom: 15px; }
.footer-menu li { text-align: center; display: inline-block; line-height: 1; margin-bottom: 0; }
.footer-menu li a { color: #9d9d9d; text-decoration: none; font-size: 14px; }
.footer-menu li a:hover, .footer-menu li a:focus { color: #df1c4d; }
.footer-social-media-wrapper { text-align: center; }
.footer-social-media-wrapper ul { margin-top: 0; margin-bottom: 0; }
.footer-social-media-wrapper ul li { display: inline-block; vertical-align: middle; margin-right: 30px; font-size: 22px; line-height: 1.2; margin-bottom: 0; }
.footer-social-media-wrapper ul li:last-child { margin-right: 0; }
.footer-social-media-wrapper ul li a { color: #9d9d9d; transition: color 0.3s linear 0s; -moz-transition: color 0.3s linear 0s; -webkit-transition: color 0.3s linear 0s; transition: color 0.3s linear 0s; }
.footer-social-media-wrapper ul li a:hover, .footer-social-media-wrapper ul li a:focus { color: #df1c4d; }
.navbar-fixed-bottom, .navbar-fixed-top { z-index: 99; }
.back-link-btn { display: inline-block; color: #2f2f2f; font-size: 14px; line-height: 1.2; margin-bottom: 10px; }
.back-link-btn:focus, .back-link-btn:hover { color: #df1c4d; text-decoration: none; }
.back-link-btn i { display: inline-block; margin-right: 5px; }
.title-detail { padding-bottom: 15px; }
.title-detail h2 { margin-bottom: 0; font-size: 18px; }
/*tutor detail start from here*/
.tutor-detail-wrapper { padding-top: 15px; padding-bottom: 15px; background: #fff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08); margin-bottom: 15px; }
.tutor-detail-wrapper .tutor-image { margin-left: 15px; float: none; }
.tutor-detail { margin-left: 15px; margin-right: 15px;/*    padding-bottom: 37px;*/ }
.tutor-detail h2 { font-size: 26px; line-height: 1.2; margin-bottom: 15px; font-weight: bold; }
.tutee-review-wrapper { background: #fff; margin-bottom: 15px; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08); padding: 15px 15px 30px 15px; }
.tutee-review-title h3 { color: #df1c4d; font-size: 16px; line-height: 1.2; padding-bottom: 15px; margin-bottom: 0; border-bottom: 1px solid #d8d8d8; margin-top: 0; }
.tutee-review-tutor-title h4 { display: block; margin: 0; }
.tutee-review-tutor-title .rating-input { display: inline-block; vertical-align: middle; }
.review-post-time { color: #828282; font-size: 15px; line-height: 1.2; }
.rating-outof { display: inline-block; vertical-align: middle; margin-left: 10px; }
.img-round { height: 80px; width: 80px; border-radius: 50%; position: relative; margin-bottom: 20px; }
.img-round img { border-radius: 50%; }
.tutee-review-wrapper .media-body, .tutee-review-wrapper .media-left, .tutee-review-wrapper .media-right { display: block; width: 100%; }
.tutee-review-wrapper ul { margin-top: 0; margin-bottom: 30px; }
.tutee-review-wrapper ul li { padding-top: 25px; padding-bottom: 25px; border-bottom: 1px solid #d8d8d8; margin-bottom: 0; }
.more-turee-list { display: block; background: #d8d8d8; color: #2f2f2f; font-size: 16px; line-height: 1.2; text-align: center; padding: 16px 15px; transition: 0.3s linear all; -moz-transition: 0.3s linear all; -webkit-transition: 0.3s linear all; }
.more-turee-list:hover, .more-turee-list:focus { background: #df1c4d; color: #fff; text-decoration: none; }
.education-detail .degree { color: #2f2f2f; font-size: 16px; line-height: 1.2; padding-bottom: 13px; }
.education-detail .university-name { color: #6c6c6c; font-size: 14px; }
.tutee-title { margin-bottom: 15px; }
.reserve-place { position: relative; }
.reserve-place a { max-width: 320px; }
.detail-wtih-icon .fa { color: #6d6d6d; }
.tutor-basic-detail-wrapper { padding-bottom: 37px; border-bottom: 1px solid #d8d8d8; margin-bottom: 38px; }
.basic-title { color: #838383; }
.basic-answer { font-size: 18px; line-height: 1.2; color: #2f2f2f; }
.tutor-list-style { position: relative; padding-left: 15px; margin-bottom: 15px; display: block; }
.tutor-list-style:before { position: absolute; content: ""; height: 6px; width: 6px; top: 50%; margin-top: -3px; left: 0; border-radius: 50%; background: #df1c4d; }
.full-width { display: block; }
.teach span { display: block; padding-left: 15px; margin-bottom: 5px; font-size: 15px; }
.rating-total { text-align: center; }
.rating-total h3 { color: #f79237; font-size: 44px; line-height: 1.2; margin-top: 0; margin-bottom: 15px; margin-top: 10px; }
.rating-total .rating-input { margin-bottom: 15px; }
.rate-list { font-size: 14px; line-height: 1.2; color: #828282; padding-right: 5px; }
.rate-list i { padding-right: 5px; }
.rating-progress {     width: 80%; }
.rating-progress .progress { background: transparent; box-shadow: none; border-radius: 0; margin-bottom: 2px; font-size: 14px; line-height: 1.2; height: 22px; }
.progress-bar { color: #2f2f2f; text-align: left; padding-left: 4px; }
.rating-progress .progress-bar-success { background: #72c585; }
.rating-progress .progress-bar-primary { background: #7fe196; }
.rating-progress .progress-bar-info { background: #ffd834; }
.rating-progress .progress-bar-warning { background: #ffa359; }
.rating-progress .progress-bar-danger { background: #fa846d; }
.lg-rating-outof-wrapper { display: inline-block; margin-right: 10px; vertical-align: middle; }
.lg-rating-outof { display: inline-block; vertical-align: middle; }
.lg-rating-outof .brackets { color: #e6e6e6; font-size: 60px; display: inline-block; padding-right: 21px; }
.lg-rating-outof .close-brackets { padding-left: 21px; padding-right: 0; }
.lg-text { font-size: 44px; line-height: 1.2; font-weight: 700; color: #36ae52; }
.total-of-raing { color: #9bd1a5; font-size: 32px; line-height: 1.2; font-weight: 700; }
.rating-outof-text { display: inline-block; vertical-align: middle; color: #6c6c6c; }
.tutor-basic-detail-wrapper:last-child { border-bottom: 0 none; margin-bottom: 0; }
/*tutor detail end form here*/


/*slide-down-popup-wrapper start from here*/
.slide-down-popup-wrapper { }
.dropdown-menu { left: 0; right: 0; border-radius: 0; min-width: auto; max-width: auto; padding: 15px; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); z-index: 999; }
.select-date-label { padding-bottom: 15px; display: block; border-bottom: 1px solid #d8d8d8; }
.bootstrap-datetimepicker-widget table td.day { border: 1px solid #e2e2e2; color: #df1c4d; }
.bootstrap-datetimepicker-widget table td.day:hover { color: #df1c4d; background: transparent; box-shadow: inset 0 0 0 1px #ac1339; border-radius: 0; }
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover { background-color: #df1c4d; color: #fff; border-radius: 0; }
.bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #df1c4d; }
.bootstrap-datetimepicker-widget .glyphicon { color: #df1c4d; }
.bootstrap-datetimepicker-widget table thead tr:first-child th.prev, .bootstrap-datetimepicker-widget table thead tr:first-child th.next { color: #df1c4d; }
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover { background: transparent; }
.bootstrap-datetimepicker-widget table td span.active { background-color: #df1c4d; color: #fff; border-radius: 0; }
.bootstrap-datetimepicker-widget table td span:hover { border-radius: 0; box-shadow: inset 0 0 0 1px #ac1339; background: transparent; color: #df1c4d; }
.bootstrap-datetimepicker-widget a[data-action]:hover { border: 0; }
.bootstrap-datetimepicker-widget button[data-action], .bootstrap-datetimepicker-widget button[data-action]:focus, .bootstrap-datetimepicker-widget button[data-action]:hover { background-color: #df1c4d; border: 0; color: #fff; }
.bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-hour:hover, .bootstrap-datetimepicker-widget .timepicker-hour:focus, .bootstrap-datetimepicker-widget .timepicker-minute:hover, .bootstrap-datetimepicker-widget .timepicker-minute:focus { box-shadow: none; }
.dropdown-menu .select-accordion-wrapper { border-bottom: 1px solid #d8d8d8; }
.select-accordion.no-border { border: 0 !important; }
.fees-section label { float: left; }
.fees-section label i { background: #df1c4d; border-radius: 50%; color: #fff; font-size: 16px; height: 24px; line-height: 24px; width: 24px; text-align: center; margin-right: 10px; }
.fees-section span { float: right; color: #df1c4d; font-size: 20px; }
.dropdown-menu .tutee-primary-btn { display: block; min-width: auto; max-width: 100%; }
.border-bottom-space { border-bottom: 1px solid #d8d8d8; padding-bottom: 15px; }
.session-date-time label { display: inline-block; vertical-align: middle; }
.session-date-time .date-time-reserve { display: block; }
.session-date-time .date-time-reserve span { display: inline-block; margin-right: 20px; }
.session-date-time .date-time-reserve span:last-child { margin-right: 0; }
.session-date-time .date-time-reserve span i { display: inline-block; margin-right: 5px; }
.session-take { display: block; }
button.close { opacity: 1; }
.bootstrap-datetimepicker-widget { left: 0 !important; }
.tooltip-inner { font-weight: bold; max-width: inherit; }
/*slide-down-popup-wrapper end from here*/

/*login-signup dropdown start form here*/
.xs-line { height: 2px; width: 40px; background: #2f2f2f; margin: 0 auto 10px; }
/*login-signup dropdown end form here*/


/*Tutee Dashboard start form here*/
.dashboard-header { min-height: 80px; margin-bottom: 30px; }
.dashboard-header .navbar-nav > li { float: left; }
.dashboard-header .navbar-brand { height: auto; }
/*dashboard header start form here*/
.navbar.dashboard-header { border: 0; border-radius: 0; }
.round-60 img { display: block; height: 100%; width: 100%; border-radius: 50%; }
.user-detail { padding-top: 10px !important; padding-bottom: 10px !important; padding-left: 16px !important; }
.user-detail:hover, .user-detail:focus { background: transparent !important; }
.navbar-brand.logo {     padding: 22px 15px; }
.user-detail span { color: #fff; width: 125px; display: inline-block; margin-left: 20px; vertical-align: middle; }
.user-detail strong { display: block; }
.user-detail .round-60 { display: inline-block; vertical-align: middle; }
.notifications-menu { margin-left: 15px; }
.notifications-menu .dropdown-toggle { color: #fff; font-size: 20px; padding: 30px; border-left: 1px solid #c41944; border-right: 1px solid #c41944; position: relative; }
.notifications-menu .label-warning { background: #fff; color: #2f2f2f; top: 18px; right: 16px; }
.badge { position: absolute; min-width: 10px; padding: 3px 4px; font-size: 12px; line-height: 1; text-align: center; white-space: nowrap; vertical-align: middle; border-radius: 10px; }
.notifications-menu .dropdown-toggle:hover, .notifications-menu .dropdown-toggle:focus { background: #fff; color: #000; }
.notifications-menu .dropdown-toggle:hover .label-warning, .notifications-menu .dropdown-toggle:focus .label-warning { box-shadow: inset 0 0 0 1px #2f2f2f; }
.dashboard-header .open>a { background: #fff; color: #000; }
.notifications-menu .open>a .label-warning { box-shadow: inset 0 0 0 1px #2f2f2f; }
.dashboard-header .open>a:focus, .dashboard-header .open>a:hover { border-left-color: #fff; border-right-color: #fff; background: #fff; color: #000; }
.pending-reading-notification{    padding: 0;
	height: 8px;
	width: 8px;
	position: absolute;
	background: #fff;
	border-radius: 100%;
	top: 25px;
	right: 22px;
	transition: background 0.3s linear 0s;
	-webkit-transition: background 0.3s linear 0s;
	-moz-transition: background 0.3s linear 0s;
	-ms-transition: background 0.3s linear 0s;
}
.select-user { padding: 0 0 20px 0; margin-left: 0; }
.select-user label { display: block; vertical-align: middle; font-weight: normal; padding-right: 10px; color: #f9d2db; text-align: right; }
.select-user select { display: inline-block; vertical-align: middle; box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2); max-width: 90px; color: #df1c4d; font-weight: bold; border: 0; }
.select-user .become-tutor { display: inline-block; color: #fff; border: 2px solid #fff; padding: 12px 20px; }
.select-user .become-tutor:hover, .select-user .become-tutor:focus { text-decoration: none; background: #fff; color: #df1c4d; }
.with-become-tutor .select-user { padding: 0 0 20px 0; margin-left: 0; }
.with-become-tutor .select-user .become-tutor { padding: 10px 11px; font-size: 12px; }
.transparent-modal { background: rgba(0,0,0,0.8); }
.transparent-modal .modal-content { background: transparent; box-shadow: none; border: 0; }
.transparent-modal .modal-header, .transparent-modal .modal-footer { border: 0; }
.transparent-modal .modal-header h2 { color: #fff; font-size: 22px; }
.transparent-modal .modal-body { color: #fff; }
.transparent-modal .modal-body select.select-curriculum { background-color: rgba(0,0,0,0); color: #fff; border-color: #fff; background-image: url(../images/icons/white-down-arrow.png)!important }
.transparent-modal .modal-body select.select-curriculum:focus {background-image: url(../images/icons/white-down-arrow.png)!important}
.transparent-modal .modal-body select.select-curriculum option { color: #575757; }
.transparent-modal .select-accordion { border-color: #fff; }
.transparent-modal .select-accordion label { color: #d2d2d2; }
.transparent-modal .select-accordion select { background: #f6f6f6; color: #575757; }
.transparent-modal .modal-footer p { color: #d2d2d2 }
.transparent-modal .select-accordion-wrapper { margin-bottom: 0; }
.button-wrapper-group button { padding: 18px 53px; font-weight: bold; width: 100%; margin-bottom: 10px; }
.button-wrapper-group button.login-btn { margin-right: 30px; }
.button-wrapper-group button.btn-grey { background: #2f2f2f; margin-left: 0 !important; }
.button-wrapper-group button.btn-grey:hover, .button-wrapper-group button.btn-grey:focus { background: #989898; }
/*dashboard header end from here*/
/*tutee dashboard end form here*/
/*left side dashboard section start from here*/

.dashboard-page { background: #f8f8f8;  }
.left-aside-dashboard { width: 230px; top: 0; min-height: 100%; position: absolute; top: 0; left: 15px; min-height: 100%; transition: width 0.3s linear 0s; -webkit-transform: translate(-250px, 0); -ms-transform: translate(-250px, 0); -o-transform: translate(-250px, 0); transform: translate(-250px, 0); -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out; -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out; -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out; transition: transform .3s ease-in-out, width .3s ease-in-out; }

.left-side-expand .left-aside-dashboard { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.left-aside-dashboard ul { margin-top: 0; margin-bottom: 0; }
.content-wrapper { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out; -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out; -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out; transition: transform .3s ease-in-out, margin .3s ease-in-out; }
.left-aside-dashboard ul li { background: #fff;border-top: 1px solid #e0e0e0;box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1); margin-bottom: 0; border: 1px solid #e0e0e0;position: relative;}
.left-aside-dashboard ul li a {  display: block; color: #2f2f2f; padding-top: 17px; padding-bottom: 18px; position: relative; white-space: nowrap; overflow:hidden;}
.left-aside-dashboard ul li a:hover,
.left-aside-dashboard ul li a:focus{
	text-decoration: none;
	font-weight: bold;
}
/*
.left-aside-dashboard ul li a:hover,
.left-aside-dashboard ul li a:focus{
   font-weight: 700;
   text-decoration: none;
   filter: drop-shadow(0px 1px 3px rgba(0,0,0,.5));
   -moz-filter: drop-shadow(0px 1px 3px rgba(0,0,0,.5));
   -webkit-filter: drop-shadow(0px 1px 3px rgba(0,0,0,.5));
}
*/
.left-aside-dashboard ul li a:after { position: absolute; left: 100%; top: 0; bottom: 0; height: 100%; content: ""; border-left: 0 solid #fff; transition: border-left 0.3s ease 0s; -moz-transition: border-left 0.3s ease 0s; -webkit-transition: border-left 0.3s ease 0s; }
.left-aside-dashboard ul li a:hover i, .left-aside-dashboard ul li a:focus i { color: #df1c4d; }
.left-aside-dashboard ul li i { font-size: 20px; color: #6d6d6d; padding-right: 30px; padding-left: 30px; display: inline-block; }
.left-aside-dashboard ul li.menu-active,
.left-side-expand .left-aside-dashboard ul li:hover{
	position: relative;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.left-aside-dashboard ul li:after{
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 0;
	height: 100%;
	content: "";
	background-image: url(../images/arrow.png);
	background-position: right;
	background-size: 10px 100%;
	right: 0;
	border: none;
	width:0;
	transition: width 0.3s ease 0s;
	-ms-transition: width 0.3s ease 0s;
	-moz-transition: width 0.3s ease 0s;
	-webkit-transition: width 0.3s ease 0s;  
}
.left-aside-dashboard ul li.menu-active:after,
.left-side-expand .left-aside-dashboard ul li:hover:after{
	width: 10px;

/*
     border-top: 30px solid transparent; 
    border-bottom: 30px solid transparent; 
    border-left: 10px solid #fff;
    */
}
.left-side-expand .left-aside-dashboard ul li.menu-active a:after , .left-side-expand .left-aside-dashboard ul li a:after{content: normal;}
.left-aside-dashboard ul li.menu-active a{font-weight: 700;}
.left-aside-dashboard ul li.menu-active a i{color: #df1c4d;}
/*
.left-aside-dashboard ul span{
     visibility: hidden;
}
.left-aside-dashboard:hover ul span{
    visibility: visible;
    transition-delay: 0.3s;
}
*/
.left-side-expand .left-aside-dashboard .new-notification { height: 6px; width: 6px; border-radius: 50%; display: inline-block; vertical-align: middle; margin-left: 10px; position: relative; right: inherit; top: inherit; margin-top: 0; }
.left-aside-dashboard .new-notification { position: absolute; right: 16px; height: 6px; width: 6px; border-radius: 50%; top: 50%; margin-top: -3px; }
.dashboard-copyright { position: absolute; bottom: 25px; opacity: 0; color: #575757; font-size: 14px; line-height: 1.2; transition: opacity 0.3s linear 0s; -moz-transition: opacity 0.3s linear 0s; -webkit-transition: opacity 0.3s linear 0s; transition-delay: 0.3s; }
.left-side-expand .dashboard-copyright { opacity: 1; }
/*left side dashboard section end from here*/
/*right side dashboard section start form here*/
.dashboard-page .mid-section { position: relative; }
.content { padding: 0 0 15px 0; margin-right: auto; margin-left: auto; }
.box { position: relative; background: #ffffff; margin-bottom: 15px; width: 100%; box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1); padding: 15px; }
.with-border { border-bottom: 1px solid #d5d5d5; margin-bottom: 15px; }
.box-title-link a:hover { text-decoration: none; color: #989898; }
.upcomming-sessions li { padding-bottom: 25px; border-bottom: 1px solid #d5d5d5; margin-bottom: 15px; }
.upcomming-sessions li:last-child { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; }
/*.tutor-dashboard h3 { margin-bottom: 10px; line-height: 1.2; }*/
.session-detail { margin-bottom: 10px; }
.session-date-time { margin-bottom: 12px; }
.session-date-time span { display: inline-block; margin-right: 15px; }
.session-date-time span i { display: inline-block; margin-right: 10px; }
.box-right-title { margin-bottom: 10px; }
.join-session .tutee-dashboard-btn, .join-session .tutor-dashboard-btn { display: inline-block; }
.join-session .tutee-dashboard-btn, .join-session .tutor-dashboard-btn { padding: 9px 21px; font-size: 14px; }
.session-detail-month { margin-bottom: 10px; }
.session-detail-month label { display: inline-block; font-weight: normal; margin-right: 10px; }
.session-detail-month select { padding-top: 7px; padding-bottom: 7px; }
.suggested-tutor-box { padding-bottom: 0; }
.suggested-tutor-box .box-body{margin-left: -15px;margin-right: -15px;}
.suggested-tutor-list-wrapper { overflow: auto; width: auto; padding-top: 30px; padding-bottom: 30px; position: relative; }
.suggested-tutor-list { float: left; padding-left: 15px; padding-right: 15px; width: 290px; position: relative; }
.suggested-tutor-list:after { position: absolute; content: ""; height: 80%; width: 1px; background: #e0e0e0; right: 0; top: 10%; }
.suggested-tutor-list:last-child:after { content: normal; }
.suggested-tutor-image { position: relative; margin: 0 auto 20px; width: 120px; }
.suggested-tutor-image .pancutal-rating-wrapper { background: #36ae52; padding: 5px 10px; position: absolute; top: 0; right: -40px; cursor: default; }
.suggested-tutor-image .pancutal-rating-outof { color: #fff; font-size: 22px; display: inline-block; font-weight: 600; }
.suggested-tutor-image .pancutal-rating-total { color: #afdfba; font-weight: 600; font-size: 16px; }
.suggested-tutor-info h3 { margin-bottom: 5px; }
.suggested-tutor-info .degree { margin-bottom: 5px; }
.suggested-tutor-rating { margin-bottom: 15px; }
.suggested-tutor-info .rating-input { display: inline-block; vertical-align: middle; }
.tutor-total-rating { display: inline-block; vertical-align: middle; margin-left: 5px; }
.suggested-tutor-info dl { margin-bottom: 5px; }
.suggested-tutor-info dt { display: inline-block; color: #595959; width: 85px; font-weight: normal; }
.suggested-tutor-info dd { display: inline-block; color: #2f2f2f; width: calc(100% - 95px); text-overflow: ellipsis; overflow: hidden; white-space: nowrap; vertical-align: top; text-align: left; }
.suggested-tutor-review { margin-top: 30px; }
.suggested-tutor-review a { padding: 15px 30px; }
.dashboard-page .navbar-toggle { display: block; height: 80px; right: 0; }
/*.dashboard-page .navbar-toggle.active-sidebar, .dashboard-page .navbar-toggle:hover, .dashboard-page .navbar-toggle:focus { background-color: #d73925; }*/
/*right side dashboard section end from here*/

/*landing page start form here*/
.landing-page .logo {
	display: inline-block;
	max-width: 144px;
}

.inputfocus.landing-page-main .fixed_header{
	position: relative;
}
.landing-page .navbar-toggle {
	display: block;
	height: 76px;
	right: 15px;
	background: transparent;
}
.landing-page .navbar-collapse.collapse{
	display: none!important;
}
.landing-page .navbar-collapse.collapse.in{
	display: block !important;
}
.landing-page .navbar-nav>li {
	float: none;
	display: block;
}
.landing-page  .header-landing-page .navbar-nav {
	float: left;
	margin: 0;

}
.header-landing-page .navbar li a {
	color: #6c6c6c;
	-webkit-transition: background 0.3s linear 0s;
	-moz-transition: background 0.3s linear 0s;
	-ms-transition:background 0.3s linear 0s;
	-o-transition: background 0.3s linear 0s;
	transition: background 0.3s linear 0s;}
	.banner-section {
		background-color: #3fb3b7;
		position: relative;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		min-height: 100%;
		background-image: url(../images/cutups.png);
		background-repeat: no-repeat;
		background-size: contain;
		overflow: hidden;
		background-position: bottom left;
	}
	.banner-caption { display: table; height: 100%; padding: 0; width: 100%;
		position: relative;
		z-index: 2;}



		.banner-content { display: table-cell; vertical-align: top; padding: 135px 0 30px; text-align: center; }
		.banner-content h1 { font-size: 25px; font-weight: 700; color: #ffffff; margin-top: 0; text-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); margin-bottom: 25px;
			line-height: 1.2;}
			.banner-content h5 { font-size: 16px; font-weight: 500; color: #ffffff; text-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); text-transform: none; margin-top: 0; margin-bottom: 35px; }
			.banner-content .sign-up-button { background: #f79237; color: #fff !important; padding: 15px 40px; margin-left: 0; display: inline-block; }
			.banner-content .sign-up-button:hover, .banner-content .sign-up-button:focus { text-decoration: none; background: #df1c4d; }
			.header-landing-page .sign-up-button { color: #fff !important; padding: 15px 29px!important; }
			.header-landing-page .sign-up-button:hover, .header-landing-page .sign-up-button:focus { color: #fff !important; }
			.character-wrapper { position: absolute; bottom: -10px; left: 0; right: 0;     pointer-events: none;}
			.character { position: absolute; bottom: 0; }
			.first-character { left: 0; }
			.second-character { left: 16%; }
			.third-character { left: 34%; }
			.fourth-character { left: 60%; }
			.fifth-character { right: -6%; }
			.about-us-section { position: relative;overflow: hidden;padding-top:20px;padding-bottom: 20px; }

			.about-us-section h2 { line-height: 1.2; color: #2f2f2f; margin-top: 0; margin-bottom: 25px; font-weight: bold; }
			.about-us-section h2 em { color: #df1c4d; }
			.about-us-section h2 span { color: #f79237; }
			.about-us-section h2 em, .about-us-section h2 em span { font-style: normal; display: inline-block; }
.left-round-baloons { position: absolute; width: 300px; left: -150px; height: 405px; top: 180px; display: none;/*
    -webkit-animation:spin 100s linear infinite;
    -moz-animation:spin 100s linear infinite;
    animation:spin 100s linear infinite;
*/ }
@-moz-keyframes spin { 100% {
	-moz-transform: rotate(360deg);
}
}
@-webkit-keyframes spin { 100% {
	-webkit-transform: rotate(360deg);
}
}
@keyframes spin { 100% {
	-webkit-transform: rotate(360deg);
	transform:rotate(360deg);
}
}
.about-us-content { margin-bottom: 35px; }
.btn-round { border: 2px solid #2f2f2f; font-size: 18px; display: inline-block; border-radius: 35px; padding: 12px 45px; }
.without-color { color: #2f2f2f; }
.without-color:hover, .without-color:focus { color: #fff; background: #df1c4d; border-color: #df1c4d; }
.with-color { color: #fff; background: #df1c4d; border-color: #df1c4d; }
.with-color:hover, .with-color:focus { border-color: #2f2f2f; background: #fff; color: #2f2f2f; }
.button-wrapper a{display: block; margin-bottom: 10px;}


.button-wrapper a:last-child i{margin-right: 10px;}
.tute-me-dashboard-image { position: absolute; right: 0; top: 100px; width: 570px; }
/*landign page end form here*/

/*news notification start form here*/
.dashboard-header .navbar-left { float: none; }
.dashboard-header .navbar-custom-menu { float: none; }
.navbar-nav .open .dropdown-menu.header-notification-list { position: absolute; background: #fff; right: 0; left: -127px; /*    min-width: 310px;*/ box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); }
.list-notification { float: left; font-size: 16px; }
.view-all-notification { float: right; text-align: right; }
.view-all-notification a:hover, .view-all-notification a:focus { text-decoration: none; }
.header-notification-list li { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #d5d5d5; position: relative; padding-left: 12px; }
.dropdown-menu.header-notification-list li:last-child { border-bottom: 0; margin-bottom: 0; }
.header-notification-list li:before { position: absolute; content: ""; left: 0; height: 4px; width: 4px; background: #df1c4d; top: 11px; border-radius: 100%; }
.dropdown-menu.header-notification-list li:first-child:before { content: normal; }
.dropdown-menu.header-notification-list li:first-child { padding-bottom: 10px; }
.notification-message { font-size: 16px; color: #2f2f2f; line-height: 1.2; margin-bottom: 10px; }
.notification-detail { font-size: 14px; color: #595959; line-height: 1.2; }
.dashboard-page .navbar-custom-menu .navbar-right { margin: 0; }
.dashboard-page .notification-message-wrapper { margin-bottom: 15px; }
.unread { position: relative; display: inline-block; padding-left: 15px; font-weight: 700; color: #828282; margin-bottom: 15px; }
.unread em { font-style: normal; display: inline-block; color: #df1c4d; }
.unread:before { position: absolute; content: ""; left: 0; top: 50%; height: 4px; width: 4px; border-radius: 50%; margin-top: -2px; background: #df1c4d; }
.notification-status a.older { margin-right: 10px; }
.notification-status a.read { opacity: 0.6; }
.notification-status a:hover, .notification-status a:focus { text-decoration: none; }
.notification-status { margin-bottom: 15px; }
.notification-message-wrapper.read strong { font-weight: normal; }


/*news notification end form here*/


/*free-session start from here*/
.free-sessions-section h2 {
	font-size: 28px;
	margin-bottom: 5px;
	font-weight: bold;
}
.free-sessions-section ul { margin-top: 15px;  width: 100%;}
.free-sessions-section ul li { text-align: center; width: 100%; margin-bottom: 15px; }
.free-sessions-section .well { width: 100px; height: 100px; border-radius: 60px; box-shadow: none; background-color: #df1c4d; color: #fff; font-size: 40px; text-align: center; margin: 0 auto; }
.free-sessions-section .tutee-dashboard-btn { padding: 10px 35px; }
.free-sessions-section ul .tutee-dashboard-btn { margin: 0 auto; }
/*free-session end from here*/


/*MCQ section start form here*/
/*user name*/

.profile-pic-content span { height: 60px; width: 60px; border-radius: 50%; background: #eaeaea; display: block }
.profile-pic-content span img { border-radius: 50%; }
.profile-pic-name strong { display: block }
.profile-pic { display: table; width: 178px; vertical-align: middle; }
.profile-pic-content { display: table-cell; vertical-align: middle; }
.profile-pic-name { display: table-cell; padding-left: 20px; line-height: 20px; vertical-align: middle; }
.profile-pic-container { padding-right: 30px; margin-right: 30px; border-right: 1px solid #d1d1d1; }
.signout i { font-size: 40px; margin-top: 12px; }
.navbar-nav .signout a { padding: 0; margin: 0 }
.mcq { margin: 0 0 18px; }
.mcq li { display: inline-block; margin-right: 9px; padding-right: 20px; border-right: 1px solid #d3d3d3; }
.mcq li:last-child { border-right: 0; }
.timer-container { position: relative; }
.timer { position: relative; max-width: 231px; height: 65px; left: 0; background: #f79237; top: 0; color: #fff; text-align: center; margin: 0 auto 20px; padding-top: 8px; }
.timer .timer-title { vertical-align: super; }
.timer .timer-min { font-size: 32px; }
.timer-header-section { padding-top: 10px; padding-bottom: 20px; }
.timer-header-section .red-title { font-size: 18px; margin-bottom: 5px; }
.list-radio-btn { counter-reset: listStyle; margin-bottom: 5px; }
.small-font { font-size: 14px; color: #6c6c6c; }
.list-radio-btn li label { border: none; padding: 0 15px 0 45px; margin-left: 7px; }
.list-radio-btn li { counter-increment: listStyle; width: 100% }
.list-radio-btn li:before { margin-right: 1em; content: counter(listStyle, upper-alpha)" . "; float: left; }
.list-radio-btn li .custom-radio input[type="radio"]:checked + label { color: #000; border: none; box-shadow: none; }
.main-panel { counter-reset: li; }
.main-panel .box-list { margin-bottom: 20px; border: solid 1px #dedede; padding: 20px 20px 20px 45px; transition: all 0.3s linear; counter-increment: listStyle; }
.box-list:hover { box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1); }
.box-list:before { content: counter(li) " . "; counter-increment: li; position: absolute; left: 37px; line-height: 1.1; }
.box-list-img-mar { margin-bottom: 10px; }
.new-test-profile .navbar-toggle{
	display: none;
}
.new-test-profile .navbar-collapse.collapse{
	display: block !important;
	width: 100%;
	margin: 0;
}
.new-test-profile .navbar-collapse ul li{
	display: inline-block;
	vertical-align: top;
}
.new-test-profile .navbar-brand{
	margin-top: 14px;
}
/*MCQ section end form here*/

/*Session-request Start from here*/

.heading-f-s-20 { font-size: 20px; }
.send-card-requests { padding-bottom: 15px; padding-top: 10px; }
.send-card-requests .btn-small-pad { float: left; margin-top: 15px; margin-right: 15px;}
.send-card-requests p { font-size: 14px; padding-right: 5px; color: #6c6c6c; }
.send-card-requests h3 { margin-bottom: 5px; }
.btn-small-pad { padding: 13px 6px; font-size: 11px; display: inline-block; }
.small-rating { padding: 2px 10px; }
.small-rating .out-of { font-size: 12px; }
.small-rating .out-of span { font-size: 15px; }
.session-f-size { font-size: 14px; }
.d-i-b { display: inline-block !important; }
.border-grey { height: 1px; background: #929292; }
.modal-content-box { border-radius: 0px; }
.modal-body-section{ padding: 30px 15px; }
.modal-body-section .btn { padding: 12px 60px; margin-right: 15px; margin-bottom: 15px;}
.pro-padd-section { padding-left: 15px; }
.subject-section { display: inline-block; padding-right: 10px; }
.subject-section span { font-size: 12px; }
.objective-heading { margin-bottom: 10px; }
.objective-heading span { font-size: 12px; }
.modal-body-section p {margin-bottom: 30px;} 


.send-card-requests .uni-font { font-size: 15px; padding-left: 23px; color: #2f2f2f; }
.green-dashboard-btn { border: 2px solid #36ae52; text-transform: uppercase; font-weight: 600; color: #36ae52; transition: background 0.3s linear 0s, color 0.3s linear 0s; -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s; -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s; text-align: center; }
.green-dashboard-btn:hover, .green-dashboard-btn:focus { background: #36ae52; color: #fff; border-color: #36ae52; text-decoration: none; }
.tutor-btn { background: #f79237; color: #fff; border-radius: 0px; text-align: center; }
.tutor-btn:hover, .tutor-btn:focus { color: #fff; background-color: #d67116; }
.setting-btn-pad { padding: 18px 80px; margin-right: 20px; margin-bottom: 20px; }
.modal { text-align: center; padding: 0!important; }
.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
.decline-btn-tutor { margin-left: 20px; }
.out-small { font-size: 12px; line-height: 1.2; color: #afdfba; }
.punctual-reating { float: left; padding-top: 7px; }
/*Session-request End from here*/
/*Landing Page Start from here*/
/*landing page contact us section start form here*/
.contact-us-wrapper { position: relative; padding: 40px 0; text-align: center; }
.contact-us-bg-image { background-image: url(../images/contact-us-back.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; -webkit-filter: grayscale(100%); filter: grayscale(100%); position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.contact-us-bg-image:before { position: absolute; content: ""; left: 0; right: 0; bottom: 0; top: 0; background-color: rgba(255,255,255,0.8); }
.contact-us-wrapper h2 { margin-bottom: 36px; }
.landing-input input { border-radius: 30px; padding-left: 25px; font-size: 16px; }
.landing-input:placeholder {padding-left: 20px;}
.landing-submit { border-radius: 34px; text-transform: capitalize; font-size: 18px; padding: 14px 0px; float: left;margin-top: 0;}
.landing-submit.btn-block{margin-top: 0;}
.contact-section-border { height: 1px; background: #d2d2d2; margin: 35px 0px 40px; }
.contact-help p { font-size: 16px; }
.contact-help span i { padding-right: 10px; }
.contact-help a { color: #6a6a6a; transition: color 0.3s linear 0s; -moz-transition: color 0.3s linear 0s; -webkit-transition: color 0.3s linear 0s; transition: color 0.3s linear 0s; }
.contact-help a:hover, .contact-help a:focus { color: #df1c4d; text-decoration: none; }
/*landing page contact us section end from here*/

/*Landing Page End from here*/
/*My Preference page start from here*/

.preferences-section-form { margin-bottom: 50px; }
.added-curriculum-record { height: 443px; }
.added-curriculum-record dl { font-size: 14px; }
.added-curriculum-record dd { font-size: 12px; color: #2f2f2f; }
.select-accordion-wrapper .select-accordion-space { padding: 35px 15px 60px 15px; margin-bottom: 15px; }
.tuteme-md-btn { padding: 18px 60px; width: 100%; font-size: 16px; font-weight: bold; margin-right: 30px; margin-bottom: 15px; }
/*My Preference page End from here*/


/*My-Availability page Start from here kaushik*/
.tutor-box-radio-box label span {
	font-size: 14px;
}
.tutor-box-radio-box label i { font-size: 22px; padding-right: 12px; }
.tutor-box-radio-box label:hover:before { border-color: #f79237; }
.tutor-box-radio-box input[type="radio"]:checked + label { color: #f79237; border-color: #f79237; box-shadow: inset 0 0 0 2px #f79237; }
.tutor-box-radio-box input[type="radio"]:checked + label:before { border-color: #f79237; }
.tutor-box-radio-box label::after { background-color: #f79237; }
.tutor-availability-b { margin-bottom: 30px; }
.plus-btn { padding: 12px 18px; font-size: 20px; margin-top: 51px;}

.inline-right-pad .form-group { padding-right: 20px; }
.select-time-spacing { margin-bottom: 20px; }
.right-side-time-section { position: inherit; padding-top: 5px; background: #f8f8f8; margin-bottom: 45px; }
.right-under-section { background-color: #f8f8f8; height: 100%; padding-top: 15px; }
.primary-btn-custom { min-width: 0px; border-radius: 0px; }
.primary-btn-custom:hover { color: #fff; }
.selected-time-list { 
	margin-bottom: 10px;     
	vertical-align: text-top;
	padding-left: 10px;
}
.selected-time-list dt { text-align: left; width: 100px; color: #898989; font-size: 15px; float: left; }
.selected-time-list dd { margin-left: 100px; font-size: 15px; }
.right-under-section ol { list-style-position: inside; }
.right-under-section ol li { padding: 15px 0px; margin-bottom: 0px; border-bottom: solid 1px #d0d0d0;   }
.right-under-section ol li:first-child { border-top: solid 1px #d0d0d0; }
.right-under-section h2 i { padding-right: 5px; }
.select-time-to { padding-top: 0px; }
.select-time-trash { float: right; display: inline-block; }
.save-cancel-block button{
	display: block;
	width: 100%;
}
.from-to-time {
	margin-left: 30px;
}
.selected-time-section-scroll{
	overflow-y: auto;
	max-height: 489px;
}
.inline-btn-custom{
	display: inline-block;
	min-width: inherit;
	border-radius: 0px;
	text-transform: capitalize;
}
.inline-btn-custom:hover,
.inline-btn-custom:focus{
	color: #fff;
}
.horizontal-custom{
	margin-bottom: 0;
	vertical-align: text-top;
}
.available-date-everyday{
	margin-bottom: 30px;
}
.available-date-everyday ul li{
	padding-right: 18px;
	color: #2f2f2f;
}
.available-date-everyday ul li span{
	color: #686868;
}
/*My-Availability page End from here*/
/* Tutee payment page css start here */
.payment-tabs { padding-top: 15px; }
.payment-tabs .nav-tabs { border-bottom: 1px solid #dadada; }
.payment-tabs .nav-tabs>li { margin-right: -4px; }
.payment-tabs .nav-tabs>li>a { border-radius: 0px; border: 1px solid #dadada; font-size: 16px; line-height: 1; padding: 21px 30px; background-color: #efefef; color: #2f2f2f; }
.payment-tabs .nav-tabs>li.active>a, .payment-tabs .nav-tabs>li.active>a:focus, .payment-tabs .nav-tabs>li.active>a:hover { background-color: #fff; border: none; font-weight: bold; }
.payment-tabs .nav-tabs>li.active>a:before, .payment-tabs .nav-tabs>li.active>a:focus:before, .payment-tabs .nav-tabs>li.active>a:hover:before { content: ""; border-top: 8px solid #ab8b50; width: 100%; position: absolute; left: 0; top: -8px; }
.payment-tabs .nav-tabs>li.active>a:after, .payment-tabs .nav-tabs>li.active>a:focus:after, .payment-tabs .nav-tabs>li.active>a:hover:after { content: ""; background: #fff; height: 1px; width: 100%; position: absolute; left: 0; bottom: -2px; }
.payment-tabs .nav-tabs>li.cancel-tutee.active a:before, .payment-tabs .nav-tabs>li.cancel-tutee.active>a:focus:before, .payment-tabs .nav-tabs>li.cancel-tutee.active>a:hover:before { content: ""; border-top: 8px solid #f82617; width: 100%; position: absolute; left: 0; top: -8px; }
.payment-tabs .nav-tabs>li.cancel-tutor.active a:before, .payment-tabs .nav-tabs>li.cancel-tutor.active>a:focus:before, .payment-tabs .nav-tabs>li.cancel-tutor.active>a:hover:before { content: ""; border-top: 8px solid #ff8a00; width: 100%; position: absolute; left: 0; top: -8px; }
.payment-tabs .nav-tabs>li.cancel-tutor.active a, .payment-tabs .nav-tabs>li.cancel-tutor.active>a:focus, .payment-tabs .nav-tabs>li.cancel-tutor.active>a:hover { border-right: 1px solid #dadada; }
.payment-box { border: 1px solid #ab8b50; padding: 25px 0px 0; margin-top: 20px; }
.payment-box h2{
	font-weight: 700; 
	font-size: 20px; 
	line-height: 1; 
	margin: 0 0 5px;
}
.cancel-tutee-tab .payment-box { border: 1px solid #f82617; }
.cancel-tutor-tab .payment-box { border: 1px solid #ff8a00; }
.payment-box .payment-user-info h2 { font-weight: 700; font-size: 20px; line-height: 1; margin: 0 0 5px; }
.session-fee-rate { float: none; text-align: left; }
.session-fee-rate span { font-size: 14px; line-height: 1.4 }
.session-fee-rate span strong { font-weight: 700; color: #df1c4d; font-size: 20px; line-height: 1.4; display: block; }
.session-fee-rate.penalty-amount { padding: 0px; }
.session-fee-rate.penalty-amount span strong { color: #f82617; }
.session-fee-rate.amount-refund { padding: 0px; }
.session-fee-rate.amount-refund span strong { color: #20a00e; }

.curriculam-list { display: inline-block; margin-bottom: 0; }
.curriculam-list li { font-size: 12px; line-height: 1; border-left: 1px solid #2f2f2f; padding: 0 5px; font-weight: 700; }
.curriculam-list li:first-child { border-left: none; font-weight: 400; }
.curriculam-list li:first-child + li{ border-left: none;}
.subject-list { display: inline-block; margin-bottom: 0; }
.subject-list li { font-size: 12px; line-height: 1; padding: 0 5px; font-weight: 700; }
.subject-list li:first-child { border-left: none; font-weight: 400; }
.payment-top { padding: 0 15px; margin-bottom: 20px; }
.payment-bottom { padding: 15px 20px; background: #f6f3ed; }
.cancel-tutee-tab .payment-bottom { background: #feeeed; }
.cancel-tutor-tab .payment-bottom { background: #fff6eb; }
.schedule-list { margin-bottom: 0; padding-bottom: 0; display: inline-block; }
.schedule-list li { line-height: 1; margin-bottom: 10px; position: relative; display: block; }
.schedule-list li label { font-size: 13px; font-weight: 400; margin-right: 10px; margin-bottom: 0; padding-top: 2px;}
.schedule-list li div { display: inline-block; margin-right: 10px; font-size: 13px; line-height: 1; }
.schedule-list li div i { margin-right: 11px; line-height: 18px; }
.payment-tabs .panel-group .panel { border-radius: 0px; box-shadow: none; }
.payment-tabs .panel-body { padding-top: 0px; }
.payment-tabs .panel-default>.panel-heading { border-radius: 0px; border-color: #dadada; }
.payment-tabs .panel-default>.panel-heading .panel-title { text-transform: capitalize; }
.payment-tabs .panel-default>.panel-heading .panel-title a { display: block; }
.payment-tabs .panel-default>.panel-heading .panel-title a:focus, .payment-tabs .panel-default>.panel-heading .panel-title a:hover { text-decoration: none; }
.cancel-tutee-tab .curriculam-list { margin-bottom: 0; }
.cancel-tutee-tab .subject-list { margin-bottom: 0; }
.cancel-tutee-tab .payment-box .payment-user-info { padding-top: 5px; padding-bottom: 5px }
.amount-refunded-right .schedule-list li:first-child:after { display: none; }
.payment-top .schedule-list li:first-child:after { display: none; }
/* Tutee payment page css end here */

/* Tutor payment page css start here */
.tutor-dashboard .amount-block .session-fee-rate span strong { color: #f79237; }
.tutor-dashboard .amount-block .session-fee-rate.amount-credit span strong { color: #20a00e; }
.payment-header { padding-bottom: 15px; }
.payment-header .form-control { height: 40px;padding: 10px; }
.payment-header .label-top-spacing { padding-top: 10px; padding-left: 0;}
.session-title .my-payment-heading{
	padding-top: 9px;
	margin-bottom: 0px;
}
/* Tutor payment page css end here */

/* My Test page css start here */
.btn-orange { background: #f79237; width: 100%; border: none; padding: 14px 20px; font-size: 18px; font-weight: 700; color: #fff; border-radius: 0px; line-height: 1.12; }
.btn-orange i { font-size: 18px; color: #fff; font-weight: normal; margin-right: 10px; }
.btn-orange:hover, .btn-orange:focus { background: #df7e26; color: #fff; }
.date-block { float: none; width: 100%; margin-bottom: 10px; }
.btn-appear-block { float: none; }
.my-test-tabs .curriculam-list li { font-size: 12px; }
.my-test-tabs .subject-list { margin-left: 0px; }
.my-test-tabs .subject-list li { font-size: 12px; }
.result-status { padding-right: 10px; border-right: 1px solid #dadada; display: inline-block; vertical-align: bottom; }
.result-status label { font-size: 14px; line-height: 1; font-weight: 400; margin-right: 7px; margin-bottom: 0; vertical-align: middle }
.result-status span { display: inline-block; font-size: 16px; line-height: 1; color: #20a00e; font-weight: 700; vertical-align: middle }
.result-status span i { margin-right: 10px; font-size: 16px; line-height: 1; }
.result-percentage { padding-left: 10px; display: inline-block; vertical-align: middle }
.result-percentage span { display: inline-block; font-size: 16px; line-height: 1; color: #20a00e; font-weight: 700; }
.my-test-tabs .schedule-list li:first-child:after { display: none; }
.result-fail .result-status span { color: #ff1313; }
.result-fail .result-percentage span { color: #ff1313; }
.schedule-list li div a { color: #2f2f2f; text-decoration: underline; font-weight: 700; }
.schedule-list li div a:hover, .schedule-list li div a:focus { text-decoration: none; }
.incomplete-status .result-status { border-right: none; }
.incomplete-status .result-status span { color: #f79237; }
.incomplete-status .result-status span i { font-size: 25px; }
.payment-tabs .nav-tabs>li.pending-test.active a:before, .payment-tabs .nav-tabs>li.pending-test.active>a:focus:before, .payment-tabs .nav-tabs>li.pending-test.active>a:hover:before { content: ""; border-top: 8px solid #f7c337; width: 100%; position: absolute; left: 0; top: -8px; }
.pending-test-tab .payment-box { border: 1px solid #f7c337; }
.btn-give-test { margin-top: 10px; border-radius: 0px; color: #f79237; font-weight: 700; border: 2px solid #f79237; font-size: 14px; text-transform: uppercase; padding: 10px 20px; }
.btn-give-test:hover, .btn-give-test:focus { background: #f79237; color: #fff; border-color: #f79237; }
.my-test-tabs .pending-test-tab .curriculam-list li, .my-test-tabs .pending-test-tab .subject-list li { margin-bottom: 0; }
.my-test-tabs .pending-test-tab .curriculam-list, .my-test-tabs .pending-test-tab .subject-list { vertical-align: middle; padding-top: 10px; }
.pending-test-tab .payment-box { padding-bottom: 20px; padding-top: 20px; }
.pending-test-tab .payment-top { margin-bottom: 0px; }
.new-test-modal .btn-orange { margin-left: 0; width: 100%; font-size: 16px; line-height: 1; padding-top: 20px; padding-bottom: 20px; }
.new-test-modal .btn-grey { font-size: 16px; font-weight: 700; line-height: 1; padding-top: 20px; padding-bottom: 20px; }
.my-test-subject-section p{
	font-size: 14px;
	padding-right: 8px;
}
.my-test-subject-section span{
	font-size: 14px;
}
.session-title .my-test-heading {
	padding-top: 10px;
}
.my-test-daterange .daterangepicker:after {
	left: 16px;
}
/* My Test page css start here */

/*Tutor Dashboard page start from here*/
.tutor-tutee-review .media-left, .tutor-panctual-rating .media-left { display: block; }
.tutor-tutee-review { padding-top: 15px; padding-bottom: 41px; }
.tutor-panctual-rating .media-left h3 { margin-bottom: 0; }
.tutor-panctual-rating .basic-answer { text-align: left; margin-right: 0; margin-top: 10px; }
.tutor-panctual-rating { padding-top: 15px; padding-bottom: 25px; }
.tutor-panctual-rating .media-left { min-width: 200px; }
.tutor-panctual-rating .lg-rating-outof-wrapper { display: block; margin-bottom: 20px; margin-right: 0; }
.tutor-panctual-rating .rating-outof-text { display: block; font-size: 14px; }
.tutor-tutee-review .rating-total { text-align: left; margin-bottom: 20px; }
.tutor-tutee-review .teach span { padding-left: 0; }
.tutor-tutee-review .rating-total h3 { color: #2f2f2f; }
/*Tutor Dashboard end form here*/



/*Session page start form here*/

/*full page calender start form here*/
.fc-day-number { color: #2f2f2f; min-width: 30px; }
.fc-day-number:hover, .fc-day-number:focus, a.fc-more:hover, a.fc-more:focus { color: #2f2f2f; text-decoration: none !important; }
a.fc-more { color: #2f2f2f; }
.fc-event { border-radius: 0; padding: 1px 6px; }
.fc-prev-button, .fc-next-button { box-shadow: none; background: #fff; border: 0; display: inline-block; vertical-align: middle; }
.fc-prev-button:focus, .fc-next-button:focus { box-shadow: none; }
.fc-icon-left-single-arrow:after { content: "\f0d9"; font-family: FontAwesome; font-size: 16px; color: #2f2f2f; }
.fc-icon-right-single-arrow:after { content: "\f0da"; font-family: FontAwesome; font-size: 16px; color: #2f2f2f; }
.fc-prev-button:hover .fc-icon-left-single-arrow:after, .fc-prev-button:hover .fc-icon-left-single-arrow:after, .fc-next-button:hover .fc-icon-right-single-arrow:after, .fc-next-button:hover .fc-icon-right-single-arrow:after { color: #df1c4d; }
.fc-header-toolbar .fc-center { display: block; text-align: center; }
.fc-header-toolbar .fc-center > div { float: none; }
.fc-toolbar h2 { display: inline-block; vertical-align: middle; margin-left: 15px; margin-right: 15px; }
.fc button.fc-today-button { background: #fff; border: 0; box-shadow: none; text-transform: uppercase; vertical-align: middle; display: block; text-align: center; min-width: 80px; margin: 0 auto 15px; }
.fc-today-button:hover, .fc-today-button:focus { box-shadow: none; color: #df1c4d; }
th.fc-day-header { height: 40px; vertical-align: middle; background: #f5f5f5; text-transform: uppercase; font-size: 12px; }
.box-legend-calender { text-align: left; }
.box-legend-calender span { height: 20px; width: 20px; display: inline-block; margin-right: 10px; vertical-align: middle; }
.upcomming-session { background: #499f0f; }
.successful-session { background: #ab8b50; }
.cancel-session-tutee { background: #f82617; }
.cancel-session-tutor { background: #ff8a00; }
.box-legend-calender li { display: block; }
.fc-event.upcomming-session { border-color: #499f0f; }
.fc-event.successful-session { border-color: #ab8b50; }
.fc-event.cancel-session-tutee { border-color: #f82617; }
.fc-event.cancel-session-tutor { border-color: #ff8a00; }
.fc-scroller { height: auto !important; }
.fc-unthemed .fc-popover { box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
.fc-popover .fc-header .fc-title { float: right!important; }
.fc-unthemed .fc-popover .fc-header .fc-close { float: left !important; margin-top: 6px; }
.fc-unthemed .fc-popover .fc-header { background: transparent; }
/*full page calender start form here*/

/*session page dialog(modal) start from here*/
.sm-textarea { max-height: 140px; }
#reportTutor textarea { }
#reportTutor .modal-body-section .btn { margin-top: 20px; }
#rating .rating-input { display: inline-block; vertical-align: middle; }
.dashboard-rating-border { padding-bottom: 25px; border-bottom: 1px solid #dadada; }
#rating .rating-outof { vertical-align: top; }
.icon-bar { transition: transform 0.2s linear 0s; }
.left-side-expand .icon-bar:nth-child(3n-1) { display: none; }
.left-side-expand .icon-bar:nth-child(3) { transform: rotate(-45deg); }
.left-side-expand .icon-bar:nth-child(4) { transform: rotate(45deg); margin-top: -2px; }


.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3n-1) { display: none; }
.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) { transform: rotate(-45deg); }
.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) { transform: rotate(45deg); margin-top: -2px; }

/*session page dialog(modal) end from here*/

/*Session page end  from here*/
/* My Sesion page start here */
.calendar-modal { padding: 20px 30px; position: relative; width: 100%; margin-bottom: 20px; }
.modal-orange { border: 1px solid #ff8a00; }
.modal-orange:before { height: auto; border-bottom: 8px solid #ffdcb2; width: 100%; position: absolute; left: 0px; content: ""; bottom: 0px; }
.calendar-modal h2 { margin-bottom: 5px; line-height: 1; }
.calendar-modal p { margin-bottom: 3px; }
.calendar-modal .curriculam-list { margin-top: 5px; margin-bottom: 5px; margin-left: 0; }
.calendar-modal .schedule-list { margin-left: 0; }
.calendar-modal .schedule-list li { display: block; margin-bottom: 8px; }
.calendar-modal .schedule-list li label { width: 100px; }
.calendar-modal .schedule-list li:first-child:after { display: none; }
.ratings-block label { font-size: 14px; line-height: 1; font-weight: normal; margin-right: 10px; }
.ratings-block span { color: #36ae52; font-size: 16px; line-height: 1; font-weight: 700 }
.ratings-block span em { font-style: normal; color: rgba(54,174,82, 0.6); font-size: 16px; line-height: 1; font-weight: 700 }
.modal-red { border: 1px solid #f82617; }
.modal-red:before { height: auto; border-bottom: 8px solid #fdbdb9; width: 100%; position: absolute; right: 0px; content: ""; bottom: 0px; }
.modal-green { border: 1px solid #499f0f; width: 100%; }
.modal-green:before { height: auto; border-bottom: 8px solid #c8e2b7; width: 100%; position: absolute; left: 0px; content: ""; bottom: 0px; }
.btn-block { margin-top: 20px; }
.btn-session { border: 2px solid #007eb0; padding: 10px 20px; border-radius: 0; color: #007eb0; text-transform: uppercase; font-size: 14px; font-weight: bold; }
.btn-session:hover, .btn-session:focus { border: 2px solid #499f0f; color: #499f0f; }
.btn-cancel { border: none; padding: 10px 20px; font-size: 14px; color: #2f2f2f; font-weight: 700; }
.btn-cancel i { margin-right: 7px; }
.btn-cancel:hover, .btn-cancel:focus { color: #499f0f; }
.calendar-schedule-right { text-align: left; }
.calendar-schedule-right .schedule-list li { padding: 0; margin-right: 0px; text-align: left; }
.calendar-schedule-right .schedule-list li div { margin-right: 0px; }
.calendar-schedule-right .schedule-list li:first-child { margin-right: 0px; }
.modal-light-brown { border: 1px solid #ab8b50; width: 100%; }
.modal-light-brown:before {height: auto; border-bottom: 8px solid #e6dcca; width: 100%; position: absolute; left: 0px; content: ""; bottom: 0px; }
.star-rating-block { margin-bottom: 5px; }
.star-rating-block label { font-size: 14px; line-height: 1; font-weight: 400; color: #2f2f2f; margin-right: 5px; }
.star-rating-block .ratings-star-inner { display: inline-block; color: #f79237; }
.star-rating-block span { display: inline-block; font-size: 14px; line-height: 1; font-weight: 400; color: #2f2f2f; margin-left: 5px; }
.ratings-block a { color: #007eb0; }
.new-panctual-rating { right: -75px !important; }
.new-panctual-rating:after { width: 0; height: 0; border-top: 16px solid transparent; border-right: 9px solid #36ae52; border-bottom: 16px solid transparent; position: absolute; display: block; content: ""; top: 0px; left: -9px; }
.panctual-timings { color: #37ae52; text-align: center; top: 0px; border-radius: 50%; background: #fff; height: 27px; width: 27px; padding: 4px; z-index: 1; position: absolute; right: 0px; }
.panctual-timings i { font-size: 20px; }
.new-panctual-rating .pancutal-rating-outof { font-size: 20px; line-height: 1; }









/* My Sesion page start here */
/*tutee-profile-edit Start here*/
.my-profile-section{
	border: solid 1px #d5d5d5;
	padding: 15px;
}
.my-profile-section .my-profile-heading{
	font-size: 15px;
	color: #838383;
	padding-bottom: 25px;
}
.my-profile-section label{
	font-size: 15px;
	color: #838383;
}
.my-profile-section label i{
	padding-right: 10px;
	color: #6d6d6d;
}
.personal-profile-photo{
	margin: 0 auto;
	position: relative;
}
.upload-profile-image{
	height: 45px;
	width: 45px;
	background-color: #df1c4d;
	cursor: pointer;
	border-radius: 60%;
	text-align: center;
	position: absolute;
	right: 0px;
	bottom: 5px;
	border: solid 2px #fff;
}
.upload-profile-image i{
	color: #fff;
	font-size: 16px;
	padding-top: 12px;
}
.upload-profile-image input[type='file']{
	height: 45px;
	width: 45px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.my-profile-name-heading h2{
	font-size: 26px;
}
/*tutee-profile-edit End here*/

.total-curriculum{display: block;}
.fixed_header{transition: 0.3s linear all;}
.fixed_header.landing-page-header{padding-top: 5px;padding-bottom: 5px;}
.fixed_header.landing-page-header .navbar-collapse.collapse{padding-top: 0;}
.fixed_header.landing-page-header .logo.navbar-brand{max-width: 90px;}
.daterangepicker.dropdown-menu {min-width: inherit;}

/*** Benefits section css starts here ***/
.benefits-section{padding: 40px 0;text-align: center;position: relative;z-index: 0; overflow: hidden;}
.benefits-section h2{font-size:24px;margin:0 0 15px;text-align: center;}
.benefits-section p{font-size: 18px;margin-bottom: 30px;}
.benefits-bg-image{ background-image: url("../images/benefits-bg.jpg");background-position: center center;background-repeat: no-repeat;background-size: cover;bottom: 0;filter: grayscale(100%);left: 0;position: absolute;right: 0;top: 0;z-index: -5;}
.benefits-left-hero, .benefits-right-hero{display: none;}
.benefits-circle-item{margin-bottom: 20px;}
.benefits-circle-item .benefits-circle{ height: 180px;width: 180px;background-color: #fff;border-radius:100%;position: relative;margin:20px auto 30px;}
.benefits-circle-item .benefits-circle:after{position: absolute;content: "";height: 200px;width: 200px;background-image: -webkit-linear-gradient( 90deg, rgb(223,28,77) 50%, rgb(247,146,55) 50%);background-image: -ms-linear-gradient( 90deg, rgb(223,28,77) 50%, rgb(247,146,55) 50%);border-radius: 100%;z-index: -1;left: -10px;top: -10px;bottom: -10px;right: -10px;}
.benefits-circle-item .benefits-circle img{margin-top: 50px;}
.benefits-circle-item p{margin-bottom: 0;}
.benefits-circle i {
	font-size: 90px;
	line-height: 176px;
}

/*Landing page css start from here*/
.circle-wrapper{width:100%;margin:50px auto 0 auto;}
.how-it-work-section{

	padding-top: 20px;
	position: relative;
	background: rgb(247,146,55); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(247,146,55,1) 48%, rgba(247,146,55,1) 50%, rgba(223,28,77,1) 50%, rgba(223,28,77,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,146,55,1) 48%,rgba(247,146,55,1) 50%,rgba(223,28,77,1) 50%,rgba(223,28,77,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,146,55,1) 48%,rgba(247,146,55,1) 50%,rgba(223,28,77,1) 50%,rgba(223,28,77,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79237', endColorstr='#df1c4d',GradientType=0 ); /* IE6-9 */
	z-index: 1;
}
.how-it-work-section:after{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: url("../images/how-it-work-bg.png") no-repeat 0 0;
	-webkit-background-size:cover;
	background-size:cover;
	z-index: -1;
}
.how-it-work-section h2{
	font-size: 24px;
	color:#fff;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 1.2;
	font-weight: normal;
}
.how-it-work-section p{
	color:#fff;
	font-size: 14px;
	margin-bottom: 0;
}
.work-circle{
	height: 180px;
	width: 180px;
	background: #fff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	position: relative;
	color:#2f2f2f;
	font-size: 14px;
	margin: 0 auto 65px;
}
.work-circle:before{
	position: absolute;
	content: '';
	height: 220px;
	width: 220px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	z-index: 0;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.work-type{pointer-events: none;}
.work-circle .table-cell{padding:0 20px}
.line-wrapper{display: none;}

/*Landing page css end from here*/

#aboutUsVideo .modal-dialog{width: 90%;}
.landing-page-main .fixed_header{
	-webkit-transition: position 0.3s linear 0s , background 0.3s linear 0s;
	-moz-transition: position 0.3s linear 0s, background 0.3s linear 0s;
	-ms-transition: position 0.3s linear 0s, background 0.3s linear 0s;
	-o-transition: position 0.3s linear 0s, background 0.3s linear 0s;
	transition: position 0.3s linear 0s, background 0.3s linear 0s;}

	.header-landing-page {
		padding-top: 15px;
		padding-bottom: 15px;
		z-index: 2;
		position: absolute;
		left: 0;
		right: 0;
	}

	.landing-page-main .logo {
		padding-top: 10px;
		padding-bottom: 9px;
	}

	/*.landing-page-main .header-landing-page .logo .unfix-logo{*/
		/*display: none;*/
		/*}*/
		/*.landing-page-main .header-landing-page .logo .fix-logo{*/
			/*display: block;*/
			/*}*/


			.landing-page-main .header-landing-page.fixed_header ,
			.landing-page-main .header-landing-page{
				position: fixed;
				background: #fff;
				padding-top: 0;
				padding-bottom: 0;
				box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
				right: 0;
				z-index: 2;
				left: 0;
			}
			.landing-page-main  .navbar-toggle span.icon-bar{
				background: #df1c4d;
			}


			.landing-page-main .fixed_header.header-landing-page .navbar li a{
				color: #6c6c6c;
			}


			.landing-page-main .fixed_header.header-landing-page  .navbar li a:hover,
			.landing-page-main .fixed_header.header-landing-page  .navbar li a:focus{
				background-color: rgba(0,0,0,0);
				color:#df1c4d;
			}
			.landing-page-main .fixed_header.header-landing-page  .navbar li a.sign-up-button:hover,
			.landing-page-main .fixed_header.header-landing-page  .navbar li a.sign-up-button:focus{
				background: #f79237;color:#fff;
			}

			.landing-page-main .fixed_header.header-landing-page .navbar li.active a{color:#df1c4d;}

			.find-tutor-modal .modal-content{
				background: transparent;
				box-shadow:none;
				border:0;
				border-radius:0;
				color:inherit;
			}
			.find-tutor-modal  .custom-search{
				background: transparent;
				color:#fff;
				border-color:#fff;

			}
			.find-tutor-modal  .custom-search:hover,
			.find-tutor-modal  .custom-search:focus{
				background: transparent;
				border-color:#fff;
				color: #fff;
			}
			.custom-search .search-submit{
				background-image: url(../images/search_icon.svg);
			}

			.find-tutor-modal select{
				background-color: rgba(0,0,0,0);
				color: #fff;
				border-color: #fff;
				background-image: url(../images/icons/white-down-arrow.png)!important;
			}
			.find-tutor-modal select:hover,
			.find-tutor-modal select:focus{
				background-color: rgba(0,0,0,0);
				color: #fff;
				border-color: #fff;
				background-image: url(../images/icons/white-down-arrow.png)!important;
			}
			.reservation-box input,
			.reservation-box .input-group-addon,
			.reservation-box input:focus,
			.time-picker-wrapper input,
			.time-picker-wrapper .input-group-addon ,
			.time-picker-wrapper input:focus{
				background: transparent;
				color:#fff;
				border-color: #fff;
			}
			.find-tutor-modal .bootstrap-datetimepicker-widget {

			}
			.find-tutor-modal.transparent-modal .modal-body{
				color:inherit;
			}
			.find-tutor-modal .form-group label{color:#fff;}

			.find-tutor-modal .custom-search::-webkit-input-placeholder {
				color: #575757;
				opacity: 1;
			}

			.find-tutor-modal .custom-search:-moz-placeholder {
				/* Firefox 18- */
				color: #575757;
				opacity: 1;
			}

			.find-tutor-modal .custom-search::-moz-placeholder {
				/* Firefox 19+ */
				color: #575757;
				opacity: 1;
			}

			.find-tutor-modal .custom-search:-ms-input-placeholder {
				color: #575757;
				opacity: 1;
			}

			.find-tutor-modal .custom-select,
			.find-tutor-modal .custom-select:focus{
				background-image: url(../images/downarrow-default.png) !important;
				background-color: #f6f6f6;
				color: #575757;
			}

			.find-tutor-modal button.close{
				font-size: 40px;
				color: #fff;
				right: 0;
				position: absolute;
				top: 10px;
				z-index: 8;
			}




			

			