.tutee-dashboard .dashboard-header{
    background: #df1c4d;
}
.tutee-dashboard .select-user select{
    color:#df1c4d;
}
.tutee-dashboard .color-title{
    color:#df1c4d;   
}
.tutee-dashboard .notifications-menu .dropdown-toggle:hover .pending-reading-notification, 
.tutee-dashboard .notifications-menu .dropdown-toggle:focus .pending-reading-notification{
    background: #df1c4d;
}
.tutee-dashboard .left-aside-dashboard .new-notification {
    background: #df1c4d;
}

.tutee-dashboard .left-aside-dashboard ul li a:hover i,
.tutee-dashboard .left-aside-dashboard ul li a:focus i{
   color:#df1c4d;
}
.tutee-dashboard .left-aside-dashboard .new-notification {
    background: #df1c4d;
}
/*tutor start form here*/

.tutor-dashboard .dashboard-header{
    background: #f79237;
}
.tutor-dashboard .select-user select{
    color:#f79237;
}

.tutor-dashboard .notifications-menu .dropdown-toggle{
    border-left: 1px solid #d98030;
    border-right: 1px solid #d98030;
}
.tutor-dashboard .left-aside-dashboard ul li a:hover i,
.tutor-dashboard .left-aside-dashboard ul li a:focus i{
   color:#d98030;

}
.tutor-dashboard .color-title{
    color:#d98030;   
}
.tutor-dashboard .left-aside-dashboard .new-notification {
    background: #d98030;
}
.tutor-dashboard .left-aside-dashboard ul li a:hover i,
.tutor-dashboard .left-aside-dashboard ul li a:focus i{
   color:#f79237;
}
.tutor-dashboard .left-aside-dashboard .new-notification {
    background: #f79237;
}
.tutor-dashboard .view-all-notification a{
     color:#f79237;
}
.tutor-dashboard .view-all-notification a:hover ,
.tutor-dashboard .view-all-notification a:focus{
    color: #f79237;
}
.tutor-dashboard .header-notification-list li:before{
  background: #f79237;  
}

    
.tutor-dashboard .notifications-menu .dropdown-toggle:hover .pending-reading-notification, 
.tutor-dashboard .notifications-menu .dropdown-toggle:focus .pending-reading-notification{
    background: #f79237;
}

/*tutor-calender start here kaushik*/
.tutor-calender .bootstrap-datetimepicker-widget .glyphicon{
  color: #f79237;
}
.tutor-calender .bootstrap-datetimepicker-widget table td.day {
  color: #f79237;
}
.tutor-calender .bootstrap-datetimepicker-widget table td.active,  .bootstrap-datetimepicker-widget table td.active:hover{
  color: #fff !important;
  background-color: #f79237;
  text-shadow: none;
}
.tutor-calender .daterangepicker td.active, .tutor-calender .daterangepicker td.active:hover {
  background-color: #f79237 !important;
  color: #fff;
}
.tutor-calender .bootstrap-datetimepicker-widget table td.day:hover{
  box-shadow: inset 0 0 0 1px #f79237;
  background-color: #f79237;
  color: #fff;
}
.tutor-calender .bootstrap-datetimepicker-widget table td.today:before{
  border-bottom-color: #f79237;
}
.tutor-calender .bootstrap-datetimepicker-widget button[data-action], .tutor-calender .bootstrap-datetimepicker-widget button[data-action]:focus, .tutor-calender .bootstrap-datetimepicker-widget button[data-action]:hover {
  background-color: #f79237;
}
.tutor-calender .bootstrap-datetimepicker-widget table td span:hover{
  box-shadow: inset 0 0 0 1px #f79237;
  color: #f79237;
}
.tutor-calender .bootstrap-datetimepicker-widget table td {
  color: #f79237;
}
.tutor-calender .calendar-table .available{
  color: #f79237;
}
.tutor-calender .calendar-table .off{
  color: rgba(252, 170, 95, 0.64);
}
.tutor-calender .daterangepicker .calendar th{
  color: #f79237;
}
.tutor-calender .daterangepicker td.in-range {
  background-color: rgba(250, 193, 142, 0.3);
  border-color: transparent;
  border-radius: 0;
}
.tutor-calender .ranges .range_inputs .btn-success{
  color: #fff;
  background-color: #f79237;
  border-color: #f79237;
}
.tutor-calender .daterangepicker .input-mini.active {
  border: 1px solid #f79237;
}
.tutor-calender .daterangepicker .input-mini {
  color: #f79237;
  border: 1px solid rgba(246, 206, 170, 0.6);
}
.tutor-calender .daterangepicker .daterangepicker_input i {
  color: #f79237;
}
.tutor-calender .daterangepicker td.available:hover{
  background: #feeddd;
}
/*tutor-calender End here*/

/*tutee-calender Start here kaushik*/
.tutee-calender .bootstrap-datetimepicker-widget table td.day { border: 1px solid #e2e2e2; color: #df1c4d; }
.tutee-calender .bootstrap-datetimepicker-widget table td.day:hover { color: #df1c4d; background: transparent; box-shadow: inset 0 0 0 1px #ac1339; border-radius: 0; }
.tutee-calender .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover { background-color: #df1c4d; color: #fff; border-radius: 0; }
.tutee-calender .bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #df1c4d; }
.tutee-calender .bootstrap-datetimepicker-widget .glyphicon { color: #df1c4d; }
.tutee-calender .bootstrap-datetimepicker-widget table thead tr:first-child th.prev, .bootstrap-datetimepicker-widget table thead tr:first-child th.next { color: #df1c4d; }
.tutee-calender .bootstrap-datetimepicker-widget table thead tr:first-child th:hover { background: transparent; }
.tutee-calender .bootstrap-datetimepicker-widget table td span.active { background-color: #df1c4d; color: #fff; border-radius: 0; }
.tutee-calender .bootstrap-datetimepicker-widget table td span:hover { border-radius: 0; box-shadow: inset 0 0 0 1px #ac1339; background: transparent; color: #df1c4d; }
.tutee-calender .bootstrap-datetimepicker-widget a[data-action]:hover { border: 0; }
.tutee-calender .bootstrap-datetimepicker-widget button[data-action], .bootstrap-datetimepicker-widget button[data-action]:focus, .bootstrap-datetimepicker-widget button[data-action]:hover { background-color: #df1c4d; border: 0; color: #fff; }
.tutee-calender .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-hour:hover, .bootstrap-datetimepicker-widget .timepicker-hour:focus, .bootstrap-datetimepicker-widget .timepicker-minute:hover, .bootstrap-datetimepicker-widget .timepicker-minute:focus { box-shadow: none; }
.tutee-calender .daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #df1c4d !important;
  border-color: transparent;
  color: #fff;
}
.tutee-calender .calendar-table .available{
  color: #df1c4d;
}
.tutee-calender .calendar-table .off{
  color: rgba(229, 79, 117, 0.61);
}
.tutee-calender .daterangepicker .calendar th{
  color: #df1c4d;
}
.tutee-calender .bootstrap-datetimepicker-widget table td {
  color: #df1c4d;
}
.tutee-calender .ranges .range_inputs .btn-success{
  color: #fff;
  background-color: #df1c4d;
  border-color: #df1c4d;
}
.tutee-calender .daterangepicker .input-mini.active {
  border: 1px solid #df1c4d;
}
.tutee-calender .daterangepicker .input-mini {
  color: #df1c4d;
  border: 1px solid rgba(255, 134, 164, 0.62);
}
.tutee-calender .daterangepicker .daterangepicker_input i {
  color: #df1c4d;
}
.tutee-calender .daterangepicker td.available:hover{
  background: #fedae3;
}
.tutee-calender .daterangepicker td.in-range{
  background-color: rgba(254, 189, 205, 0.56);
  border-color: transparent;
  border-radius: 0;
}
/*tutee-calender end here*/
