/* CSS Document */


/***************************************************************************************
        
        GENEGRAL LAYOUT GUIDELINES	
        FONT: font-family: 'Roboto', sans-serif;
        Available Weights:400,600,700
***************************************************************************************/


/***************************************************************************************

                * GENERAL STARTS

        ***************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

*,
* * {
	margin: 0;
	padding: 0;
	font-size: 1em;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #444444;
}

a {
	color: #ed1c24;
}

a.active,
a:hover {
	color: #00aae4;
}

p {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 18px;
}

p a {
	color: #1a5ca0
}

p a:hover {
	color: #1c354f;
	border-color: #777777;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.clear {
	clear: both;
}

.content-header {
	padding: 15px 15px 10px;
	border-bottom: 1px solid #ececec;
}

.page-tatil-box {
	padding-top: 15px;
	margin-bottom: 25px;
}

.page-tatil-box h1 {
	margin: 0;
}

.page-tatil-box .box-tools {
	padding-top: 15px;
}

.first-fild { margin-bottom:15px;}

/***************************************************************************************
        
        * HEADINGS STARTS
        
        ***************************************************************************************/


/* All Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Roboto', sans-serif;
}

/* Individual Headings */


h1,
.page-title,
.content-header >h1 {
	font-size: 28px;
	margin: 5px 0;
	line-height: 32px;
	font-weight: 700;
	color: #4d5664;
	text-transform: uppercase;
}

.page-title,
.content-header >h1 strong {
	color: #ed1c24;
	font-weight: 900;
}

h2,
.sub-title {
	font-size: 26px;
	margin: 10px 0;
	line-height: 26px;
	color: #4d5664; 
}

h3 {
	font-size: 17px;
	margin: 10px 0;
	line-height: 18px;
	letter-spacing: 1px;
}

h4 {
	font-size: 17px;
	margin: 20px 0;
	line-height: 1.3em;
	font-weight: 700;
}

h5 {
	font-size: 15px;
	margin: 20px 0;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #999999;
}

h6 {
	font-size: 17px;
	margin: 20px 0;
	line-height: 1.3em;
}

/***************************************************************************************
        
        * form css STARTS
        
***************************************************************************************/

.page-header {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

label {
	color: #444444;
	font-weight:400;
}
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
 transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
color: #444444;
}

input[type=password],
input[type=email],
input[type=text],
input[type=number] {
	border-radius: 0 !important;
	box-shadow: none !important;
	border: 1px solid #d7d7d7 !important;
	padding: 6px 11px;
	height: 40px;
}

textarea.form-control,
textarea {
	border-radius: 0 !important;
	box-shadow: none !important;
	border: 1px solid #d7d7d7 !important;
}

input[type=password]:focus,
input[type=email]:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea:focus {
	box-shadow: 1px 3px 4px #cbcbcb inset;
}

.form-control {
	border-radius: 0;
	color: #444444;
	padding: 6px 11px;
	border: 1px solid #d7d7d7;
	height:40px;
}

.btn-without-bg {
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 100px;
	background: transparent;
	font-size: 20px;
	text-transform: uppercase;
	padding: 5px 27px;
	transition: all 0.5s ease;
}

.btn-without-bg:hover {
	color: #fff;
}

.btn {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px 27px;
	transition: background 0.5s ease 0s;
}

.btn-info { background: #00abe5;}

.btn-red {
	background: #ed1c24;
	color: #fff;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
	background: #D51920;
	color: #fff;
}

.btn-grey-border {
	background: #fff;
	border: 1px solid #d7d7d7;
	color: #969696;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 4px;
}

.btn-grey-border:hover,
.btn-grey-border:active,
.btn-grey-border:focus {
	border-color: #ed1c24;
	color: #ed1c24;
}

.btn-blue {
	background: #1f5ca0;
	color: #fff;
}

.btn-blue:hover {
	background: #193048;
	color: #fff;
}

.btn-grey {
	background: #e6e6e6;
	color: #15589e;
}

.btn-grey:hover {
	background: #d8d8d8;
	color: #15589e;
}

.btn-primary:hover {
	background: #fff;
	border-color: #fff;
	color: #333;
}

.btn-light-blue {
	background: #00abe5;
	color: #fff;
	border-radius: 50%;
	-webkitborder-radius: 50%;
}

.pagination-bottom {
    text-align: center;
}

.pagination-bottom .pagination{ margin:0;}

.list-group { margin-bottom:0;}
.ui-widget-content .grid-icon {
	border: 0;
	border-radius: 50%;
	color: #898989 !important;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 12px;
	margin-right: 6px;
	padding: 3px;
	text-align: center;
	transition: background 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
	vertical-align: top;
	width: 20px;
	cursor: pointer;
}

.ui-widget-content .grid-icon:hover {
	color: #00abe5 !important;
	border: 0;
}

.required:after {
	content: '*';
	color: red;
	padding-left: 5px;
}

.ui-jqgrid .ui-jqgrid-pager {
	background: #fff !important;	
	border: 0 none !important;
	padding: 10px 0 !important;
}

.ui-jqgrid .ui-jqgrid-htable th { border-bottom:0 !important;}
.ui-jqgrid tr.ui-row-ltr td:last-child, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr:last-child  { border-right:0 !important;}
.ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
    font-size: 13px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-radius:0 !important;}
.ui-jqgrid tr.ui-search-toolbar select { border-radius:0 !important;}
/***************************************************************************************

* WRAPPER CSS STARTS

***************************************************************************************/


.content {
	padding: 7px 15px 15px;
}

.login-logo a img,
.register-logo a img {
	vertical-align: top;
}

/*Login css*/


.frontend-page {
	background-image: url(../../images/login.png);
	background-repeat: no-repeat;
	background-size: cover
}

.login-box-msg,
.register-box-msg {
	margin: 0;
	padding: 0 20px 12px 0;
	font-size: 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	margin-bottom: 28px
}

.form-control:focus {
	border-color: #0a69c8
}

.login-page,
.register-page {
	background-color: #ccc
}

.btn-danger,
.btn-success {
	background-color: #e63f24;
	border-color: #e63f24;
	color: #fff
}

.btn-success:hover,
.btn-success:active,
.btn-success.hover,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus {
	background-color: #d73925;
	border-color: #d73925
}

.btn.btn-sm {font-size: 12px !important;
    line-height: 1.5;
    padding: 5px 10px !important;}

.login-logo {
	background: #303d53;
	text-align: center;
	width: 100%;
	padding: 21px 0;
}

.login-box,
.register-box {
	width: 472px;
	margin: 12% auto;
}

.cloud-logo p {
	font-size: 18px;
	color: #fff;
	color: #feffff;
	letter-spacing: 2px;
	margin: 24px 0 30px 0;
}

.login-box-body,
.register-box-body {
	background: rgba(255, 255, 255, 0.95);
	padding: 24px;
	margin-bottom: 50px;
	border-radius: 3px;
	border-top: 3px solid #c04348;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.login-box-body input[type="password"],
.login-box-body input[type="email"] {
	box-shadow: none !important;
}

.form-group-last {
	margin-bottom: 0;
}

.form-control-feedback {
	top: 4px;
}

.has-feedback .form-control-feedback {
	left: 0;
	right: inherit;
}

 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
 -webkit-text-fill-color: #444444;
}

.has-feedback {
	margin-bottom: 25px;
}

.has-feedback .checkbox {
	margin-top: 0;
	margin-bottom: 0
}

.has-feedback .form-control {
	padding: 6px 11px;
	height: 40px;
}

.has-feedback span {
	color: #fff !important;
	font-size: 21px;
	text-align: left;
	padding: 5px 0;
}

.has-feedback .form-control:focus {
	outline: 0;
	box-shadow: none;
}
 .has-feedback input.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bdbdbd;
}
 .has-feedback input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #dbdbdb;
}
 .has-feedback input.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #dbdbdb;
}
 .has-feedback input.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #dbdbdb;
}

.has-client select {
	background: rgba(6, 17, 48, 0.5);
	border-radius: 30px;
	border: 0;
}

.has-client .select2-container--default .select2-selection--single {
	border-radius: 20px;
	background: rgba(6, 17, 48, 0.5);
	border: 0;
	font-size: 18px;
	padding: 5px 17px;
	height: 40px;
}

.has-client .select2-container--default .select2-selection--single span {
	color: #fff;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #00aae4;
	text-transform: uppercase;
}

.has-client .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	top: 0px;
	right: 8px;
	width: 20px;
}

.has-client .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: transparent;
	border-style: initial;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin-right: 0.5em;
	left: -6px;
	top: 11px;
}

.has-client .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: #fff;
	border-width: 3px 2px 2px 3px;
}

.has-client .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border-radius: 20px;
}

.link-password {
	font-size: 16px;
}

.link-password a {
	color: #c04348;
	font-style: italic;
	font-size: 14px;
}

.link-password a:hover {
	color: #08ade6;
}

.login-btn {
	color: #fff;
	border: 0;
	border-radius: 0;
	background-color: #08ade6;
	font-size: 18px;
	text-transform: capitalize;
	height: 40px;
}

.login-btn:hover,
.login-btn:focus,
.login-btn.focus {
	color: #fff;
	outline: none;
	box-shadow: none;
	border-color: #ed1c24;
	background-color: #ed1c24;
}

.cloud-logo img {
	margin: auto;
}

.navbar-nav > li > a {
	padding-top: 27px;
	padding-bottom: 27px;
	height: 81px;
}

.user-menu {
	font-size: 16px;
	letter-spacing: 0.2px;
}

.user-menu img.setting-icon {
	width: 24px;
	margin-right: 10px;
	height: 24px;
}

.user-menu img.logout-icon {
	width: 16px;
	margin-right: 10px;
	height: 16px;
}

ul.sidebar-menu li img {
	width: 25px;
	margin-right: 12px;
}

.skin-purple .sidebar-menu > li:hover > a,
.skin-purple .sidebar-menu > li.active > a {
	background: #1a222f;
	border-left-color: rgba(0, 0, 0, 0.1);
}

.skin-purple .sidebar a {
	color: #d0d0d0;
	font-size: 14px;
}

.skin-purple .sidebar-menu > li > .treeview-menu {
	background: #1c2739;
}

.skin-purple .sidebar-menu > li > .treeview-menu > li > a {
	color: #DBDBDB;
}

.skin-purple .sidebar-menu > li > .treeview-menu > li > a:hover,
.skin-purple .sidebar-menu > li > .treeview-menu > li.active > a {
	color: #fff;
	background: #1a222f;
	border-left-color: rgba(0, 0, 0, 0.1);
}

.skin-purple .main-sidebar {
	background-color: #273140;
}

.sidebar-menu > li > a {
	padding: 12px 5px 12px 10px;
}

.profile-image {
	border-radius: 50%;
	height: 35px;
	overflow: hidden;
	width: 35px;
}

.profile-image img {
	max-width: 35px;
}

.user-panel > .info {
	padding: 5px 5px 5px 10px
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
	white-space: normal !important;
}

/*header css starts*/


.main-header > a span {
	width: 100%;
	transition: width 0.3s ease 0s;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
	margin: 0;
}

.logo-mini > img {
	width: 37px;
}

.main-header {
	background-color: #ffffff;
	box-shadow: 0 1px 15px 0 rgba(53, 53, 53, 0.1);
	max-height: inherit;
}

.skin-purple .main-header .logo {
	background-color: #303d50 !important;
}

.skin-purple .main-header .navbar {
	background-color: transparent;
}

.main-header .logo {
	height: 81px;
	padding: 5px;
}

.main-sidebar,
.left-side {
	padding-top: 162px !important;
}

.logo span {
	font-size: 18px;
	letter-spacing: 0.8px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	top: 4px;
	position: relative;
	margin-left: 0px;
	display: none;
}

.main-header .sidebar-toggle {
	padding: 29px 15px;
	background: none;
}

.main-header .label-warning {
	background: #ebb716;
}

.bell-badge {
	position: absolute;
	right: -7px;
	top: 1px;
	z-index: 999;
	background-color: #f5b800;
	width: 26px;
	padding: 3px 0;
	text-align: center;
	border-radius: 6px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 2px 2px 2px -1px #333;
}

.sidebar-menu {
	overflow: initial;
}

.main-sidebar,
.left-side {
	width: 270px;
	transform: translate(-270px, 0px);
	-webkit-transform: translate(-270px, 0px);
}

.sidebar-open .content-wrapper,
.sidebar-open .right-side,
.sidebar-open .main-footer {
	transform: translate(270px, 0px);
	-webkit-transform: translate(270px, 0px);
}

.skin-purple .main-header .navbar .sidebar-toggle {
	color: #00abe5;
	font-size: 25px;
	padding: 22px 15px 23px;
	background-color: transparent;
}

.skin-purple .sidebar-menu > li:hover > a:before,
.skin-purple .sidebar-menu > li.active > a:before {
	border-bottom: 10px solid transparent;
	border-left: 7px solid #c04348;
	border-top: 10px solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	left: -3px;
	content: '';
	margin-top: -9px;
	top: 50%;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
	background: #384556;
	color: #fff;
}

.skin-purple .main-header .navbar .nav > li > a {
	color: #444444;
	font-size: 12px;
	font-weight: bold;
	padding-top: 32px;
}

.main-header .navbar .nav > li > a .fa {
	font-size: 22px;
	vertical-align: middle;
	font-weight: normal;
}

.main-header .navbar .nav > li > a > .label {
	font-size: 11px;
	min-width: auto;
	right: 12px;
	top: 26px;
}

.skin-purple .main-header .navbar .nav > li > a:hover,
.skin-purple .main-header .navbar .nav > li > a:active,
.skin-purple .main-header .navbar .nav > li > a:focus,
.skin-purple .main-header .navbar .nav .open > a,
.skin-purple .main-header .navbar .nav .open > a:hover,
.skin-purple .main-header .navbar .nav .open > a:focus {
	color: #fff;
	background: #384556;
}

.skin-purple .main-header .navbar .nav > li.log-out a {
	color: #fff;
	background: #00abe5;
}

.skin-purple .main-header .navbar .nav > li.log-out a:hover {
	background: #ed1c24;
}

/*JQ grid css*/


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #ededed;
	border: 1px solid #d7d7d7;
	color: #444444;
	font-weight: 400;
	border-radius: 0;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #d7d7d7;
	background: #ededed;
	color: #999999;
}

.ui-pager-control .ui-state-hover { border:0;}
.ui-jqgrid {
	border-radius: 0;
	border: 1px solid #d7d7d7;
}
.fm-button {  height: 30px;}

.ui-widget-content {
	border: 1px solid #d7d7d7;
}

.ui-jqgrid tr.ui-search-toolbar td > input {
	border-radius:0;
	box-shadow: none;
	padding-right: 5px;
	padding-left: 5px;
	height: 32px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #d7d7d7;
	background: #ededed;
}

.ui-jqgrid .ui-jqgrid-pager select { border: 1px solid #d7d7d7;  height:32px; font-size:13px; }

.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-input { height:32px;  font-size:13px;}
.ui-jqgrid td input, .ui-jqgrid td select, .ui-jqgrid td textarea { color:#444;}
.ui-widget {
	font-family: 'Roboto', sans-serif;
}
.ui-jqgrid .ui-jqgrid-htable th div { margin: 0.2em 0;}
.ui-jqgrid .ui-pg-table td, .ui-jqgrid .ui-pg-button:hover { padding: 0 3px;}
.ui-jqgrid tr td {
	color: #999999;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: 13px;
}

.ui-search-table input {
	padding: 4px 10px;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
	height: 27px;
	font-size:13px;
	font-weight:700;
	color:#444444;
	text-transform:uppercase;
	margin-top: 10px;
}

div#customSelect {
	position: unset!important;
}

.ui-search-input > select {
	width: 100%
}

.box.box-success {
	border-top-color: #ed1c24;
}

.label.label-success {
	background-color: #66cc99 !important;
	font-size: 13px;
	font-weight: normal;
	display: inline-block;
}

.label.label-danger {
	font-weight: normal;
	min-width: 37px;
	font-size: 13px;
	background-color: #f9554b !important;
	display: inline-block;
}

/*right content section*/


.content-wrapper,
.right-side {
	background-color: #f9f9f9;
}

/*page right control dropdown*/

/*.box-tools {
    margin-bottom: 10px;
}*/

/*Sweet Alert Css*/


.sweet-alert {
	border-radius: 0;
}

/*footer css*/


.main-footer {
	background-color: #fff;
	border-top: 1px solid #d2d6de;
	color: #444444;
	position: relative;
	z-index: 820;
	margin: 0;
	padding: 15px 15px;
	font-size: 11px;
	text-align: left;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: 'Roboto', sans-serif;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #00aae4;
}

.checkbox label,
.radio label {
	padding-left: 25px;
}

.checkbox-outer {
	position: relative;
	padding-left: 27px;
	cursor: pointer;
}

.icheckbox {
	position: absolute;
	border: 1px solid #d7d7d7;
	height: 17px;
	width: 17px;
	top: 2px;
	left: 0;
}

.icheckbox.checked:after {
	content: '';
	position: absolute;
	content: '';
	display: block;
	width: 5px;
	height: 10px;
	border: solid #00abe5;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 5px;
	top: 2px;
}
.iradio{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 19px;
    height: 19px;
    background: url(../../images/blue.png) -100px 0 no-repeat;
    border: none;
    cursor: pointer;
	position:absolute;
	left:2px;
	top :1px;
}

    .iradio.hover {
        background-position: -120px 0;
    }
    .iradio.checked {
        background-position: -140px 0;
    }
    .iradio.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -180px 0;
    }


.content-header > .breadcrumb {
	float: none;
	position: static;
}

.content-header > .breadcrumb > li > a {
	color: #acacac;
}

.content-header > .breadcrumb li.active {
	color: #898989;
}

.content-header > .breadcrumb > li + li::before {
	content: "/ ";
}

.box-body {
	padding: 16px;
}

.box {
	box-shadow: none;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}

.box-footer {  border-top: 1px solid #d7d7d7;}

.btn:active {
	box-shadow: none;
}

.btn-grey-border {
	border-color: #d7d7d7;
}

.dropdown-toggle {
	border-radius: 0;
}

.dropdown-toggle.btn {
	padding: 5px 17px;
	color: #444444;
	text-transform: capitalize;
}

.dropdown-toggle.btn.btn-grey-border:hover,
.dropdown-toggle.btn.btn-grey-border:active,
.dropdown-toggle.btn.btn-grey-border:focus {
	color: #ed1c24;
}

.btn-group.open .dropdown-toggle {
	box-shadow : none;
}

.ui-jqgrid tr.jqgrow td { font-size:14px; color:#444444;}
.select2-container .select2-selection--single { height: 41px; border-radius:0; border: 1px solid #d2d6de;}
.select2-container--default .select2-selection--multiple{ height: 41px; border-radius:0; border: 1px solid #d2d6de;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 41px;}
.select2-dropdown { border: 1px solid #d2d6de;}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.list-group-image {
    text-align: center;
}
.list-group-image img{ margin:0 auto; 
	margin: 0 auto;
    max-width: 100%;
    width: 100%;}
.product-info-link { position:absolute; bottom:15px; right:15px; font-size: 40px; z-index: 1;}
.product-info-link a:hover, .product-info-link a:focus{ color:#1A222F;}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
	border-top:0;
	border-left:0;
	border-right:0;
	border-radius:0;
}
.item.list-group-item:last-child { margin-bottom:15px; border-bottom:0;}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #00abe5 ;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
	 float: left;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 15px 15px 0px 15px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item .list-unstyled { margin-bottom:15px;}

.item-action .lead { margin-bottom:0;  margin-top: 6px;  font-size: 12px;}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.modal-header .close { z-index: 1; }

.list-group-item .list-group-image {
    max-width: 400px;
    width: 100%;
    max-height: 250px;
}

.data-search-box { margin-bottom:0; }
.data-search-box .form-control { height: 30px; padding-right: 42.5px; }
.data-search-box .form-control-feedback { top: 0; left:initial; right: 0; text-align: center; color: #00abe5 !important;  font-size: 18px; line-height: 22px;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background: #00abe5; }

.invoice-info { margin-bottom: 30px;} 
.check-list ul li { padding-left:20px;}
.check-list ul li .fa { position:absolute ; left:0; top:4px;} 

.btn.add_field_button, .btn.remove_field { padding-left: 10px; padding-right: 10px; }


 @media all and (max-width:767px) {
.first-fild { margin-bottom:0;}
.form-wizard.form-wizard-horizontal .nav li{ display:inline-block;}
.login-box,
 .register-box {
	width: 100%;
}

.login-box-body,
 .register-box-body {
	padding: 46px 30px 15px 30px;
	margin: 0 15px;
}

.cloud-logo {
	margin: 0 15px;
}

.select2-container--default .select2-selection--single {  border-radius: 0px !important; border: 1px solid #d7d7d7!important;}
}



/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 768px STARTS
        
***************************************************************************************/

@media screen and (min-width:768px) {

.main-header > .navbar {
	margin-left: 270px;
}

.main-header .logo {
	width: 270px;
}

.main-sidebar,
.left-side {
	padding-top: 81px !important;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
}

.content-wrapper,
.right-side,
.main-footer {
	margin-left: 270px;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: 14px;
}

.link-password {
	text-align: right;
}


}


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 992 STARTS
        
***************************************************************************************/

@media screen and (min-width:992px) {

.grid-group-item .item-action {
    bottom: 9px;
    left: 0;
    padding: 0 9px;
    position: absolute;
    width: 100%;
}
	
.grid-group-item .thumbnail .caption {
    min-height: 287px;
    padding-bottom: 50px
}
.grid-group-item.item:nth-child(2n+1) {
    clear: both;
}



}


/***************************************************************************************
        
    *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1024 STARTS
        
***************************************************************************************/

@media screen and (min-width:1024px) {
	.page-tatil-box .box-tools {
	float: right;
	padding-top: 0;
}
}


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
        
***************************************************************************************/

@media screen and (min-width:1280px) {

.ui-jqgrid tr.jqgrow td {
	padding: 5px;
}
.grid-group-item .thumbnail .caption {
    min-height: 287px;
}
.grid-group-item.item:nth-child(2n+1) {
    clear: none;
}
.grid-group-item.item:nth-child(3n+1) {
    clear: both;
}

}


/***************************************************************************************
        
        *MEDIA QUERY FOR DEVICE WIDTH MORE THEN 1280 STARTS
        
***************************************************************************************/

@media screen and (min-width:1500px) {

.ui-widget-content .grid-icon {
	height: 24px;
	line-height: 15px;
	width: 24px;
	font-size: 16px;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: 16px;
}

.ui-jqgrid tr.jqgrow td {
	padding: 13px 8px;
}
.grid-group-item .thumbnail .caption {
    min-height: 257px;
}
}

/***************************************************************************************
        
        *For checkbox and radio button
        
***************************************************************************************/

input[type="checkbox"],
input[type="radio"] {
	line-height: normal;
	margin: 9px 0 0;
}

.admin_sidebar_logo{width: 44%;height: auto;}
.login_header_logo{width: 6%;height: auto;}

/********************************
 DropZone
********************************/

/*.dropzone {
    border: 1px dashed #CCC;
    min-height: 227px;
    margin-bottom: 20px;*/
