 /***************************************************************************************
	
	*MEDIA QUERY FOR DEVICE WIDTH LESS THEN 1367px STARTS
	
***************************************************************************************/


@media screen and (max-width:1450px){
.inner-container{padding-left:15px;padding-right:15px;}
	
/*New car css Start**********************/	
.car-type-list li p{font-size:11px;}
.car-information h2, .car-information h2 a{font-size:18px;}
}

@media screen and (max-width:1405px){
.header-links li{margin-right: 15px;}
	
/*New car css Start**********************/		
.left-refine .btn{padding-left: 0;padding-right: 0;}
.sorting li{margin-right: 15px;}
}



@media screen and (max-width:1366px){
.latest-specials .owl-nav{display: block;}
.latest-specials .owl-prev{ left: -6.5%;}    
.latest-specials .owl-next{ right: -6.5%;}        
.sub-menu-btn{right:0;}
.header-links li{margin-right:10px;}
.header-links li a{font-size: 12px;}
.banner h2{font-size:36px;}	
.brand-logos, .used-car-types{padding:20px 0;}	
.link-hover{transform: translateY(98%); -webkit-transform: translateY(98%);  -ms-transform:  translateY(98%);}
	
/*New car page css Start***************************/
.car-detail h2{font-size: 28px;}
.small-text{font-size: 12px;}
.car-type-list li{padding-left: 0;padding-right:0;}
.left-refine .btn, .left-refine h3 span, .left-refine .select2-container, .car-features li, .sorting .btn, .sorting .select2-container{font-size: 12px;}
.left-refine h3, .sorting h3{font-size: 14px;}
.car-information h2, .car-information h2 a{font-size: 18px;}
.car-features{margin-top:5px;}	
	
/*Blog Page css Start******************************/
.blog-title{font-size: 30px;line-height:35px;}
.blog-tab-title{font-size:16px;line-height:22px;margin-top: 0;}
.read-small-link a{padding: 2px 10px;font-size:14px;}
.resp-tabs-list li{padding:10px;}
.find-dealer-content .dealer-branch{ width: 62%;}    
}


@media screen and (max-width:1320px){
	.car-information h2, .car-information h2 a{font-size:16px;}
    
}

@media screen and (max-width:1299px){
.section-title-secondary h2{font-size: 30px}
}


@media screen and (max-width:1252px){
.header-links li a img{margin-right:4px;}
.header-links li a span{margin-left: 5px;padding:3px 5px;}
	
/*New car page css Start***************************/	
.sorting li{margin-right:5px;}
.car-detail h2{font-size:24px;}

.left-refine .row, .left-refine.row{margin-left:-5px;margin-right:-5px;}
.left-refine .col-lg-1, .left-refine .col-lg-10, .left-refine .col-lg-11, .left-refine .col-lg-12, .left-refine .col-lg-2, .left-refine .col-lg-3, .left-refine .col-lg-4, .left-refine .col-lg-5, .left-refine .col-lg-6, .left-refine .col-lg-7, .left-refine .col-lg-8, .left-refine .col-lg-9, .left-refine .col-md-1, .left-refine .col-md-10, .left-refine .col-md-11, .left-refine .col-md-12, .left-refine .col-md-2, .left-refine .col-md-3, .left-refine .col-md-4, .left-refine .col-md-5, .left-refine .col-md-6, .left-refine .col-md-7, .left-refine .col-md-8, .left-refine .col-md-9, .left-refine .col-sm-1, .left-refine .col-sm-10, .left-refine .col-sm-11, .left-refine .col-sm-12, .left-refine .col-sm-2, .left-refine .col-sm-3, .left-refine .col-sm-4, .left-refine .col-sm-5, .left-refine .col-sm-6, .left-refine .col-sm-7, .left-refine .col-sm-8, .left-refine .col-sm-9, .left-refine .col-xs-1, .left-refine .col-xs-10, .left-refine .col-xs-11, .left-refine .col-xs-12, .left-refine .col-xs-2, .left-refine .col-xs-3, .left-refine .col-xs-4, .left-refine .col-xs-5, .left-refine .col-xs-6, .left-refine .col-xs-7, .left-refine .col-xs-8, .left-refine .col-xs-9{padding-left: 5px;padding-right: 5px;}
}

@media screen and (max-width:1199px){
.bottom-link h2{font-size:40px;}
.link-hover{padding:0 25px;-webkit-transform:translateY(100%);transform:translateY(100%); bottom: 60px;}
    .brand-logos, .used-car-types{padding: 25px 0;}    
.demo-cars{padding-left: 0;padding-right: 0;}
.blog-title{font-size:30px;}
.blog-social{margin-top:30px;margin-bottom:30px;}
footer h3{font-size: 20px;}
.header-search{padding-right: 15px;padding-left:15px; }
.header-search input{margin-left: 10%;width:90%;}
	
/*New car page css Start***************************/	
.sorting h3.d-i-b{margin-right:5px;}	
.car-information h2, .car-information h2 a{font-size: 16px;}
.car-interior .nav-tabs.nav-justified > li > a{font-size: 14px;}
.blog-title{font-size:28px;}
	
/*Register Page css Start************************************/	
.register-left{padding: 0;}
	
/*Blog Page css Start****************************************/ 	
.drop-caps-image img{max-width:100%;margin-right:0;}
.drop-caps-image span{margin-bottom: 0;}
.blog-detail-list li{margin-bottom:15px;}
	.read-more-link a{font-size:20px;padding:4px 12px;}
}

@media screen and (max-width:1095px){
.link-hover{padding:0 20px;}
.sub-menu-btn{right:10px;}
}


@media screen and (max-width:1034px){
.header-links li, .header-links .btn:first-child{margin-right:7px;}	
}

@media screen and (max-width:1024px){
/******************find a Dealer Page css start here***************/
.find-dealer-content .dealer-branch{ width: 60%}    
/******************find a Dealer Page css end here***************/    

    
}



@media screen and (max-width:991px){
.banner-bottom{display: none;}
.mobile-menu{display: block;}
.banner::before{opacity: 0.3;}
.mobile-link li a{font-size: 36px;}
.view-all .btn-default, .specials .btn{display: block;padding-top: 15px;padding-bottom: 15px;}
.footer-menu, .footer-bottom p{text-align:center;}
.talk-to-us h3{text-align: left;margin-top:0;}
.mob-mb-15{margin-bottom: 15px;}
.footer-divider{margin-top: 20px;margin-bottom: 20px;}
.footer-top .footer-divider{margin-top:0;}
.visible-sm-xs{display:block !important;}
.navbar-collapse li:nth-child(-n+3){display:block;}	
.hidden-sm-xs{display:none !important;}
.footer-brands li{margin-bottom: 15px;}
header{padding: 10px 0;height: auto;}
.header-links.menu li:nth-child(-n+4){display:block;}
header .toggle{line-height: normal;}
.brand-logos, .used-car-types{padding:20px 0;}		
	
/*New car page css Start***************************/	
.sorting li{margin-right:10px;}
.sorting h3.d-i-b{margin-right:5px;}
.refine-car{margin-top:15px;margin-bottom:15px;}
#RefineSpecials{margin-top: 10px;}
.gray-divider{margin-top: 10px;margin-bottom: 10px;}
.reset-filters a{font-size:12px;color:#636363;margin-top:10px;margin-bottom:10px;}
.car-type-list-row{margin-top:15px;margin-bottom: 15px;}
.nav-tabs.nav-justified > li{display: table-cell;width:1%;}
	
/*Register page css start********************************/	
.block-title{font-size: 24px; line-height: 28px;}
.register-left-content p{font-size: 16px; line-height: 20px;}
.sub-title{font-size: 20px; line-height: 24px; padding-bottom: 10px;}
.register-info{position: relative;top:0;-webkit-transform: translateY(0);transform: translateY(0);margin-bottom: 30px;}

/*Blog page css Start************************************/
.read-small-link{display:none;}
.drop-caps-image img{float: none;}
ul.resp-tabs-list{display:none;}
.resp-tab-content {border: 1px solid #e6e6e6;} 
h2.resp-accordion{display:block;}
.blog-tab-container{width:100%;}
.blog-tab-container{padding:15px;}	
.blog-tabs > li > a{padding-left: 15px;padding-right: 15px;}
}




@media only screen and (orientation:landscape) and (max-width:800px){
.mobile-menu{transform: translateY(70%);-webkit-transform: translateY(70%);  -ms-transform:  translateY(70%);}
.banner-top {margin-top: 10px !important;}
.banner-top img{max-width: 180px;}
.brand-logos a, .used-car-types a{padding: 5px 0;}
.landscape-menu{overflow-y: scroll;}
.landscape-menu .specials{margin-bottom: 20px;}
}

@media screen and (max-width:768px){
    
/******************find a Dealer Page css start here***************/     
.find-dealer-content label{ margin-bottom: 0;}   
.find-dealer-content{ padding-left: 20px;} 
.province-dropdown label{ padding-left: 0;}
.province-dropdown .select2-container--default .select2-selection--single{ padding-left: 0;}
.find-dealer-content .dealer-branch{ border-left:none;padding-left: 0;width: 100%;border-top: 1px solid #c8c8c8; margin-top: 10px; padding-top: 10px;}    
.find-dealer-content .select2-container--default .select2-selection--single .select2-selection__rendered{ font-size: 18px;}
.find-dealer-content .select2-results__option{ font-size: 14px; }
.find-dealer-content .btn-red{ float: left; margin-top: 15px;}
    
/******************Dealer Page Css start here***************/    
.dealer-tab-block{  height: 65px;}    
.dealer-tab-block .dealer-tab-link{ font-size:25px;}    
.dealer-tab-block .dealer-info-detail{ padding-top:20px; padding-left: 54px;}    
.dealer-tab-block .dealer-tab-title{  padding-top: 20px; padding-left: 15px;}    
    


}

@media screen and (max-width:767px){
.mob-fullwidth{margin-left:-15px;margin-right:-15px; margin-top: 20px;}
.latest-specials .owl-dots{position:static;margin-top:10px;text-align: center;}
.section-padding, .footer-top{padding:30px 0;}
.latest-specials{ padding-bottom: 10px;}    
.blog-social{margin-top:25px;margin-bottom:25px;}
.talk-to-us h3{text-align: left;}
.specials{margin-top: 25px;}
.footer-brands li{width: 25%;text-align: center;margin-bottom: 15px;}	
.section-padding.latest-news{padding-bottom: 0;}	
.latest-specials .nav-tabs{margin-left: 0;margin-top: 15px;display: block;}
.mobile-link li a{font-size: 20px;}
.blog-title, .section-title-primary h2{font-size: 24px;line-height: 32px;}
.read-more-link a{font-size: 18px;padding-top:3px;padding-bottom: 3px;}
.blog-title{margin-bottom:15px;}
.blog-social{margin-top: 15px;margin-bottom: 15px; float: left}
.blog-social li a, footer h3{font-size: 18px;}
.blog-social li a{ margin-right: 10px;}    
 .latest-news .btn-default{ font-size: 12px; padding: 7px 9px; margin-top: 15px;}    
.find-us .btn-default{font-size: 14px;padding-left: 0;padding-right: 0;}
.find-us .btn-default{text-transform: capitalize;}
.demo-cars p{min-height:inherit;}
.latest-specials::after{content: none;}
.logo{max-width: 150px;}
.global-mobile-menu{top:0;}
.demo-cars{padding: 20px 0;}
.footer-menu li, .footer-menu, .footer-bottom p{line-height:14px;}
.footer-menu li a:after{top:0;}
.footer-menu{margin-bottom: 10px;}
.footer-top .btn{ padding-top: 7px; padding-bottom: 7px; line-height: 1;}	
.car-interior .nav-tabs.nav-justified > li > a{font-size: 12px;}
.car-interior .tab-content{padding:15px;}
.car-interior .tab-content h2{margin-bottom: 10px;font-size:20px;}
.btn{padding-left:5px;padding-right:5px;}
.mobile-header .btn{padding-left: 5px;padding-right:5px;}
.car-interior .panel-heading a{font-size:14px;padding-top: 7px;padding-bottom: 7px;}	
.car-interior .panel-body{padding: 5px 0;}
.car-interior .table{font-size: 13px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:5px;}
	
	
/*New car page css Start***************************/	
.sorting h3{font-size: 14px;}
.sorting .select2-container{max-width: 150px;min-width: 150px;}
.mobile-divider-none{background: none;}
 .tab-text{font-size: 14px;  width: 80%; margin: 20px auto 10px;}    
	
.enquiry-form .modal-dialog{margin:0;}
.modal-buttons-row .col-xs-4:nth-child(2){padding: 0;}
.modal-buttons-row .col-xs-4:first-child{padding-right: 10px;}
.modal-buttons-row .col-xs-4:last-child{padding-left: 10px;}
	
/*Register page css Start******************************/
label{font-size: 14px; line-height: 18px;}
.block-title{font-size: 22px; line-height: 26px;}
.sub-title{font-size: 18px; line-height: 22px;}	
.register-left .block-title{padding-top: 20px;padding-bottom: 10px;}
.register-left p{font-size: 16px;line-height:20px;font-weight: 400;}
	
/*Register for notify page css Start*******************/
.register-tab-content{padding-top: 15px;padding-bottom: 15px;}
.register-tab-content label{font-size:16px;margin-bottom:0;}
.register-brand li{width:21%;text-align: center;margin-right:10px;}
.register-brand li a{display: block;}
	
/*Blog Page css Start**********************************/
h2.resp-accordion{padding:10px;}
h2.resp-accordion .blog-tab-title{font-size: 16px;line-height:22px;}
.resp-arrow{top:10px;right:10px;}
.blog-detail-tabs .blog-title{font-size: 18px;line-height:24px;margin-bottom: 10px;margin-top: 0;}
.blog-detail-tabs .read-more-link a{font-size:14px;padding-bottom: 5px;}
.blog-detail-list{margin-top: 10px;}
.blog-detail-list p{font-size: 14px;}
.resp-tab-content{padding: 15px;}
.news-title .section-title-primary{margin-bottom: 15px;}
.news-title .sorting{margin-bottom: 15px;}
.blog-tab-content{margin-top: 0;border:none;}
    
/******************find a Dealer Page css start here***************/    
.find-dealer-wrapper h1{ font-size: 25px; line-height: 1;}
.branch-block{ border-top: none;}    
.find-dealer-container .btn-red{ float: none; font-size: 15px; padding:10px 18px; display: block; width: 100%;}
.find-dealer-content{ margin-bottom: 20px;}    
    
/******************Customer Feedback Page Css start here***************/
.customer-feedback-block{ padding: 30px 0;}   
.customer-feedback-left .register-left:first-child{ margin-bottom: 20px;}  

/******************Dealer Page Css start here***************/
.dealer-tab-block{ height: 50px;}   
.dealer-tab-block.tab-collapse{ height: 442px;}    
.dealer-tab-block .dealer-tab-title{padding-top: 15px;padding-left: 15px;}
.dealer-tab-block .dealer-tab-link{ font-size: 18px;}
.dealer-tab-block .dealer-tab-link span{ display:none;}
.dealer-tab-block.tab-collapse .dealer-tab-link span{ display: inline-block;} 
.dealer-tab-block .top-icon-block{float: right; padding-right: 15px;}
.dealer-tab-block.tab-collapse .top-icon-block{ display: none;}    
.dealer-info-detail address{ font-size: 14px; line-height: 15px; line-height: 20px;}    
.dealer-info-detail .phone-icon { font-size: 14px; line-height: 26px;}       
.dealer-info-detail .email-icon{ font-size: 14px; line-height: 22px;}           
.dealer-tab-block .dealer-info-detail{ padding-left: 15px; padding-top: 15px; margin-bottom: 15px; width: 100%;}    
.dealer-tab-block .dealer-tab-right{ position: static; width: 100%;}
.dealer-tab-block .dealer-tab-right img{ width: auto;}    
.dealer-container{ background: #f7f7f7; height: auto;}
    
/******************Dealer Detail Page Css start here***************/    
.owl-carousel.DealerCarSlider .owl-thumbs{ top: 15px; width: 60px;}    
}

@media screen and (max-width:640px){
    
}

@media screen and (max-width:500px){
.enquire-car{padding-top: 0;padding-bottom: 15px;}	
.enquire-car h3{font-size: 18px;margin-bottom:5px;}
.modal-car-price{font-size: 22px;}
.modal-car-price .car-installment{font-size:12px;margin-left: 0;}
.enquire-car .car-features{margin-top: 0;}
.enquiry-form .btn{padding-left:0;padding-right:0;}
.modal-buttons-row .col-xs-4:first-child{padding-right: 10px;}
.car-interior .nav-tabs.nav-justified > li > a, .car-interior .nav-tabs.nav-justified > .active > a, .car-interior .nav-tabs.nav-justified > .active > a:focus, .car-interior .nav-tabs.nav-justified > .active > a:hover{border-right-width: 5px;}
}

@media screen and (max-width:480px){
.banner-top{margin-top: 40%;}
.mobile-menu .used-car-types a{font-size: 12px;}
.brand-logos, .used-car-types, .brand-logos a, .used-car-types a{padding:10px 0;}
.car-information h2, .car-information h2 a{font-size: 16px;line-height:20px;}
.car-information h2.car-price, .car-information h2.car-price a{margin-top:10px;font-size: 28px;}
.footer-top .btn{padding-left: 0;padding-right: 0;font-size: 13px;}
.mobile-header .btn{font-size: 12px;margin-left: 10px;}
.btn-repayment{font-size: 12px;}
	
}

@media screen and (max-width:400px){
	
/*New car page css Start***************************/	
.sorting li, .sorting li .btn.m-r-10 {margin-right: 5px;}
.sorting li .btn{padding-left:8px;padding-right:8px;font-size: 12px;}
.sorting .select2-container .select2-selection--single{font-size: 12px;}
	
.enquiry-form .btn-default{font-size:12px;}
}


@media screen and (max-width:360px){
.banner-top img{max-width:180px;}	
.mobile-menu{transform: translateY(83%); -webkit-transform: translateY(83%);  -ms-transform:  translateY(83%);}
.mobile-header h2{margin-left: 15px;}
.mobile-header .btn{padding-left: 5px;padding-right: 5px;}
	
/*New car page css Start***************************/	
.sorting .select2-container{max-width: 120px;min-width: 120px;}
}

@media screen and (max-width:346px){
/*Enquiry form css start***************************/
.enquire-car h3{font-size: 16px;margin-bottom: 0;}
.modal-car-price{font-size: 20px;}
.enquiry-form .car-features li{font-size: 11px;padding-left: 5px;padding-right: 5px;}
.register-brand li{margin-right: 5px;}
}

@media screen and (max-width:320px){
.view-all .btn-default, .specials .btn{padding-top: 7px;padding-bottom: 7px;}
.specials{margin-top: 15px;}
.mobile-link li a{font-size:18px;}
.mobile-menu{transform: translateY(80%); -webkit-transform: translateY(80%);  -ms-transform:  translateY(80%);}
.mobile-header h2{font-size: 18px;}
}