 /* CSS Document */
 /***************************************************************************************
	GENEGRAL LAYPOUT GUIDELINES
	LAYOUT WIDTH :1170
	FONT: Lato
		font-family: 'Lato', sans-serif;
		Available Font Weight and Styles:  100,100i,300,300i,400,400i,700,700i,900,900i ;
	COLOR: #707070;
***************************************************************************************/


/*Global css Start *************************/
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0 auto; padding: 0; border: 0; font-size: 100%;vertical-align: baseline;}
html, body{font-family: 'Lato'; font-size: 16px;color:#707070; line-height: 22px; margin: 0; padding: 0; font-weight:400;}
input{text-shadow: none;}
a{ outline:none; text-decoration: none;-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
img{max-width: 100%;height: auto;}
a:focus, a:hover{outline:none; text-decoration: none}
ul, li, p{list-style: none;margin:0; padding:0;}
/*Global css End ***************************/


/*Common css Start ************************************/
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{background: inherit;color:inherit;}
.btn{padding:9px 15px 10px 15px;border-radius:5px;font-size:16px;color:#fff;font-weight:400;line-height: 24px;}
.btn-default{border:1px solid #464646;background: none;color:#464646;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus{border-color:#ed1c24;color:#ed1c24;background:none;outline: none;}
.btn-lg{padding-left:40px;padding-right:40px;}
.btn-sm{padding:4px 15px 5px;line-height: 1.42857143;}
.btn-red{border:1px solid #ed1c24;background: #ed1c24;font-weight:900;text-transform: uppercase;}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red:active:focus{background: none;color:#ed1c24;}
.btn-white{border:1px solid #fff;background:none;;text-transform:capitalize;}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white:active:focus{background: #fff;color:#ed1c24;}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #707070;
  opacity: 1;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #707070;
  opacity: 1;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
}
input:focus{outline:none;}

.d-i-b{display: inline-block;}
.d-b{display:block;}
.p-r-n{padding-right: 0;}
.p-l-n{padding-left: 0;}
.m-r-10{margin-right: 10px;}
.section-padding{padding: 50px 0;}
.bg-gray{background: #f4f4f4;}
.text-white{color:#fff;}
.visible-sm-xs{display:none !important;}


.section-title-primary{margin-bottom:20px;}
.section-title-primary h2{font-size:32px;font-weight:300;text-transform: uppercase;color: #707070;}
.section-title-primary h2 span{color:#ed1c24;font-weight: 900;}
/*Common css End *************************************/


/*Banner css Start **************************************/
.banner{position:relative;overflow-y: hidden;background-color:#000; }
.banner::before{background: url(../images/banner-image.jpg) no-repeat center center/cover;position: absolute;content:"";left: 0;top:0;height: 100%;width: 100%;}
.banner-top{margin-top:50px;position: absolute;width: 100%; z-index: 999;transition: margin-top 0.5s ease 0s;-webkit-transition: margin-top 0.5s ease 0s;-moz-transition: margin-top 0.5s ease 0s;-o-transition:  margin-top 0.5s ease 0s;}
.banner-top a{display: inline-block;}
.banner-bottom{width: 100%;height: 100%;}
.banner-bottom li{width:33.33%;text-align:center;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;position:relative;height:100%;float:left;}
.banner h2{color:#fff;font-size: 46px;font-weight: 700;text-transform: uppercase;}
.banner h2 span{color:#ed1c24;font-weight:300;}
.link-hover{padding: 0 50px;transform: translateY(90%); -webkit-transform: translateY(90%);  -ms-transform:  translateY(90%);-webkit-transition:-webkit-transform 0.7s ease 0s;transition:-webkit-transform 0.7s ease 0s;transition:transform 0.7s ease 0s;transition: transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;min-height: 450px;position: absolute;bottom:50px;min-width:100%;}
.banner-bottom li:hover{background: rgba(0,0,0,0.8);}
.brand-logos, .used-car-types{padding:30px 0;}
.brand-logos a, .used-car-types a{display: block;padding: 20px 0;}
.view-all a img{position: relative;left: 10px;-webkit-transition:all 0.3s linear 0s;transition: all 0.3s linear 0s; }
.view-all a:hover img{left:15px;}
.view-all .btn-default:hover, .view-all .btn-default{color:#fff;}
.view-all p{color: #ed1c24;margin-top: 5px;}
.specials{margin-top: 35px;}
.used-car-types a span{display: block;color: #fff;}
.demo-cars{padding:43px 30px;}
.demo-cars p{line-height: 24px;min-height:165px;}

/*Mobile menu css start ----------------------*/
.mobile-menu{-webkit-transform:translateY(85%);transform:translateY(85%);display: none;margin:0 3%;height:100%;transition:-webkit-transform 0.5s ease 0s;transition:transform 0.5s ease 0s;transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;-webkit-transition: -webkit-transform 0.5s ease 0s;-moz-transition: transform 0.5s ease 0s;-o-transition: transform 0.7s ease 0s;}
.mobile-tab{display: none;-webkit-transition:all 0.5s ease 0s;transition: all 0.5s ease 0s;-webkit-transition: -webkit-all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s; -o-transition:all 0.5s ease 0s;height:100%;}
.mobile-link li{width:30%;float:left;margin-right:5%;text-align:center;color: #ed1c24;}
.mobile-link li:last-child{margin-right:0;}
.mobile-link li a{display:block;color:#fff;font-size: 46px;font-weight: 700;text-transform: uppercase;line-height: 1.1;}
.mobile-link li a span{display: block;color:#ed1c24;font-weight:300;}
.mobile-menu .brand-logos a, .mobile-menu .used-car-types a{text-align: center;border:1px solid #464646;border-radius:5px;margin-bottom: 10px;}
.mobile-menu .brand-logos a:hover, .mobile-menu .used-car-types a:hover{border-color: #ed1c24;}
.mobile-menu .brand-logos .col-xs-3, .mobile-menu .used-car-types .col-xs-4{padding-left:5px;padding-right:5px;}
.mobile-menu .brand-logos .row, .mobile-menu .used-car-types .row{margin-left: -5px;margin-right: -5px;}
.mobile-link li.active a, .mobile-link li a:hover, .mobile-link li a:focus, .mobile-link li a:active:focus{background:#ed1c24;color:#fff;}
.mobile-link li.active a span, .mobile-link li a:hover span, .mobile-link li a:focus span, .mobile-link li a:active:focus span{color:#fff;}
/*Mobile menu css start ----------------------*/

/*Banner css End ********************************************/


/*Latest Special css Start ********************************************/
.latest-specials{position:relative;}
.latest-specials::after{width: 0; height: 0; border-left:40px solid transparent;border-right:40px solid transparent;border-top: 20px solid #000;position: absolute;content:"";left:50%;top:0;margin-left: -40px;}
.latest-specials .item img{display: block;width: 100%;height: auto;}
.latest-specials .owl-pagination{position:absolute;right: 0;top: -48px;}
.latest-specials .owl-theme .owl-controls .owl-page span{opacity: 1;background: #eaeaea;border:2px solid #eaeaea;}
.latest-specials .owl-theme .owl-controls .owl-page.active span, .latest-specials .owl-theme .owl-controls.clickable .owl-page:hover span{background: none;border-color:#ed1c24;}
.latest-specials .owl-controls .owl-buttons .owl-prev, .latest-specials .owl-controls .owl-buttons .owl-next{position: absolute;top:50%;margin:-34px 0 0;background:none;padding:0;opacity: 1;}
.latest-specials .owl-controls .owl-buttons .owl-next{right:-10%;}
.latest-specials .owl-controls .owl-buttons .owl-prev{left:-10%;}
.latest-specials .nav-tabs{border:none;margin-left: 15px;}
.latest-specials .nav-tabs > li{margin-bottom: -3px;}
.latest-specials .nav-tabs > li > a{padding:4px 15px 5px;border:1px solid #e6e6e6;font-size:14px;color:#969696;border-radius:5px;margin-right: 10px;background: none;}
.latest-specials .nav-tabs > li.active > a, .latest-specials .nav-tabs > li.active > a:focus, .latest-specials .nav-tabs > li.active > a:hover, .latest-specials .nav-tabs > li > a:hover{border:1px solid #ed1c24;color:#ed1c24;background: none;}
/*Latest Special css End ********************************************/


/*Latest News css Start ********************************************/
.latest-news .blog-date{font-size: 12px;text-transform:uppercase;font-weight: 700;}
.blog-title{font-size: 36px;font-weight: 900;line-height: 44px;margin-top:5px;margin-bottom:25px;}
.read-more-link a{font-size: 22px;text-transform: uppercase;color:#ed1c24;font-weight:900;border-left:5px solid #ed1c24;padding:10px 15px;display: inline-block;}
.read-more-link a:hover{color:#fff;background: #ed1c24;}
.blog-social{margin-top:70px;}
.blog-social li{display: inline-block;}
.blog-social li a{color:#000;font-size: 24px;margin-right: 15px;}
.blog-social li a:hover{color:#ed1c24;}
.latest-news img{width:100%;}
/*Latest News css End ********************************************/


/*Footer css Start ********************************************/
footer{background: #232323;}
.footer-top{padding: 40px 0;}
footer h3{font-size:22px;text-transform: uppercase;color:#a7a7a7;font-weight: 300;margin-bottom: 15px;}
footer h3 span{color:#fff;font-weight:900;}
footer .btn-default{color:#999999;}
.footer-brands li{float: left;width:12.5%;}
.footer-brands li a{display: block;}
.footer-divider{background:#4b4b4b;height:1px;margin-top: 30px;margin-bottom:30px;}
.talk-to-us h3{margin-top: 8px;text-align: right;}
.find-us .btn-default{font-size:18px;text-transform: uppercase;color:#a7a7a7;font-weight: 300;}
.find-us .btn-default span{color:#fff;font-weight:900;}
.find-us .btn-default:hover, .find-us .btn-default:hover span, .find-us .btn-default:focus span{color:#ed1c24;outline:none;background:none;}

.footer-bottom{border-top:1px solid #4b4b4b;padding-top:20px;padding-bottom:20px;}
.footer-bottom p{font-size: 11px;text-align: right;}
.footer-menu li{display:inline-block;}
.footer-menu li a{font-size: 11px;color:#707070;padding-left:8px;padding-right:9px;position:relative;}
.footer-menu li a:hover{color:#ed1c24;}
.footer-menu li:first-child a{padding-left:0;}
.footer-menu li a:after{position: absolute;content:'|';right:-3px;top:-4px;}
.footer-menu li a:hover:after{color:#707070;}
.footer-menu li:last-child a:after{ content: none;}
/*Footer css Start ********************************************/



/*Global Nav css Start ***************************************/
.inner-container{padding-left:20px;padding-right: 20px;}
.middle-container{padding-left:20px;padding-right: 20px;background: #f7f7f7; padding-top: 20px;}
.sub-menu-btn{margin-left:15px;}
.header-right{text-align:right;}
header{background:#ed1c24;padding:15px 0;}
.logo, .header-links, .logo a, .header-links li, .header-search{display: inline-block;}
.header-search{position: relative;background:rgba(0,0,0,0.1);color: #000;height:48px;line-height: 43px;border-radius: 23px;}
.header-search .icon{position: absolute;}
.header-search a{color:#000;}
.header-search input{background: none;border:none;text-transform: uppercase;margin-left:24px;color:#000;max-width:100%;padding-right:30px;}
.header-links li{margin-right:20px;float: none;}
.header-links li:nth-child(4){margin-right: 0;}
.header-links li a{display:inline-block;color:#fff;font-weight: 900;text-transform: uppercase;font-size: 13px;}
.header-links li a:hover{background:none;}
.header-links li a.btn:hover{background:#fff;}
.header-links li a.btn{padding: 9px 15px 10px;}
.header-links li a img{margin-right: 8px;}
.header-links li a span{margin-left:7px;font-weight:400;padding: 3px 8px;border-radius: 3px;}
.header-links li .favourites span{background:#ebb716;}
.header-links li .notify span{background:#77c80e;}
.header-links li .compare span{background:#004980;}
.header-links .btn{padding-top: 4px;padding-bottom: 5px;}
.header-links .btn:first-child{margin-right:10px;}
.global-mobile-row{position: relative;}
.header-search input::-webkit-input-placeholder {color: #000;}
.header-search input::-moz-placeholder{color: #000;opacity: 1;}
.header-search input:-ms-input-placeholder{color: #000;opacity:1;}
.header-search input:-moz-placeholder{color:#000;}
.mobile-header .btn{padding:2px 10px;vertical-align:top;margin-left:10px;}
/*Global Nav css End *****************************************/



.sorting li{display: inline-block;margin-right: 38px;}
.sorting h3{font-size: 18px;color:#666666;font-weight: 900;}
.sorting h3.d-i-b{margin-right: 15px;}
.sorting .sort-result h3{color:#ed1c24;font-weight:900;}
.sorting .sort-result h3 span{font-weight:400;}