 /* CSS Document */
 /***************************************************************************************
	GENEGRAL LAYPOUT GUIDELINES
	LAYOUT WIDTH :1170
	FONT: Lato
		font-family: 'Lato', sans-serif;
		Available Font Weight and Styles:  100,100i,300,300i,400,400i,700,700i,900,900i ;
	COLOR: #707070;
***************************************************************************************/


/*Global css Start *************************/
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0 auto; padding: 0; border: 0; font-size: 100%;vertical-align: baseline;}
input[type=text],input[type=email],input[type=tel],input[type=url],input[type=search] {appearance: none;-moz-appearance: none;-webkit-appearance: none;}
html, body{font-family: 'Lato'; font-size: 16px;color:#707070; line-height: 22px; margin: 0; padding: 0; font-weight:400;height: 100%;overflow-x: hidden; overflow-y: auto;}
.page-wrapper{min-height:100%;background:#fff;}
input{text-shadow: none;}
a{ outline:none; text-decoration: none;-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
img{max-width: 100%;height: auto;}
a:focus, a:hover, button:focus{outline:none; text-decoration: none}
ul, li, p{list-style: none;margin:0; padding:0;}
/*Global css End ***************************/


/*Common css Start ************************************/
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{background: inherit;color:inherit;}
.btn.active, .btn:active{box-shadow:none;}
.btn{padding:9px 15px 10px 15px;border-radius:5px;font-size:16px;color:#fff;font-weight:400;line-height: 24px;}
.btn-default{border:1px solid #464646;background: none;color:#464646;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus{border-color:#ed1c24;color:#ed1c24;background:none;outline: none;}
.btn-lg{padding-left:40px;padding-right:40px;}
.btn-sm{padding:4px 15px 5px;line-height: 1.42857143;}
.btn-red{border:1px solid #ed1c24;background: #ed1c24;font-weight:900;text-transform: uppercase;}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red:active:focus{background: none;color:#ed1c24;}
.btn-white{border:1px solid #fff;background:none;;text-transform:capitalize;}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white:active:focus{background: #fff;color:#ed1c24;}
.btn-sort{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding-top: 4px;padding-bottom: 5px;}
.btn-sort:hover, .btn-sort:active, .btn-sort:focus{color:#ed1c24;border-color:#ed1c24;}
.btn-refine{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding-top: 4px;padding-bottom: 5px;}
.btn-refine:hover, .btn-refine:active, .btn-refine:focus{color:#fff;border-color:#ed1c24;background: #ed1c24;}
.btn-green{font-size: 20px; line-height: 24px; font-weight: 700; color: #fff; background: #77c80e; border: 1px solid #77c80e; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; width: 100%; padding: 10px;text-transform: uppercase;}
.btn-green:hover, .btn-green:focus{background: transparent;color: #77c80e;}
.btn-enquiry{font-size: 20px; line-height: 24px; font-weight: 700; color: #77c80e; background: #fff; border: 1px solid #fff; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; width: 100%; padding: 10px;text-transform: uppercase;}
.btn-enquiry:hover, .btn-enquiry:focus{background: transparent;color: #fff;}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #707070;
  opacity: 1;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #707070;
  opacity: 1;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
}
input:focus{outline:none;}
.form-control{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; font-weight: 400; color: #969696; height: auto; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border: 1px solid #e9e9e9;}
.form-control:focus{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; border-color: rgba(0,0,0,0.60)}
label{font-size: 16px; line-height: 20px; font-weight: 400; color: #666666; padding-bottom:5px;}



.d-i-b{display: inline-block;}
.d-b{display:block;}
.p-r-n{padding-right: 0;}
.p-l-n{padding-left: 0;}
.m-r-10{margin-right: 10px;}
.m-b-10{margin-bottom:10px;}
.m-b-15{margin-bottom:15px;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-t-30{margin-top:30px;}
.section-padding{padding: 50px 0;}
.bg-gray{background: #f4f4f4;}
.text-white{color:#fff;}
.visible-sm-xs{display:none !important;}
.small-text{font-size:14px;}


.section-title-primary{margin-bottom:20px;}
.section-title-primary h2{font-size:32px;font-weight:300;text-transform: uppercase;color: #707070;}
.section-title-primary h2 span{color:#ed1c24;font-weight: 900;}
.latest-news .btn-default{ background-color:#fff; border-color: #e6e6e6; float: right;font-size: 14px;
    line-height: 1;padding: 7px 15px;color: #969696;}
.latest-news .btn-default:hover, .section-title-primary .btn-default:focus{ border-color: #ed1c24; background-color: #ed1c24; color:#fff;}
.section-title-secondary{margin-bottom:20px;}
.section-title-secondary h2{font-size:36px;font-weight:900;color:#c4c4c4;}


.gray-divider{background:#e1e1e1;height: 1px;margin-bottom:15px;margin-top:15px;}
.gray-right-border{border-right:1px solid #e6e6e6;}

.owl-carousel .owl-item img{width:100%;}
/*Common css End *************************************/


/*Banner css Start **************************************/
.banner{position:relative;overflow-y: hidden;background-color:#000; }
.banner:before{background: url(../images/banner-image.jpg) no-repeat center center/cover;position: absolute;content:"";left: 0;top:0;height: 100%;width: 100%;}
.banner-top{margin-top:50px;position: absolute;width: 100%; z-index: 999;transition: margin-top 0.5s ease 0s;-webkit-transition: margin-top 0.5s ease 0s;-moz-transition: margin-top 0.5s ease 0s;-o-transition:  margin-top 0.5s ease 0s;}
.banner-top a{display: inline-block;}
.banner-bottom{width: 100%;height: 100%;}
.banner-bottom li{width:33.33%;text-align:center;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;position:relative;height:100%;float:left;}
.banner h2{color:#fff;font-size: 46px;font-weight: 700;text-transform: uppercase;}
.banner h2 span{color:#ed1c24;font-weight:300;}
.link-hover{padding: 0 50px;transform: translateY(92%); -webkit-transform: translateY(92%);  -ms-transform:  translateY(92%);-webkit-transition:-webkit-transform 0.7s ease 0s;transition:-webkit-transform 0.7s ease 0s;transition:transform 0.7s ease 0s;transition: transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;min-height: 370px;position: absolute;bottom:50px;min-width:100%;}
.banner-bottom li:hover{background: rgba(0,0,0,0.8);}
.brand-logos, .used-car-types{padding:30px 0;}
.brand-logos a, .used-car-types a{display: block;padding: 8px 0;}
.view-all a img{position: relative;left: 10px;-webkit-transition:all 0.3s linear 0s;transition: all 0.3s linear 0s; }
.view-all a:hover img{left:15px;}
.view-all .btn-default:hover, .view-all .btn-default{color:#fff;}
.view-all  a span{color: #ed1c24; padding-left:10px;}
.specials{margin-top: 35px;}
.used-car-types a span{display: block;color: #fff; margin-top: 5px;}
.demo-cars{padding:43px 30px;}
.demo-cars p{line-height: 24px;min-height:107px;}

/*Mobile menu css start ----------------------*/
.mobile-menu{-webkit-transform:translateY(85%);transform:translateY(85%);display: none;margin:0 3%;height:100%;transition:-webkit-transform 0.5s ease 0s;transition:transform 0.5s ease 0s;transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;-webkit-transition: -webkit-transform 0.5s ease 0s;-moz-transition: transform 0.5s ease 0s;-o-transition: transform 0.7s ease 0s;}
.mobile-tab{display: none;-webkit-transition:all 0.5s ease 0s;transition: all 0.5s ease 0s;-webkit-transition: -webkit-all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s; -o-transition:all 0.5s ease 0s;height:100%;}
.mobile-link li{width:30%;float:left;margin-right:5%;text-align:center;color: #ed1c24;}
.mobile-link li:last-child{margin-right:0;}
.mobile-link li a{display:block;color:#fff;font-size: 46px;font-weight: 700;text-transform: uppercase;line-height: 1.1;}
.mobile-link li a span{display: block;color:#ed1c24;font-weight:300;}
.mobile-menu .brand-logos a, .mobile-menu .used-car-types a{text-align: center;border:1px solid #464646;border-radius:5px;margin-bottom: 10px;}
.mobile-menu .brand-logos a:hover, .mobile-menu .used-car-types a:hover{border-color: #ed1c24;}
.mobile-menu .brand-logos .col-xs-3, .mobile-menu .used-car-types .col-xs-4{padding-left:5px;padding-right:5px;}
.mobile-menu .brand-logos .row, .mobile-menu .used-car-types .row{margin-left: -5px;margin-right: -5px;}
.mobile-link li.active a, .mobile-link li a:hover, .mobile-link li a:focus, .mobile-link li a:active:focus{background:#ed1c24;color:#fff;}
.mobile-link li.active a span, .mobile-link li a:hover span, .mobile-link li a:focus span, .mobile-link li a:active:focus span{color:#fff;}
/*Mobile menu css start ----------------------*/

/*Banner css End ********************************************/


/*Latest Special css Start ********************************************/
.latest-specials{position:relative;}
.latest-specials::after{width: 0; height: 0; border-left:42px solid transparent;border-right:42px solid transparent;border-top: 21px solid #000;position: absolute;content:"";left:50%;top:0;margin-left: -42px;}
.latest-specials .item img{display: block;width: 100%;height: auto;}
.latest-specials .owl-dots{position:absolute;right: 0;top: -48px;}
.latest-specials .owl-dot{opacity: 1;background: #eaeaea;border:2px solid #eaeaea;}
.latest-specials .owl-dot.active, .latest-specials .owl-controls.clickable .owl-dot:hover{background: none;border-color:#ed1c24;}
.latest-specials .owl-dot{display: inline-block;height:12px;width: 12px;margin: 5px 7px;border-radius:20px;}
.latest-specials .owl-prev, .latest-specials .owl-next{position: absolute;top:50%;margin:-34px 0 0;background:none;padding:0;opacity: 1;}
.latest-specials .owl-next{right:-10%;}
.latest-specials .owl-prev{left:-10%;}
.latest-specials .nav-tabs{border:none;margin-left: 15px;}
.latest-specials .nav-tabs > li{margin-bottom: -3px;}
.latest-specials .nav-tabs > li > a{padding:4px 15px 5px;border:1px solid #e6e6e6;font-size:14px;color:#969696;border-radius:5px;margin-right: 10px;background: none;}
.latest-specials .nav-tabs > li.active > a, .latest-specials .nav-tabs > li.active > a:focus, .latest-specials .nav-tabs > li.active > a:hover, .latest-specials .nav-tabs > li > a:hover{border:1px solid #ed1c24;color:#ed1c24;background: none;}
/*Latest Special css End ********************************************/


/*Latest News css Start ********************************************/
.blog-date{font-size: 12px;text-transform:uppercase;margin-top:-7px;}
.blog-title{font-size: 36px;font-weight: 900;line-height: 44px;margin-top:5px;margin-bottom:30px;color:#666;}
.read-more-link a{font-size: 22px;text-transform: uppercase;color:#ed1c24;font-weight:900;border-left:5px solid #ed1c24;padding:3px 15px;display: inline-block;}
.read-more-link a:hover{color:#fff;background: #ed1c24;}
.blog-social{margin-top:90px;}
.blog-social li{display: inline-block;}
.blog-social li a{color:#000;font-size: 24px;margin-right: 15px;}
.blog-social li a:hover{color:#ed1c24;}
.latest-news img{width:100%;}
/*Latest News css End ********************************************/


/*Footer css Start ********************************************/
footer{background: #232323;}
.footer-top{padding: 40px 0;}
footer h3{font-size:22px;text-transform: uppercase;color:#a7a7a7;font-weight: 300;margin-bottom: 15px;}
footer h3 span{color:#fff;font-weight:700;}
footer .btn-default{color:#999999;}
footer .btn-default.btn-selected{ border-color: #ed1c24;color: #ed1c24;background: none;}
.footer-brands li{float: left;width:12.5%;}
.footer-brands li a{display: block;}
.footer-divider{background:#4b4b4b;height:1px;margin-top: 30px;margin-bottom:30px;}
.talk-to-us h3{margin-top: 8px;text-align: right;}
.find-us .btn-default{font-size:18px;text-transform: uppercase;color:#a7a7a7;font-weight: 300;}
.find-us .btn-default span{color:#fff;font-weight:700;}
.find-us .btn-default:hover, .find-us .btn-default:hover span, .find-us .btn-default:focus span{color:#ed1c24;outline:none;background:none;}

.footer-bottom{border-top:1px solid #4b4b4b;padding-top:20px;padding-bottom:20px;}
.footer-bottom p{font-size: 11px;text-align: right;}
.footer-menu li{display:inline-block;}
.footer-menu li a{font-size: 11px;color:#707070;padding-left:8px;padding-right:9px;position:relative;}
.footer-menu li a:hover{color:#ed1c24;}
.footer-menu li:first-child a{padding-left:0;}
.footer-menu li a:after{position: absolute;content:'|';right:-3px;top:-4px;}
.footer-menu li a:hover:after{color:#707070;}
.footer-menu li:last-child a:after{ content: none;}
/*Footer css End ********************************************/


/*Global Menu css Start ********************************************/
.inner-container {padding-left:30px;padding-right: 30px;}
.register-pages{background:#fcfcfc;}

header{background:#ed1c24;padding-top: 15px;padding-bottom: 15px;height:78px;}
.header-right{text-align: right;position: relative;}
.header-search{position: relative;background:rgba(0,0,0,0.1);color: #000;height:48px;line-height: 43px;border-radius: 23px;padding-left:20px;padding-right: 20px;}
.header-search .icon{position: absolute;}
.header-search a{color:#000;}
.header-search input{background: none;border:none;text-transform: uppercase;color:#000;width:96%;margin-left: 4%;}
input::-webkit-input-placeholder{color:#000;opacity: 1;}
input::-moz-placeholder{color:#000;opacity: 1;}
input:-ms-input-placeholder{color:#000;opacity: 1;}
input:-moz-placeholder{color:#000;}
header .toggle{line-height: 45px;}
.header-links li{margin-right:20px;display: inline-block;}
.header-links li a{display:inline-block;color:#fff;font-weight: 900;text-transform: uppercase;font-size: 13px;}
.header-links li a img{margin-right: 8px;}
.header-links li a span{margin-left:7px;font-weight:400;padding: 3px 8px;border-radius: 3px;}
.header-links li.favourites span{background:#ebb716;}
.header-links li.notify span{background:#77c80e;}
.header-links li.compare span{background:#004980;}
.header-links .btn:first-child{margin-right:10px;}
.menu {background:#000;position: absolute; top:100% !important;-webkit-transform: scale(0);transform: scale(0); -webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;transition:transform 0.2s;transition: transform 0.2s, -webkit-transform 0.2s;z-index: 96;min-width: 220px;}
 .menu.show{ -webkit-transform: scale(1);transform: scale(1); }
 .menu.menu--right{-webkit-transform-origin: top right;transform-origin: top right; }
 .menu li{ display: block; padding:10px 15px;margin-right: 0;}
.header-links.menu li{margin-right: 0;text-align: left;border-bottom:1px solid #fff;}
.header-links.menu li:nth-child(-n+4){display:none;}
.header-links.menu li a{display: block;}
.header-links.menu li a.btn{display: inline-block;}
.header-links.menu li:last-child{border-bottom:none;}
.mobile-header h2{color:#fff;text-transform:uppercase;font-size:20px;font-weight:bold;margin-left: 20px;line-height: 30px;}
.mobile-header h2 span{font-weight:300;}
.mobile-header img{margin-top:-6px;}
.mobile-header .btn{margin-left: 50px;margin-top:-2px;}
/*Global Menu css End **********************************************/


/*Car New Car page css Start **************************************/
.new-car-container{position:relative; background: #f7f7f7;}
.sorting li{display: inline-block;margin-right:25px;}
.sorting li:last-child{margin-right:0;}
.sorting h3{font-size: 18px;color:#666666;font-weight: 900;}
.sorting h3.d-i-b{margin-right: 15px;}
.sorting .sort-result h3{color:#ed1c24;font-weight:900;}
.sorting .sort-result h3 span{font-weight:400;}
.sorting .select2-container{min-width: 220px;}


.car-box{background:#fff;border-radius:5px;margin-top: 20px;box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);overflow: hidden;/*border:3px solid transparent;*/}
.car-information{padding:15px;}
.car-information h2, .car-information h2 a{font-size:20px;text-transform: uppercase;color:#808080;font-weight:900;line-height:24px;min-height:75px;}
.car-information h2.car-price, .car-information h2.car-price a{margin-top:10px;color:#00aae4;position: relative;min-height:inherit;}
.car-information h2.car-price:before{content:'';position:absolute;left:-15px;width:5px;background: #00aae4;height:100%;}
.car-information .car-price span{font-size:14px;color:#bdbdbd;text-transform: none;font-weight:400;}
.car-information h2 .car-installment{color:#00aae4;margin-left: 15px;font-size: 16px;}
.car-information h2 sup{top:0;}
.car-features{margin-top: 10px;}
.car-features li{display: inline-block;padding-left:8px;padding-right:8px;position:relative;font-weight:700;}
.car-features li:after{position: absolute;content:'|';right:-2px;}
.car-features li:last-child:after{content:'';}
.car-features li:first-child{padding-left:0;}
.car-image{cursor:pointer;}
.car-image img{width:100%;}


.refine-car{margin-top:75px;}
.sorting-column{padding-top: 20px;}
.RefineTitle h2{margin-top: -5px;}
#RefineColumn, #SortingColumn, .refine-car, #RefineOptRow, #RefineOptRow div, #RefineOptRow .btn{transition: width 0.5s ease 0s;-webkit-transition: width 0.5s ease 0s;-moz-transition: width 0.5s ease 0s;-o-transition: width 0.5s ease 0s;}
#RefineTitle, .refine-title h2{transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;}
.refine-by-brand a{display: block;text-align: center;border:1px solid #e1e1e1;background: #fff;text-align: center;border-radius: 5px;padding-top:5px;padding-bottom:5px;}
.refine-by-brand a.active{border-color:#ed1c24;}
.refine-by-brand a:hover{border-color:#ed1c24;}
.select2-container{min-width: 100%;}
.select2-container .select2-selection--single{height:auto;padding-top: 3px;padding-bottom: 3px;border-color: #e1e1e1;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#969696;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:100%;}
.left-refine h3{font-size: 18px;color:#666666;font-weight: 900;}
.left-refine h3 span{color: #b1b1b1;font-weight: 400;font-size: 14px;}
.left-refine h3.text-red{color:#ed1c24;}
.min-width-refinerow{min-width:530%;}
.left-refine .row, .left-refine.row{margin-left:-10px;margin-right:-10px;}
.left-refine .col-lg-1, .left-refine .col-lg-10, .left-refine .col-lg-11, .left-refine .col-lg-12, .left-refine .col-lg-2, .left-refine .col-lg-3, .left-refine .col-lg-4, .left-refine .col-lg-5, .left-refine .col-lg-6, .left-refine .col-lg-7, .left-refine .col-lg-8, .left-refine .col-lg-9, .left-refine .col-md-1, .left-refine .col-md-10, .left-refine .col-md-11, .left-refine .col-md-12, .left-refine .col-md-2, .left-refine .col-md-3, .left-refine .col-md-4, .left-refine .col-md-5, .left-refine .col-md-6, .left-refine .col-md-7, .left-refine .col-md-8, .left-refine .col-md-9, .left-refine .col-sm-1, .left-refine .col-sm-10, .left-refine .col-sm-11, .left-refine .col-sm-12, .left-refine .col-sm-2, .left-refine .col-sm-3, .left-refine .col-sm-4, .left-refine .col-sm-5, .left-refine .col-sm-6, .left-refine .col-sm-7, .left-refine .col-sm-8, .left-refine .col-sm-9, .left-refine .col-xs-1, .left-refine .col-xs-10, .left-refine .col-xs-11, .left-refine .col-xs-12, .left-refine .col-xs-2, .left-refine .col-xs-3, .left-refine .col-xs-4, .left-refine .col-xs-5, .left-refine .col-xs-6, .left-refine .col-xs-7, .left-refine .col-xs-8, .left-refine .col-xs-9{padding-left: 10px;padding-right: 10px;}

#refine-mobile .modal-dialog{width:100%;margin:0 auto;min-height:100%;}
#refine-mobile .modal-content{box-shadow: none;border-radius:0;background: #f7f7f7;min-height:100%;}

.car-seleted{border:3px solid #00aeef;}

.detail-column .car-detail{border-left: 1px solid #ededed;border-right: 1px solid #ededed;background:#fff;float:left;width:100%;}
.car-detail .owl-pagination {display: none;}
.car-detail .owl-nav .owl-prev, .car-detail .owl-nav .owl-next{position: absolute;top:35%;background:none;padding:0;opacity: 1;}
.car-detail .owl-nav .owl-next{right:2%;}
.car-detail .owl-nav .owl-prev{left:2%;}
.car-detail .slide-num{color:#fff;position:absolute;bottom:13%;right:5%;z-index: 9;}
.car-detail #CarSlider{border-bottom:7px solid #00aeef;}
.car-detail .owl-controls{margin:0;}
.car-detail h2{font-size: 32px;color:#585858;font-weight:900;}
.car-detail-links li{display: inline-block;padding-left:10px;padding-right: 10px;position:relative;}
.car-detail-links li a{display:inline-block;}
.car-detail-links li:after{content:'|';position: absolute;right: -1px;top:0;}
.car-detail-links li:first-child{padding-left:0;}
.car-detail-links li:last-child{padding-right:0;}
.car-type-list-row{margin-top:35px;}
.car-type-list li{display: inline-block;width:24.5%;padding-left:7px;padding-right:7px;text-align: center;color:#00aeef;}
.car-type-list li p{margin-top: 5px;font-size:13px;}
.car-detail .car-price{color:#00aeef;text-align: center;margin-bottom:15px;}
.car-detail .car-installment{font-size:14px;font-weight: 400;}
.car-detail .installment-type{color:#bdbdbd;}
.btn-repayment{border-color:#e6e6e6;color:#8d8d8d;font-size: 14px;}
.car-detail .small-text span{color:#585858;font-weight: 900;}
.car-detail .car-enquire{padding-top: 20px;padding-bottom: 20px;}
.top-slider{position: relative;}
.car-detail-close{position:absolute;top:7%;right:5%;z-index: 9;}

.owl-carousel .owl-item, .owl-carousel .item{max-width: 100%;text-align: center;width: 100%;}
.owl-thumbs button{background:#fff;border:none;}
.owl-thumbs .owl-item .car-color-image{background:#fff;border:2px solid transparent;padding:5px;display: block;}
.owl-thumbs .owl-item.thumb-active .car-color-image{border-radius: 3px;border-color:#ed1c24;box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);}
.car-option{margin-top:30px;margin-bottom:30px;}
.owl-thumbs p{font-size:12px;color:#fff;font-weight:700;margin-top:10px;}
.owl-thumbs .owl-item.thumb-active p{color:#585858;}

.car-interior .nav-tabs.nav-justified > li > a{background: #f7f7f7;font-size:16px;color:#7c7c7c;font-weight: 900;text-transform: uppercase;border-radius:0;border:none;border-right:10px solid #fff;padding: 15px 0;}
.car-interior .nav-tabs.nav-justified li:last-child > a{border-right:none;}
.car-interior .nav-tabs.nav-justified > .active > a, .car-interior .nav-tabs.nav-justified > .active > a:focus, .car-interior .nav-tabs.nav-justified > .active > a:hover{background: #00aeef;color:#fff;border-right:10px solid #fff;border-top:none;border-left:none;border-bottom:none;}
.car-interior .nav-tabs.nav-justified > li.active:last-child > a, .car-interior .nav-tabs.nav-justified > li.active:last-child > a:focus, .car-interior .nav-tabs.nav-justified > li.active:last-child > a:hover{border:none;}
.car-interior .tab-content{background: #f7f7f7;margin-top: 10px;padding:20px;}
.car-interior .tab-content h2{font-size: 24px;color:#ed1c24;font-weight:900;text-transform: uppercase;margin-bottom:20px;}
.car-interior .tab-content h2 span{font-weight:300;color:#757575;}
.car-interior .panel-heading{padding: 0;background:none;border-radius: 0;}
.car-interior .panel-heading a{padding-top:10px;padding-bottom:10px;display:block;color:#555555;font-weight:900;}
.car-interior .panel-group .panel + .panel{margin-top:0;border-top:1px solid #e6e6e6;}
.car-interior .panel{background: none;border:none;box-shadow:none;border-radius: 0;}
.car-interior .panel-body{padding:10px 0;}
.panel-heading .accordion-toggle:after {font-family:'FontAwesome';content: "\f107";float: right;color: #777;}
.panel-heading.accordion-opened .accordion-toggle:after {content: "\f106";color:#ed1c24;}
.panel-heading.accordion-opened a{color:#ed1c24;}
.car-interior .table tbody th, .car-interior .table tbody td{border-top:none;}
.car-interior .table{margin-bottom:0;}
.car-interior .table tbody tr{border-bottom:1px solid #e6e6e6;}
.car-interior .table tbody tr:last-child{border-bottom:0;}
.car-interior .table tbody th{font-weight:400;}
.car-interior .table tbody td{font-weight:900;}
.car-interior .CarSlider{margin-top:20px;}
.car-option .owl-thumbs .owl-item{display: inline-block;}
.sorting-bottom{ padding-top:30px; clear: both;}
.tab-text{ border-left: 4px solid #00aae4; font-size: 20px; line-height: 1.1; width: 70%;  padding-left: 20px; margin: 30px auto 10px; color:#00aae4;display: block;}

/*---
.detail-column{-webkit-transform:translateX(100%);transform:translateX(100%);position: fixed;right:0;}
.detail-column-transform{-webkit-transform:none;transform:none;position: static;}
.detail-column-transform{-webkit-transition:-webkit-transform 0.5s ease 0s;transition:-webkit-transform 0.5s ease 0s;transition:transform 0.5s ease 0s;transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;-webkit-transition: transform 0.5s ease 0s;-moz-transition: transform 0.5s ease 0s;-o-transition: transform 0.5s ease 0s;}
---*/


.enquiry-form .modal-content{background:#77c80e;box-shadow:none;border:none;border-radius:0;}
.enquiry-form h2{font-size:24px;color:#fff;font-weight:300;text-transform: uppercase;}
.enquiry-form h2 span{font-weight:900;}
.enquiry-form .modal-header{border-color:rgba(0,0,0,0.3);}
.enquire-car h3{font-size:22px;color:#000;font-weight:700;margin-bottom:20px;}
.modal-car-price{font-size:28px;color:#fff;font-weight:900;}
.modal-car-price .car-installment{font-size:16px;color:#fff;font-weight:400;margin-left: 20px;}
.enquiry-form .car-features li{color:rgba(0,0,0,0.7);}
.enquire-car{padding-top: 15px;padding-bottom:20px;border-bottom:1px solid #fff;margin-bottom:15px;}
.enquiry-form .sub-title{color:#fff;}
.enquiry-form label{font-weight:900;}
/*Car New Car page css End **************************************/





/*Register Page css Start****************************************/
.page-padding{padding: 30px 0;}
.register-block > .row{position: relative;}
.register-left{padding: 0 30px;}
.register-left p{font-size: 18px; line-height: 24px; font-weight: 700; color:#8b8b8b;}
.block-title{font-size: 28px; line-height: 32px; font-weight: 700; color: #c8c8c8;}
.register-left .block-title{padding-bottom: 20px; padding-top: 35px;}
.sub-title{font-size: 24px; line-height: 28px; font-weight: 700; color: #ed1c24; text-transform: uppercase; padding-bottom: 10px;}
.sub-title span{font-weight: 300;}
.mandatory-text{color: #ed1c24; font-size: 12px; line-height: 16px;}
.checkbox-outer{position: relative; padding-left: 27px; cursor: pointer;}
.icheckbox{position: absolute; border: 1px solid #e6e6e6; height: 17px; width: 17px; top: 2px; left: 0;}
.icheckbox.checked:after{content:'';position:absolute;content:'';display:block;width: 5px;height: 10px;border: solid rgba(0,0,0,0.6);border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);left: 5px;top: 2px;}
 .register-info{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
/*Register Page css End*****************************************/



/*Register for Notify Page css Start here******************************/
.register-tabs{border:none;margin-top: 10px;}
.register-tabs.nav-tabs > li > a{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding:4px 12px 5px 12px;line-height: 24px;border-radius: 5px;margin-right: 8px;}
.register-tabs.nav-tabs > li:last-child > a{margin-right:0;}
.register-tabs.nav-tabs > li > a:hover, .register-tabs.nav-tabs > li.active > a, .register-tabs.nav-tabs > li > a:focus{border-color:#ed1c24;background: #ed1c24;color:#fff;}
.register-brand li{display: inline-block;margin-right: 5px;margin-bottom: 10px;}
.register-brand li a{display: inline-block;padding:5px;border: 1px solid #e1e1e1;border-radius:5px;}
.register-tab-content{padding-top: 30px;padding-bottom: 30px;}
.register-tab-content form > div{margin-bottom: 15px;}
.register-tab-content label{font-size:18px;font-weight:700;color: #666666;margin-bottom:5px;}
.register-notify{top:35%;}
.register-brand a.active{border-color:#ed1c24;}
/*Register for Notify Page css End here********************************/




/*Blog Page css Start here******************************/
.blog-top-section{ background: #fcfcfc; padding: 30px 0;}
.blog-tabs{border:none;}
.blog-tabs > li{display:inline-block;}
.blog-tabs > li > a{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding:4px 30px 5px 30px;line-height: 24px;border-radius: 5px;margin-right:5px;margin-bottom: 10px;display: inline-block;}
.blog-tabs > li:last-child > a{margin-right:0;}
.blog-tabs > li > a:hover, .blog-tabs > li.active > a, .blog-tabs > li > a:focus{border-color:#ed1c24;background: #ed1c24;color:#fff;}
.blog-tabs > li > a.selected{border-color:#ed1c24;background: #ed1c24;color:#fff;}
.blog-tab-content{border-top:1px solid #e6e6e6;}


ul.resp-tabs-list{float:left;width:40%;}
.blog-tab-container{border-left: 1px solid #e6e6e6;float:left; width:60%;min-height:250px;clear: none;padding:30px; background: #fff;}
.resp-tabs-list li{display: inline-block;padding:20px;cursor: pointer;float: left;border-bottom:1px solid #e6e6e6;}
.blog-tab-title{font-size:18px;font-weight: 900;line-height:24px;margin-top:5px;}
.read-small-link a{font-size:16px;text-transform: uppercase;color:#ed1c24;font-weight:900;border-left:5px solid #ed1c24;padding:4px 15px;display: inline-block;margin-top:10px;}
.read-small-link a:hover{color:#fff;background: #ed1c24;}
.blog-left-section{ background: #fcfcfc;}
.blog-detail-tabs .blog-social{margin-top: 0;}
.blog-detail-list{margin-top:30px;}
.blog-detail-list li{float:left;width:100%;margin-bottom:25px;}
.blog-detail-list li span{display: block;font-weight:900;color:#000;}
.drop-caps-image img{float: left;margin-right:25px;margin-bottom:20px;margin-top:7px;max-width:60%;}
.drop-caps-image span{margin-bottom:20px;}
.resp-arrow{width: 0;height: 0;float: right;margin-top: 3px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top:12px solid #ed1c24;position: absolute;right:15px;top:15px;}
h2.resp-accordion{border: 1px solid #e6e6e6;border-top:0px solid #e6e6e6;margin: 0px;cursor:pointer;padding:15px;display:none;position: relative;}
h2.resp-accordion:first-child{border-top: 1px solid #e6e6e6;}
h2.resp-accordion .blog-date{margin-top:0;}
h2.resp-accordion .blog-tab-title{margin-top:5px;font-size: 20px;line-height: 24px;}
h2.resp-tab-active{background:#ed1c24;}
h2.resp-tab-active .blog-date, h2.resp-tab-active .blog-tab-title{color:#fff;}
h2.resp-tab-active span.resp-arrow{border: none;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 12px solid #fff;}
.resp-tab-content{display: none;padding:30px;}
.resp-tab-active{border-bottom: none;background-color: #fff;}
.resp-content-active, .resp-accordion-active{display:block;}
.blog-tab-content .resp-tab-active{background: none;}

/*Blog Page css End here********************************/


/******************find a Dealer Page css start here***************/
.find-dealer-page{ background: url('../images/find-a-dealer-bg.jpg') no-repeat center top; background-size: cover;}
.find-dealer-wrapper{ display:table; text-align:center; width: 100%;}
.find-dealer-wrapper .find-dealer-container{ display: table-cell; vertical-align: middle;}
.find-dealer-content{ background: #fff; box-shadow: 0 0 8px rgba(0,0,0,0.3); border-radius: 4px; padding:20px 20px 20px 0;}
.find-dealer-wrapper h1{ margin-bottom: 40px; font-size: 35px; color: #fff; line-height: 1; font-weight: 300; text-transform: uppercase;}
.find-dealer-wrapper h1 span{ font-weight: 700;}
.find-dealer-content{ text-align:left; }
.find-dealer-content label{ font-size: 18px; line-height: 1; color: #666; margin-bottom: 15px; display: block;}
.find-dealer-content .dealer-branch{ display: inline-block; width: 71%; padding-left:30px; border-left: 1px solid #c8c8c8;  }
.find-dealer-content .btn-red{ float: right;padding:28px 18px; font-size: 22px; font-weight: 700; color: #fff;border-radius: 4px;}
.find-dealer-container .btn-red:hover, .find-dealer-container .btn-red:focus{ background: #fff; color: #ed1c24;}
.find-dealer-content .select2-container--default .select2-selection--single{ border: none;}
.find-dealer-content .select2-dropdown{ border: none;}
.find-dealer-content .select2-container--default .select2-selection--single .select2-selection__rendered{ font-size: 24px; font-weight: 700;color: #ed1c24; letter-spacing:-2px; color:#ed1c24;}
.find-dealer-content .select2-results__option{ font-size: 16px; line-height: 1; color: #333;}
.find-dealer-content .select2-container--open .select2-dropdown{ border: none;}
.find-dealer-content .select2-container--default .select2-selection--single .select2-selection__arrow{ width: 18px;}
.find-dealer-content .select2-container .select2-selection--single .select2-selection__rendered{ padding-left: 0;}
.find-dealer-content .select2-container--default .select2-selection--single .select2-selection__arrow b{ background: url('../images/arrow-down.png') no-repeat; border-width: inherit; width: 18px; height:10px; margin-left: -9px; margin-top: -5px;}
.find-dealer-body .select2-container--open .select2-dropdown--above{ border: none;}
.find-dealer-body .select2-container--open .select2-dropdown--below{ border: none;}
.find-dealer-body .select2-container--default .select2-search--dropdown .select2-search__field{ border: none;}
.find-dealer-body .select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color: #fde8e9;color: #333;}
.find-dealer-body .select2-results__option{font-size: 16px; line-height: 1; color: #333; padding: 10px 0;}
.province-dropdown{}
.province-dropdown label{ padding-left: 20px;}
.province-dropdown .select2-container--default .select2-selection--single{ padding-left: 20px;}
.find-dealer-body .select2-search--dropdown{ padding-left: 20px;}
.find-dealer-body .select2-container--default .select2-results > .select2-results__options{ padding-bottom: 10px;}
.find-dealer-body .select2-results__options li{ padding-left: 20px;}
/******************find a Dealer Page css end here***************/

/******************Customer Feedback Page Css start here***************/
.customer-feedback-block{ padding: 98px 0;}
.customer-feedback-left .register-left:first-child{ margin-bottom: 60px;}
.customer-feedback-left .register-left .block-title{ padding-top:16px; padding-bottom: 5px;}
.customer-feedback-left .register-left .block-title.red-title{ color: #ed1c24;}
.customer-feedback-right .text-area-control{ height: 110px; resize: none;}
.btn-text{ font-size: 14px; line-height: 1; background:none; border:none; color:#999; margin:10px 0; }
.customer-feedback-right .section-title-secondary h2{ color: rgba(0,0,0,0.30);}
/******************Customer Feedback Page Css end here***************/

/******************Dealer Page Css start here***************/
.dealer-block{ background: #fafafa;}
.btn-apply{  width: 100%; font-size: 20px; text-align: center; line-height: 1; font-weight: 700; padding:12px 0;}
.btn-apply span{ font-size: 14px; line-height: 1; padding-left: 5px; font-weight:400;}
.date-year{ font-size: 11px; display: block; text-align: center; color: #bdbdbd;}
.dealer-block .btn-text{ margin: 15px 0;}
.dealer-info-block{ border-bottom:1px solid #d7d7d7; clear: both;}
.dealer-tab-block{ height:101px; overflow: hidden; position: relative; background: #fcfcfc; 
    -moz-transition: height 0.3s ease;  -webkit-transition: height 0.3s ease; -o-transition: height 0.3s ease;transition: height 0.3s ease;}
.dealer-tab-block.tab-collapse{ height: 261px;}
.dealer-tab-block .dealer-tab-title{padding-top: 37px; padding-left: 40px;}
.dealer-tab-block .top-icon-block{ display: inline-block; margin-left: 60px; vertical-align: text-bottom;opacity: 1;transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.dealer-tab-block.tab-collapse .top-icon-block{ opacity: 0;} 
.dealer-tab-block .dealer-tab-link{font-size: 36px; line-height: 1; color: #666666; font-weight: 700; background: url('../images/arrow-down.png') no-repeat left center; padding-left:40px;display: inline-block;}
.dealer-tab-block .dealer-tab-link span{font-weight: 300;}
.dealer-tab-block .dealer-tab-right{ position: absolute; top: 0px; right: 0; width: 35%; overflow: hidden; height: 100%;}
.dealer-tab-block .dealer-tab-right img{ width: 700px; display:block; opacity: 0;transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out; max-width: none;}
.dealer-tab-block.tab-collapse .dealer-tab-right img{ opacity: 1;}
.dealer-tab-block .dealer-info-detail{ padding-left:80px; padding-top: 30px;width: 50%; display: inline-block;}
.dealer-info-detail address{ position: relative; font-size: 18px; line-height:24px; padding-left: 50px; margin-bottom:10px; display: block}
.dealer-info-detail address:before{ background: url('../images/address-icon.png') no-repeat; height: 37px ; width: 30px; content:""; position:absolute; left:0px; top:0px;}
.dealer-info-detail .phone-icon{position: relative; font-size: 18px; line-height:26px; padding-left: 50px;margin-bottom:15px;display: block}
.dealer-info-detail .phone-icon:before{ background: url('../images/phone-icon.png') no-repeat; height:26px ; width: 32px; content:""; position:absolute; left:0px; top:0px;}
.dealer-info-detail .email-icon{position: relative; font-size: 18px; line-height:22px; padding-left: 50px; 
    color:#ed1c24; font-weight: 700;}
.dealer-info-detail .email-icon:before{ background: url('../images/email-icon.png') no-repeat; height:22px ; width: 31px; content:""; position:absolute; left:0px; top:0px;}
.dealer-info-block .top-address-icon{background: url('../images/address-red-icon.png') no-repeat; height: 26px; width:21px; display: inline-block; margin-right: 20px; vertical-align: middle;}
.dealer-info-block .top-email-icon{background: url('../images/email-icon.png') no-repeat; height:22px ; width: 31px;display: inline-block;vertical-align: middle; padding-top: 5px;}
.dealer-car-block .car-information h2 .car-installment{ line-height: 1;}
.dealer-car-listing .installment-type{ display: block; text-align: right; line-height: 1;}
.dealer-car-block .car-info-red h2.car-price:before{background:#ed1c24;}
.dealer-car-block .car-info-red h2.car-price a{ color: #ed1c24;}
.dealer-car-block .car-info-red h2.car-price a .badge{background:#ed1c24; color: #fff; margin-left: 8px; border-radius: 4px; padding: 4px;  font-size:12px; 
 line-height: 1; }
.dealer-car-block .car-info-red h2 .car-installment{color: #ed1c24;}
.dealer-car-block .car-terms{ display: block; font-size: 14px; line-height: 1.2;color: #ed1c24; font-weight: 700;}
.dealer-car-block .car-image{ height: 200px; overflow: hidden;}
.dealer-car-block .car-box{ min-height: 410px;}
.dealer-car-block refine-by-brand{ position: relative;}
.car-info-bottom{ margin-top: 10px;}
.car-info-bottom .car-info-bottom-left{ width:calc(100% - 55px); display: inline-block; vertical-align: middle;}
.car-info-bottom .btn-gp{ background-color: #f1f1f1; border-color: #f1f1f1;font-size: 13px; color:rgba(0,0,0,0.7); line-height: 1;padding:6px 14px; font-weight:700; margin-top: 10px; }
.car-info-bottom .car-features{ margin-top: 0;}
.arrow-down{ position:absolute; right:-30px;  top: 50%; height: 10px; width: 18px; margin-top: -9px; border: none !important; 
    background:url('../images/arrow-down.png') no-repeat !important; z-index: 1;}
.btn-refine.btn-selected{background-color:#ed1c24; color: #fff; border-color:#ed1c24; }
.dealer-car-block .refine-by-brand a.selected{ border: 1px solid #ed1c24}
.dropdown-selected .select2-container .select2-selection--single{ border-color:#ed1c24 }
.dropdown-selected .select2-container--default .select2-selection--single .select2-selection__rendered{ color: #ed1c24; }
.btn-sort.btn-selected{color: #ed1c24; border:1px solid #ed1c24; background-color:  #fff;}
.dealer-container{ height: 500px;}
.dealer-popup-detail{ border-left:1px solid #e6e6e6; padding-left:15px; }
.dealer-popup-detail p{ margin-bottom: 15px; font-size: 16px; line-height: 1;}
.dealer-popup-detail p strong{ font-weight: 700;}
.btn-blue{ width: 100%;  background-color: #00aeef; border-color: #00aeef; color: #fff; font-size: 13px; 
    font-weight: 700;  padding: 7px 0; line-height: 1; margin-bottom: 15px;}
.btn-blue:hover, .btn-blue:focus{ background-color:#fff;  color: #00aeef;}
.car-dealer-features .nav-tabs.nav-justified>li{ float: left; width: auto; }
.car-dealer-features .nav-tabs.nav-justified>li a{padding: 15px 30px;}
.car-dealer-features .tab-content{  padding: 20px 0;}
.car-dealer-features .table tbody td{ font-weight: 400; padding:10px 20px ;}
.car-dealer-features .table-striped>tbody>tr:nth-of-type(even){ background-color: #fff;}
.car-dealer-features .table-striped>tbody>tr:nth-of-type(odd){ background-color: #f7f7f7;}
.car-dealer-features  .table tbody tr{ border-bottom: none;}
.back-top{ border-color: #d7d7d7;  font-size: 16px; color: #969696; width: 100%;}
.owl-carousel.DealerCarSlider {height:auto; overflow: hidden;}
.owl-carousel.DealerCarSlider .owl-item, .owl-carousel.DealerCarSlider .item {}
.owl-carousel.DealerCarSlider .owl-item img { transform-style: initial;height: 100%;object-fit: cover;}
.owl-carousel.DealerCarSlider .owl-thumb-item img {width: 150px;height: auto;}
.owl-carousel.DealerCarSlider .owl-thumbs { position: absolute;top: 20%;right: 0; width: 120px;padding: 0;}
.owl-carousel.DealerCarSlider .owl-thumb-item {display:block;border: none;background: none;padding: 0;opacity: .8;}
.owl-carousel.DealerCarSlider .owl-thumb-item.active {opacity: 1;}
/******************Dealer Page Css start here***************/

/******************Dealer Detail Page Css start here***************/
.dealer-detail-info .dealer-popup-detail{ margin-top: 20px; }

