 /***************************************************************************************
    *MEDIA QUERY FOR DEVICE 
***************************************************************************************/




@media screen and (min-width:768px){
/******Common css start ******/
.container-padding{  padding: 0 15px;}        
/******Common css End ******/
    
/******header css start ******/        
header{padding: 10px 0 20px;}    
header .logo{ margin-top: 10px; width: auto;}    
header nav{ float:right}  
.menu-toggle{ display: none}    
/******header css end ******/        
    
/******footer css start ******/    
 footer .footer-top h4{ font-size: 13px;}    
/******footer css start ******/      
    
/******home page slider css start ******/    
.home-page-slider{ padding: 25px 0;}    
.home-page-inner{ margin:0;}    
.home-page-slider .owl-carousel.owl-loaded{ padding-top:40px; }    
.home-page-slider .owl-nav{ position: absolute; top: 50%; width:100%; margin-top:-28px; display: block}    
.home-page-slider .owl-nav .owl-prev{ display:none;}
.home-page-slider .owl-nav .owl-next{ display:none;}
.home-page-slider .owl-dots{  top:0px; right: 0px; line-height: 11px; text-align: right;}
/******home page slider css end ******/        
    
/************** special car css start here **************/
.special-car-block{ padding: 30px 0;}    
.special-car-block h2{ font-size: 30px;}    
.special-car-block .special-car-filter{ margin-right: 40px; width: auto;}
.special-car-block .special-car-filter label{ font-size: 18px;}
.special-car-block .owl-nav .owl-prev{left:0px;}
.special-car-block .owl-nav .owl-prev:before{font-size: 52px;}
.special-car-block .owl-nav .owl-next{ right:0px;}
.special-car-block .owl-nav .owl-next:before{font-size: 52px;}    
.num{ right: 30px;}    
/************** special car css end here **************/
    
/************** special car listing start here **************/
.car-listing-block{ padding: 30px 0}    
.car-listing-block .car-result{font-size: 18px; line-height: 1; text-align: left}    
.car-listing-block .car-result span{ display:inline-block;}    
/************** special car listing end here **************/    

/************** Footer css start **************/
footer h4{ margin-bottom: 30px;}    
.footer-bottom{ padding: 18px 0; font-size: 13px; line-height: 1;}
.footer-bottom p{ color: #fff;line-height: 1;}
.footer-bottom ul{ margin-left: 3px; margin-bottom:0px;} 
.footer-bottom ul li{border-left: 1px solid #fff;}
.footer-bottom ul li a{ display: block; color: #fff;}
.footer-bottom ul li a:focus, .footer-bottom ul li a:hover{  color: #fabe14;}
/************** Footer end start **************/ 
    
/******New car detail page css start ******/    
.new-car-detail-slider{ height: 374px;}   
.new-car-detail-name{font-size: 30px; line-height: 1.2;}    
.new-car-detail-price{ width: 50%; margin-right: -4px; display: inline-block;vertical-align: top; margin-top:0; margin-bottom: 0; }    
.new-car-feature-info{ width: 50%; margin-right: -4px; display: inline-block; text-align: right;}    
.new-car-tabs .tab-content h4{ font-size:22px;}  
.new-car-feature-info .btn-default{ font-size:14px;}  
.new-car-detail-features div{ font-size: 14px;line-height: 1.2; }
.new-car-detail-features div span{ font-size: 16px; display: block;}
    .new-car-tabs .nav-tabs.nav-justified>li{ float: none;}    
.new-car-tabs .nav-tabs.nav-justified>li>a{ font-size: 15px;padding: 15px 22px;border-right: 10px solid #fff;}   
.new-car-tabs  .nav-tabs>li.active>a, .new-car-tabs .nav-tabs>li.active>a:focus, .new-car-tabs  .nav-tabs>li.active>a:hover{border-right: 10px solid #fff;}    
.new-car-detail p{font-size: 16px;}    
.thumb-text{ font-size: 16px;}    
.new-car-tabs .owl-nav{margin-top: -16px;}
.new-car-tabs .owl-nav .owl-prev{left:20px;}
.new-car-tabs .owl-nav .owl-prev:before{font-size: 32px;}
.new-car-tabs .owl-nav .owl-next{right: 20px;}
.new-car-tabs .owl-nav .owl-next:before{ font-size: 32px;}
.new-car-tabs .panel-heading a { font-size: 16px;}    
.new-car-tabs .panel-body .table tr td,  .new-car-tabs .panel-body .table tr th{ font-size: 16px;}    
.car-interior-slider, .safety-slider{ margin-bottom: 0px;}    
.new-car-detail-slider .owl-nav{  margin-top: -16px;}
.new-car-detail-slider .owl-nav .owl-prev{left:20px;}
.new-car-detail-slider .owl-nav .owl-prev:before{font-size: 32px;}
.new-car-detail-slider .owl-nav .owl-next{right: 20px;}
.new-car-detail-slider .owl-nav .owl-next:before{ font-size: 32px;}
    
/******New car detail page css end ******/          
    
}

@media screen and (min-width:991px){
/******Common css start ******/
.container-padding{  padding: 0 30px;}        
/******Common css End ******/
    
/******header css start ******/    
header nav{ margin-left: 30px;float: left;}
header nav ul li a{ margin-right: 14px;}    
.dealership-block span{ font-size: 10px;}    
.head-info a{ margin-left: 15px;}    
.num{ right: 30px;}    
/******header css end ******/        

/******New car detail page css start ******/    
.new-car-detail-price h2{ font-size: 33px;} 
/******New car detail page css end ******/            
    
    
}

@media screen and (min-width:1200px){
    
/******header css start ******/        
header nav{ margin-left: 60px; margin-top: 40px;}
header nav ul li a{font-size: 15px; margin-right: 20px;}
.dealership-block span{ font-size: 12px;}    
.head-info a{ margin-left: 20px;}    
/******header css end ******/ 
    
/******footer css start ******/    
 footer .footer-top h4{ font-size:23px;}    
/******footer css start ******/        

/******home page slider css start ******/    
.home-page-slider .owl-nav .owl-prev{ left: -6%; display: block;}
.home-page-slider .owl-nav .owl-next{ right:-6%;display: block;}        
/******home page slider css end ******/  

/******New car detail page css start ******/    
.new-car-detail-price h2{ font-size: 33px;} 
.new-car-feature-info .btn-default{ font-size:16px;}  
.new-car-tabs .tab-content h4{ font-size:24px;}      
/******New car detail page css end ******/            
    
    
    
}

@media screen and (min-width:1349px){
    
/******home page slider css start ******/    
.home-page-slider .owl-nav .owl-prev{ left: -7.5%;display: block;}
.home-page-slider .owl-nav .owl-next{ right:-7.5%;display: block;}        
/******home page slider css end ******/        
    
}

@media screen and (min-width:1400px){

/******home page slider css start ******/    
.home-page-slider .owl-nav .owl-prev{ left: -10%}
.home-page-slider .owl-nav .owl-next{ right:-10%}    
/******home page slider css end ******/ 
    
/******New car detail page css start ******/    
.new-car-detail-price h2{ font-size: 37px;}    
/******New car detail page css end ******/            
    
    
}