 /* CSS Document */
 /***************************************************************************************
	GENEGRAL LAYPOUT GUIDELINES
	LAYOUT WIDTH :1170
	FONT: Lato
		font-family: 'Lato', sans-serif;
		Available Font Weight and Styles:  100,100i,300,300i,400,400i,700,700i,900,900i ;
	COLOR: #707070;
***************************************************************************************/


/*Global css Start *************************/
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0 auto; padding: 0; border: 0; font-size: 100%;vertical-align: baseline;}
input[type=text],input[type=email],input[type=tel],input[type=url],input[type=search] {appearance: none;-moz-appearance: none;-webkit-appearance: none;}
html, body{font-family: 'Lato'; font-size: 16px;color:#707070; line-height: 22px; margin: 0; padding: 0; font-weight:400;overflow-x: hidden; overflow-y: auto;}
.page-wrapper{min-height:100%;background:#fff;}
input{text-shadow: none;}
a{ outline:none; text-decoration: none;-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;}
img{max-width: 100%;height: auto;}
a:focus, a:hover, button:focus{outline:none; text-decoration: none}
ul, li, p{list-style: none;margin:0; padding:0;}
/*Global css End ***************************/


/*Common css Start ************************************/
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{background: inherit;color:inherit;}
.btn.active, .btn:active{box-shadow:none;}
.btn{padding:9px 15px 10px 15px;border-radius:5px;font-size:16px;color:#fff;font-weight:400;line-height: 24px;}
.btn-default{border:1px solid #464646;background: none;color:#464646;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus{border-color:#fabe14;color:#fabe14;background:none;outline: none;}
.btn-lg{padding-left:40px;padding-right:40px;}
.btn-sm{padding:4px 15px 5px;line-height: 1.42857143;}
.btn-red{border:1px solid #ed1c24;background: #ed1c24;font-weight:900;text-transform: uppercase;}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red:active:focus{background: none;color:#ed1c24;}
.btn-white{border:1px solid #fff;background:none;;text-transform:capitalize;}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white:active:focus{background: #fff;color:#ed1c24;}
.btn-sort{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding-top: 4px;padding-bottom: 5px;}
.btn-sort:hover, .btn-sort:active, .btn-sort:focus{color:#ed1c24;border-color:#ed1c24;}
.btn-refine{border:1px solid #e1e1e1;color:#969696;background: #fff;font-size: 14px;padding-top: 4px;padding-bottom: 5px;}
.btn-refine:hover, .btn-refine:active, .btn-refine:focus{color:#fff;border-color:#ed1c24;background: #ed1c24;}
.btn-green{font-size: 20px; line-height: 24px; font-weight: 700; color: #fff; background: #77c80e; border: 1px solid #77c80e; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; width: 100%; padding: 10px;text-transform: uppercase;}
.btn-green:hover, .btn-green:focus{background: transparent;color: #77c80e;}
.btn-enquiry{font-size: 20px; line-height: 24px; font-weight: 700; color: #fff; background: #fabe14;border: 1px solid #fabe14;  border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; width: 100%; padding: 10px;text-transform: uppercase;}
.btn-enquiry:hover, .btn-enquiry:focus{background:#fff;color: #fabe14;border: 1px solid #fabe14;}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #707070;
  opacity: 1;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #707070;
  opacity: 1;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
}
input:focus{outline:none;}
.form-control{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; font-weight: 400; color: #969696; height: auto; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border: 1px solid #e9e9e9;}
.form-control:focus{box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; border-color: rgba(0,0,0,0.60)}
label{font-size: 16px; line-height: 20px; font-weight: 400; color: #666666; padding-bottom:5px;}


.d-i-b{display: inline-block;}
.d-b{display:block;}
.p-r-n{padding-right: 0;}
.p-l-n{padding-left: 0;}
.m-r-10{margin-right: 10px;}
.m-b-10{margin-bottom:10px;}
.m-b-15{margin-bottom:15px;}
.m-t-5{margin-top:5px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-t-30{margin-top:30px;}
.m-l-15{ margin-left: 15px}
.section-padding{padding: 50px 0;}
.bg-gray{background: #f4f4f4;}
.text-white{color:#fff;}
.visible-sm-xs{display:none !important;}
.small-text{font-size:14px;}
.container-padding{  padding: 0 15px;}    

/*Common css End *************************************/


/************** Header css Start **************/
header{ background: #fabe14; padding: 10px 0;}
header .logo{ display: block; float: left; width: 120px;}
header nav{ float: left; margin-left: 60px; margin-top: 40px;}
header nav .list-inline>li{ padding: 0;}
header nav ul li a{ border-radius: 4px; border: 1px solid #000; color: #000; font-size: 15px; line-height: 1; font-weight: 500; padding:7px 20px; margin-right: 20px;display: block;}
header nav ul li a:hover, header nav ul li a:focus{background: #000; color: #fff;}
header nav ul li a.active, header nav ul li a.active:hover{background: #000; color: #fff;}
header nav ul li a.selected{ background: #f00315; color: #fff; border:1px solid #f00315;}
header .head-right{ float: right;}
.dealership-block{ margin-bottom: 25px;}
.dealership-block span{ font-size: 12px; font-weight: 400; line-height: 1; font-style: italic; color: #4d4c40; display: inline-block;vertical-align: bottom}
.dealership-block img{ display: inline-block; vertical-align: bottom; margin-left: 15px;}
.head-info{ float: right;}
.head-info a{ display:block; float: left; color: #fff; margin-left: 20px;}
.head-info a:first-child{ margin-left: 0;}
.head-info a i{ font-size: 24px; margin-right: 10px;}
.head-info a span{ font-size: 15px; line-height:24px; text-transform: uppercase;}
.menu-toggle{ display: block; width: 7px;float: right; margin-top: 8px;}
.menu-toggle span{ display: block; width: 7px; height: 7px; border-radius: 50%; background: #fff; margin-top: 4px;}
.menu-toggle span:first-child{ margin-top: 0;}
.menu {background:#000;position: absolute; top:100% !important;-webkit-transform: scale(0);transform: scale(0); -webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;transition:transform 0.2s;transition: transform 0.2s, -webkit-transform 0.2s;z-index: 96;min-width: 220px;}
.menu.show{ -webkit-transform: scale(1);transform: scale(1); }
.menu.menu--right{-webkit-transform-origin: top right;transform-origin: top right; }
.menu li{ display: block; padding:10px 15px;margin-right: 0;}
.menu li{ border-top:1px solid #fff; }
.menu li:first-child{ border-top:none;}
.menu li a{ color: #fff;  text-transform: uppercase; font-size:12px; display: block; line-height: 1;}



/************** Header css end **************/

/************** home page slider css start here **************/
.home-page-slider{padding: 3px 0 14px;}
.home-page-inner{ margin: 0 -15px;}
.home-page-slider .owl-carousel.owl-loaded{ padding-bottom:25px; }
.home-page-slider .owl-dots{ position: absolute; bottom:0px;line-height: 11px; width: 100%; text-align: center;}
.home-page-slider .owl-dot {display: inline-block; height: 11px;width:11px;   margin: 0px 7px;border-radius: 50%; background: #eaeaea;}
.home-page-slider .owl-dot.active, .home-page-slider .owl-dot.owl-controls.clickable .owl-dot:hover{ background: #fabe14;}
.home-page-slider .owl-nav{ display: none;}
.home-page-slider .owl-nav .owl-prev{ left:-10%;font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0px;  }
.home-page-slider .owl-nav .owl-prev:before{content: '\e005';font-size: 68px; color: #eaeaea;}
.home-page-slider .owl-nav .owl-prev:hover:before , .home-page-slider .owl-nav .owl-prev:focus:before{ color:#fabe14;}
.home-page-slider .owl-nav .owl-next{ right:-10%; font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center;position: absolute;  font-size: 0px;}
.home-page-slider .owl-nav .owl-next:before{  content: '\e001';font-size:68px; color: #eaeaea;}
.home-page-slider .owl-nav .owl-next:hover:before , .home-page-slider .owl-nav .owl-next:focus:before{ color:#fabe14;}
/************** home page slider css end here **************/

/************** special car css start here **************/
.special-car-block{ background: #fafafa; padding:20px 0;}
.special-car-block h2{ font-size: 25px; line-height: 1; color: #afafaf; font-weight: 900; margin-bottom: 10px;}
.special-car-block .special-car-filter{ display: inline-block; width: 47%;}
.special-car-block .special-car-filter label{ font-size: 14px; line-height: 1; color: #666666; font-weight: 600; margin-bottom: 2px;}
#special-car-slider .owl-item img{ max-width:100%; width: auto; margin: 0 auto;}
.car-special-text{ display:inline-block; font-size: 14px; color: #4b4b4b; font-weight: 600; line-height: 1.1;}
.car-special-text span{ display: block; color: #ed1c24; font-size: 13px;}
.car-special-text.yellow-text span{ color:#fabe14; }
.special-car-block .owl-nav{ position: absolute; width: 100%; top: 50%; margin-top: -26px;}
.special-car-block .owl-nav .owl-prev{left:-14px;font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0px;}
.special-car-block .owl-nav .owl-prev:before{content: '\e005';font-size:30px; color: #eaeaea;}
.special-car-block .owl-nav .owl-prev:hover:before, .special-car-block .owl-nav .owl-prev:focus:before{color:#fabe14;}
.special-car-block .owl-nav .owl-next{ right:-14px; font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center;position: absolute;  font-size: 0px;}
.special-car-block .owl-nav .owl-next:before{ content: '\e001';font-size:30px; color: #eaeaea;}
.special-car-block .owl-nav .owl-next:hover:before , .special-car-block .owl-nav .owl-next:focus:before{ color:#fabe14;}
.num{ display: block; text-align: center; line-height: 1; bottom: 5px; position: absolute; right: 10px; font-size: 14px; font-weight: 700; color:#4b4b4b;}
.num span{ display: block;}
/************** special car css end here **************/

/************** special car listing start here **************/
.car-listing-block{ padding: 30px 0;}
.car-listing-block .car-result{ float: left; font-size: 14px; line-height: 1; text-align: center;}
.car-listing-block .car-result span{ display: block;}
.car-sorting-block{ float: right;}
.car-sorting-block .car-listing-sort{ float: left; margin-left: 40px;}
.car-sorting-block .car-listing-sort:first-child{ margin-left: 0;}
.car-sorting-block .car-listing-sort label{ font-size: 18px;color: #666; margin-right:15px; font-weight: 700; padding-bottom: 0;vertical-align: middle;}
.car-listing-sort-mob{ margin-bottom: 15px;}
.car-listing-sort-mob label{font-size: 16px;color: #666; margin-right:15px; font-weight: 700; padding-bottom: 0;vertical-align: middle;}
.btn-sorting{ border-radius: 4px; background: #fff; line-height: 1; padding: 8px 16px; border: 1px solid #e1e1e1; font-size: 14px; color: #969696;}
.btn-sorting.selected{ border:1px solid #fabe14; color: #fabe14;}
.btn-sorting:hover, .btn-sorting:focus{border:1px solid #fabe14; color: #fabe14;}
.car-sorting-block .car-listing-sort select{ display: inline-block;}
.car-listing-block .select2-container{ width: 230px !important;}
.car-listing-block .select2-container--default .select2-selection--single{ height:30px;border:1px solid #d9d9d9;}
.car-listing-block .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height:30px; color:#969696; font-size:16px;padding-right: 25px; padding-left:15px;}
.car-listing-block .select2-container--default .select2-selection--single .select2-selection__arrow{ border-left:1px solid #d9d9d9; width: 25px; height:30px; top:0;}
.car-listing-block .select2-container--default .select2-selection--single .select2-selection__arrow b{ border: none;font-family: "fontello";
      font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
      text-decoration: inherit; width:100%;margin:0; text-align: center; top: 0px; color: #d9d9d9; left: 0px; line-height:30px;}
.car-listing-block .select2-container--default .select2-selection--single .select2-selection__arrow b:before{content: '\e008'; font-size: 14px}
.car-listing-block .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{content: '\e003'; }
.car-listing-dropdown{ clear: both; margin-top: 20px;}
.car-listing-dropdown .select2-container{ width: 100% !important;}
.special-car-listing{ margin-top: 30px;}
.special-car-list-box{ border-radius: 4px; overflow: hidden; min-height: 300px; padding-bottom: 20px; width: 100%; box-shadow: 0 2px 8px rgba(0,0,0,0.3);}
.car-seleted{border: 3px solid #000;}
.special-car-list-box .car-list-box-image{ display: block; overflow: hidden; height: 120px; }
.special-car-list-box .car-list-box-image a{ display: block; height: 100%; width: 100%;}
.special-car-list-box .car-list-box-image img{ display: block; width: 100%;}
.special-car-list-box .car-listing-name{ display: block; padding:20px 0 20px 20px;  font-size: 18px; font-weight: 900;line-height: 1.1; text-transform: uppercase; color:#000;}
.special-car-list-box .car-listing-name a{color:#000;}
.special-car-list-box .car-listing-name a:hover, .special-car-list-box .car-listing-name a:focus{color:#000;}
.car-listing-price{ padding-right: 20px; margin-bottom: 20px;}
.car-listing-price .car-price{ border-left:4px solid #ed1c24; padding-left: 20px;display: inline-block; font-size: 22px; line-height: 1.2;vertical-align: middle; font-weight: 900; color:#ed1c24; }
.car-listing-price .badge{ background:#ed1c24; border-radius: 2px;  font-size: 12px; line-height: 1; color: #fff; padding:5px; }
.car-installment-price{  font-size: 12px; line-height: 1; color:  #ed1c24;}
.car-installment-price span{ display: block; color: #bdbdbd; padding-top: 5px;}
.car-installment-price span sup{ top: -2px;}
.car-listing-features{padding: 0 20px; }
.car-listing-features .car-listing-features-left{ display:inline-block; vertical-align: middle; width: calc(100% - 50px);}
.car-listing-features-left ul li{  font-size: 14px;color: rgba(0,0,0,0.6); display: inline-block; font-weight: 700;border-left: 1px solid rgba(0,0,0,0.6); padding:0 10px;}
.car-listing-features-left ul li:first-child{ border-left: none; padding-left: 0;}
.btn-gp{ border-radius: 4px; background: #f1f1f1; font-size: 13px; padding: 7px 12px;font-weight: 700; color: #000;}
/************** special car listing end here **************/


/************** Footer css start **************/
footer{ background: #252525;}
footer .footer-top{ padding: 43px 0 36px; border-bottom: 1px solid #4b4b4b;}
footer h4{ font-size:23px; font-weight: 700; color: #fabe14; margin-bottom:20px; text-transform: uppercase;}
footer h4 span{ font-weight: 300;color:#707070; margin-left: 5px;}
.footer-dealer select{ display: block; width: 100%;}
.footer-dealer .select2-container--default .select2-selection--single{ height: 40px;}
.footer-dealer .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 40px; color:#969696; font-size:16px;padding-right: 36px; padding-left:15px;}
.footer-dealer .select2-container--default .select2-selection--single .select2-selection__arrow{ border-left:1px solid #d9d9d9; width: 36px; height: 40px; top:0;}
.footer-dealer .select2-container--default .select2-selection--single .select2-selection__arrow b{ border: none;font-family: "fontello";
      font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
      text-decoration: inherit; width:100%;margin:0; text-align: center; top: 0px; color: #d9d9d9; left: 0px; line-height:40px;}
.footer-dealer .select2-container--default .select2-selection--single .select2-selection__arrow b:before{content: '\e008';}
.footer-dealer .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{content: '\e003'; }
.footer-dealer .btn-yellow{font-size: 16px; color: #fff; line-height: 1; background: #fabe14; border:1px solid #fabe14;padding:11px 20px;  border-radius:4px; margin:20px 0 28px;}
.footer-dealer .btn-yellow:hover, .footer-dealer .btn-yellow:focus{ background: #252525; color:#fabe14;}
footer .btn-view-all{border-radius: 4px; border:1px solid #595a5a; padding: 12px 24px; color: #969696; font-size: 15px; line-height: 1;}
footer .btn-view-all i{ margin-left:15px;  margin-right: 0;}
footer .btn-view-all:hover, footer .btn-view-all:focus{background: #fabe14; border:1px solid #fabe14; color:#fff;}
.footer-links{ min-height: 200px;}
.footer-links li{ display: block;  margin-bottom: 15px;}
.footer-links li a{ color: #fff; font-size: 14px; display: block; line-height: 1; font-weight: 600; text-transform:uppercase;}
.footer-links li a:hover, .footer-links li a:focus{ color: #fabe14;}
.footer-links li span{ color: #fff; font-size: 12px; color: #888;}
.footer-dealer-logo{ display: block; margin-bottom: 26px;}
.connect-with-block h6{ font-size: 13px; color: #fff; font-weight: 700; margin-bottom: 20px;}
.connect-with-block p{ font-size: 13px; color: #888; line-height: 1.2; margin-bottom: 20px;}
.connect-with-block .btn{ border-radius: 4px; border:1px solid #595a5a; margin-bottom: 20px; padding: 12px 24px;color: #969696; display: block; font-size: 15px; line-height: 1; text-align: center;}
.connect-with-block .btn:hover, .connect-with-block .btn:focus{background: #fabe14; border:1px solid #fabe14; color:#fff;}
.footer-bottom{ padding: 18px 0; font-size: 13px; line-height: 1;}
.footer-bottom p{ display: inline-block;color: #707070; line-height: 1.2;}
.footer-bottom ul{ display: inline-block; margin-left: 3px; margin-bottom: 20px;} 
.footer-bottom ul li{ margin: 0 0 5px; padding: 0 3px; border-left: 1px solid #707070;}
.footer-bottom ul li:first-child{ border: none;}
.footer-bottom ul li a{ display: block; color: #707070;}
.footer-bottom ul li a:focus, .footer-bottom ul li a:hover{  color: #fabe14;}
.footer-mob-top{ padding:25px 0 0; }
.footer-mob-top .nav-tabs{ border-bottom: 1px solid #404040; padding:0 15px 20px; }  
.footer-mob-top .nav-tabs>li{ width: 48.5%; margin-left: 3%;}
.footer-mob-top .nav-tabs>li:first-child{ margin-left: 0;}
.footer-mob-top .nav-tabs>li>a{ color:#9b9b9b; border-radius: 4px; border:2px solid #555555; font-size: 14px; line-height: 1; text-align:center;}
.footer-mob-top .nav-tabs>li.active>a, .footer-mob-top .nav-tabs>li.active>a:focus, .footer-mob-top .nav-tabs>li.active>a:hover{background: none; border:2px solid #fabe14; color:#fabe14;}
.footer-mob-top .tab-content{ padding: 20px 15px;border-bottom:1px solid #404040;}
.footer-mob-top .footer-links{ min-height: 90px;}
.footer-mob-top .footer-links li{ display: inline-block; width: 49%; margin-bottom: 5px;}
.footer-mob-top .panel-group{  margin-bottom: 0;}
.footer-mob-top .panel-group .panel{ border-bottom:1px solid #404040; background: none; border-top: none; border-radius: 0px; border-left:none; border-right:none;}
.footer-mob-top .panel-default>.panel-heading{ border: none; background: none; border-radius: 0px;}
.footer-mob-top .panel-title{ font-size: 23px; color: #fabe14;}
.footer-mob-top .panel-title a{ display: block;}
.footer-mob-top .panel-title a i{ float: right; color: #fff;}
.footer-mob-top .panel-title a span{font-weight: 300;color: #707070;margin-left: 5px;}
.footer-mob-top .panel-default>.panel-heading+.panel-collapse>.panel-body{ border: none;}
.mob-dealer-logo{ display: block; text-align: center; padding:20px 0;border-bottom:1px solid #404040;}
.mob-dealer-logo a{ display: inline-block; margin-bottom: 0;}
.mob-dealer-logo a.footer-dealer-logo{ max-width:85px;}
.mob-dealer-logo a.imperial-logo{max-width:160px; margin-left: 15px;}
/************** Footer css end **************/

/************** New car page css start here **************/
.new-car-pricing .car-price{ border-left: 4px solid #000; color: #000;}
.new-car-pricing .car-installment-price{ margin-left:25px; color: #000;}
.new-car-pricing .car-installment-price span{ display: inline-block; margin-left: 10px;}
.new-car-listing, .new-car-detail {transition: width 0.5s ease 0s;-webkit-transition: width 0.5s ease 0s;-moz-transition: width 0.5s ease 0s;
    -o-transition: width 0.5s ease 0s;}
.new-car-detail{ padding-top: 30px;}
.new-car-top-slider{ border-bottom: 7px solid #fabe14; position: relative; margin-bottom: 20px;}
.new-car-detail-slider{ height:auto; overflow: hidden;}
.new-car-detail-slider .owl-nav{ width:60%; position: absolute; top: 50%; left: 0; margin-top: -10px;}
.new-car-detail-slider .owl-nav .owl-prev{font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0px; left:0px;}
.new-car-detail-slider .owl-nav .owl-prev:before{content: '\e004'; color: #fff; font-size:20px;line-height: 1;}
.new-car-detail-slider .owl-nav .owl-next{ font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0; right:0px;}
.new-car-detail-slider .owl-nav .owl-next:before{ content: '\e002';color: #fff; font-size:20px; line-height: 1;}
.new-car-detail-slider .owl-thumbs{ position: absolute; right: 0px; top: 0px; width: 40%;}
.new-car-detail-slider .owl-thumbs .owl-thumb-item{ display: inline-block; width: 50%; background: none; border:none; margin: 0; padding:0; }
.new-car-detail-slider .owl-dots{counter-reset: slides-num;position: absolute; width: 60%; text-align: right; color: #fff; padding-right:20px; bottom:20px;}
.new-car-detail-slider .owl-dots:after{content: counter(slides-num);display: inline-block;font-size: 16px;vertical-align: middle; padding-left: 5px;}
.new-car-detail-slider .owl-dot{display: inline-block;counter-increment: slides-num;margin-right:0px;}
.new-car-detail-slider .owl-dot span{ display: none;}
.new-car-detail-slider .owl-dot.active{}
.new-car-detail-slider .owl-dot.active:before{content:  counter(slides-num)  "/" ; vertical-align: middle;font-size: 16px;left: 0;top: 0;}
.new-car-view{ display: block; font-size: 11px; color:#bdbdbd; line-height: 1}
.new-car-view span{ font-weight: 700;color:#fabe14;}
.new-car-detail-name{  font-size:22px; line-height: 1.2; color:#000; text-transform: uppercase; font-weight: 700;}
.new-car-detail-price{ display:block; border-left:4px solid #000; padding-left: 15px; width:100%; margin:15px 0;}
.new-car-detail-price h2{ font-size:25px; line-height:1.1; font-weight: 900; color: #000;}
.new-car-detail-price .car-installment-price{ color: #000;}
.new-car-detail-price .car-installment-price span{ display: inline-block; margin-left: 5px;}
.new-car-feature-info{ display:block; text-align: left;}
.new-car-feature-info .btn-default{ border:1px solid #e1e1e1; color:rgba(0,0,0,0.6); font-size: 16px; font-weight: 700;line-height: 1; padding: 11px 20px; margin-bottom: 20px;}
.new-car-detail-features{ display: block; margin:30px 0 20px;  }
.new-car-detail-features div{ display: inline-block; text-align: center; font-size: 12px;line-height: 1.2; color:#585858; width: 25%; margin-right: -4px;}
.new-car-detail-features div span{ font-size: 13px; display: block; font-weight: 600; color:#fabe14;}
.more-text{ color:#fabe14;}
.detail-type-slider .owl-thumbs{ position: absolute; right: 0px; top: 0px; width:100%;}
.detail-type-slider .owl-thumbs .owl-thumb-item{ display: inline-block; width: 24.5%; background: none; border:none; margin: 0; padding:0; }
.new-car-tabs .nav-tabs.nav-justified{ margin-bottom: 10px;}
.new-car-tabs .nav-tabs.nav-justified>li{ float: left;}
.new-car-tabs .nav-tabs.nav-justified>li>a{ font-size: 10px; color:rgba(0,0,0,0.65); padding: 11px 5px; text-transform: uppercase; background: #f7f7f7; font-weight: 700;  line-height: 1; border-radius:0px; border: none; border-right: 4px solid #fff;}
.new-car-tabs  .nav-tabs>li.active>a, .new-car-tabs .nav-tabs>li.active>a:focus, .new-car-tabs  .nav-tabs>li.active>a:hover{background: #fabe14; color: #fff; border: none;border-right: 4px solid #fff;}
.new-car-tabs .tab-content{ background: #f7f7f7; padding:20px;}
.new-car-tabs .tab-content h4{ font-size:18px; line-height: 1; margin-bottom: 20px; color:#757575; font-weight: 300; }
.new-car-tabs .tab-content h4 span{ font-weight: 700; color:#fabe14;}
.new-car-tabs .tab-content p{ margin-bottom: 20px;}
.new-car-tabs .owl-nav{ width:100%; position: absolute; top: 50%; left: 0; margin-top: -10px;}
.new-car-tabs .owl-nav .owl-prev{font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0px; left:0px;}
.new-car-tabs .owl-nav .owl-prev:before{content: '\e004'; color: #fff; font-size: 20px;line-height: 1;}
.new-car-tabs .owl-nav .owl-next{ font-family: "fontello";font-style: normal; font-weight: normal;  speak: none; margin: 0;  height:auto;display: inline-block;
  text-decoration: inherit; margin:0; text-align: center; position: absolute; font-size: 0; right: 0px;}
.new-car-tabs .owl-nav .owl-next:before{ content: '\e002';color: #fff; font-size: 20px; line-height: 1;}
.new-car-tabs .panel{ background: none;border: none;box-shadow: none;border-radius: 0;}
.new-car-tabs .panel-heading{padding: 0;background: none;border-radius: 0;}
.new-car-tabs .panel-heading a {padding-top: 10px; font-size: 14px; padding-bottom: 10px; display: block; font-weight: 700;color: rgba(0,0,0,0.80);}
.new-car-tabs .panel-heading a[aria-expanded="true"]{color:#fabe14;}
.new-car-tabs .panel-heading a[aria-expanded="false"]:after{ float: right;content:'\e008'; font-family: "fontello";font-style: normal; font-weight: normal;  speak: none;}
.new-car-tabs .panel-heading a[aria-expanded="true"]:after{ color:#fabe14;float: right;content: '\e003';font-family: "fontello";font-style: normal; font-weight: normal;  speak: none;}
.new-car-tabs .panel-group .panel + .panel{    border-top: 1px solid #e6e6e6; margin-top: 0;}
.new-car-tabs .panel-body{ padding: 10px 0;}
.new-car-tabs .panel-group .panel-heading+.panel-collapse>.list-group,.new-car-tabs .panel-group .panel-heading+.panel-collapse>.panel-body{ border-top:none;}
.new-car-tabs .btn-download{ border:1px solid #fabe14; color: #fabe14; background: #fff;margin-left: 15px;}
.new-car-tabs .btn-download:hover, .new-car-tabs .btn-download:focus{ background: #fabe14; color: #fff; }
.car-color-image{ background: #fff; border-radius:4px; padding: 5px; display: block; margin-bottom: 20px;}
.thumb-text{ font-size: 14px; line-height: 1; display: none; font-weight: 700;}
.detail-thumb-slider{ margin-top: 30px;}
.detail-thumb-slider .owl-item{ display: inline-block;}
.detail-thumb-slider .owl-thumb-item{ background: none; margin: 0; padding: 0; border: none;}
.detail-thumb-slider .owl-item.thumb-active .car-color-image{box-shadow: 0 2px 8px rgba(0,0,0,0.3);/* -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3); -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.3);*/}
.detail-thumb-slider .owl-item.thumb-active .thumb-text{ display: block;}
.arrow-close{ display: none; background:#fff; position: absolute; right: 20px;top:0px; border:1px solid #e1e1e1; width:30px; line-height: 30px; height: 30px;border-radius:2px; }
.arrow-close i{ color: #000;line-height: 30px;}
.new-detail-page-block .new-car-detail{ padding-top:0;}
.new-car-detail p{font-size: 14px;} 
.new-car-tabs .panel-body .table tr td,  .new-car-tabs .panel-body .table tr th{ font-size: 14px;}    
.car-interior-slider, .safety-slider{ margin-bottom: 20px;}
/************** New car page css end here **************/





